<tables>
    <!-- Locations of indexes in the Bowtie mapper format -->
    <table name="sina_references" comment_char="#">
        <columns>value, path</columns>
        <file path="${__HERE__}/tool-data/sina_references.loc.sample" />
    </table>
</tables>