<?xml version="1.0"?>
<tables>
    <table name="sina_references" comment_char="#" allow_duplicate_entries="false">
        <columns>value, name, path</columns>
        <file path="tool-data/sina_references.loc"/>
    </table>
</tables>
