#key	build	description	path	annotations
#GRCh37_dbNSFP2.4	GRCh37	GRCh37 dbNSFP2.4	/depot/snpeff/dbNSFP2.4.txt.gz	SIFT_pred,Uniprot_acc
#GRCh38_dbNSFP3.1c	GRCh38	GRCh38 dbNSFP3.1c	/depot/snpeff/dbNSFP3.1c.txt.gz	SIFT_pred,Uniprot_acc
