<tables>
    <table name="snpsift_dbnsfp" comment_char="#" allow_duplicate_entries="False">
        <columns>dbkey, build, name, value, annotations</columns>
        <file path="tool-data/snpsift_dbnsfp.loc" />
    </table>
</tables>

