<tool id="spring_model" name="SPRING Model" license="MIT" version="@TOOL_VERSION@+galaxy@VERSION_SUFFIX@" profile="20.01">
    <description>complex structures</description>
    <macros>
        <import>macros.xml</import>
    </macros>
    <expand macro="requirements" />
    <command detect_errors="exit_code"><![CDATA[
    spring_model.py
        -a '$first_target'
        -b '$second_target'
        @pdb_source@
        -c '$cross'
        -o '$output'
    ]]>    </command>
    <inputs>
        <param name="first_target" format="hhr" type="data" label="First HHR target file" help="Threading result for target sequence using HHsearch." />
        <param name="second_target" format="hhr" type="data" label="Second HHR target file" help="Threading result for target sequence using HHsearch." />
        <param name="cross" format="tabular" type="data" label="Cross Reference" help="SPRING PDB Cross Reference as produced by SPRING Cross tool." />
        <expand macro="pdb_source" />
    </inputs>
    <outputs>
        <data format="pdb" name="output" label="SPRING Model Structure" />
    </outputs>
    <tests>
        <test>
            <param name="first_target" value="model/ACE2_HUMAN.hhr" ftype="hhr" />
            <param name="second_target" value="model/SPIKE_SARS2.hhr" ftype="hhr" />
            <conditional name="pdb_source">
                <param name="pdb_source_selector" value="history" />
                <param name="ffindex" value="model/pdb.ffindex" />
                <param name="ffdata" value="model/pdb.ffdata" />
            </conditional>
            <param name="cross" value="model/crossreference.txt" />
            <output name="output" file="model/sp|Q9BYF1|ACE2_HUMAN.sp|P0DTC2|SPIKE_SARS2.pdb" />
        </test>
        <test>
            <param name="first_target" value="model/ACE2_HUMAN.hhr" ftype="hhr" />
            <param name="second_target" value="model/SPIKE_SARS2.hhr" ftype="hhr" />
            <conditional name="pdb_source">
                <param name="pdb_source_selector" value="indexed" />
                <param name="pdb" value="pdb01_model" />
            </conditional>
            <param name="cross" value="model/crossreference.txt" />
            <output name="output" file="model/sp|Q9BYF1|ACE2_HUMAN.sp|P0DTC2|SPIKE_SARS2.pdb" />
        </test>
        <test>
            <param name="first_target" value="model/ACE2_HUMAN.hhr" ftype="hhr" />
            <param name="second_target" value="model/SPIKE_SARS2.hhr" ftype="hhr" />
            <conditional name="pdb_source">
                <param name="pdb_source_selector" value="indexed" />
                <param name="pdb" value="pdb02_model" />
                <param name="zipped" value="gz" />
            </conditional>
            <param name="cross" value="model/crossreference.txt" />
            <output name="output" file="model/sp|Q9BYF1|ACE2_HUMAN.sp|P0DTC2|SPIKE_SARS2_1.pdb" />
        </test>
    </tests>
    <help><![CDATA[

**What it does**

Creates protein complex model from HHsearch threading results.

    ]]>    </help>
    <expand macro="citations" />
</tool>