<tool id="spring_map" name="SPRING Map" license="MIT" version="@TOOL_VERSION@+galaxy@VERSION_SUFFIX@" profile="20.01">
    <description>with BLAST</description>
    <macros>
        <import>macros.xml</import>
    </macros>
    <expand macro="requirements" />
    <command detect_errors="exit_code"><![CDATA[
    spring_map.py
        @pdb_source@
        -l '$list'
        -c '$cross'
        -e $evalue
        -o '$output'
        -g '$log'
    ]]>    </command>
    <inputs>
        <expand macro="pdb_source" />
        <param name="list" type="data" format="tabular" label="PDB Chain Identifiers" help="List of PDB chains `PDB_CHAIN`." />
        <param name="cross" type="data" format="tabular" label="Cross Reference (unmapped)" help="Unmapped SPRING PDB Cross Reference as produced by SPRING Cross tool." />
        <param name="evalue" type="float" value="0.0" min="0.0" max="1.0" label="E-value Threshold" help="Specify an e-Value threshold to filter the alignment results" />
        <expand macro="logfile" />
    </inputs>
    <outputs>
        <data format="tabular" name="output" label="SPRING Map Cross Reference" />
        <data format="txt" name="log" label="SPRING Map Log">
            <filter>logfile</filter>
        </data>
    </outputs>
    <tests>
        <test expect_num_outputs="1">
            <conditional name="pdb_source">
                <param name="pdb_source_selector" value="history" />
                <param name="ffdata" value="cross/pdb.ffdata" />
                <param name="ffindex" value="cross/pdb.ffindex" />
            </conditional>
            <param name="list" value="map/chains.tabular" ftype="tabular" />
            <param name="cross" value="cross/reference.tabular" ftype="tabular" />
            <output name="output" file="map/mapped.reference.tabular" />
        </test>
        <test expect_num_outputs="2">
            <conditional name="pdb_source">
                <param name="pdb_source_selector" value="indexed" />
                <param name="pdb" value="pdb01_cross" />
            </conditional>
            <param name="list" value="map/chains.tabular" ftype="tabular" />
            <param name="cross" value="cross/reference.tabular" ftype="tabular" />
            <param name="logfile" value="true" />
            <output name="output" file="map/mapped.reference.tabular" />
        </test>
    </tests>
    <help><![CDATA[

**What it does**

Creates additional columns for the SPRING cross reference containing the chain identifier of the homologues from the template library.

    ]]>    </help>
    <expand macro="citations" />
</tool>