<tool id="spring_minz" name="SPRING Min-Z" license="MIT" version="@TOOL_VERSION@+galaxy@VERSION_SUFFIX@" profile="20.01">
    <description>filter operation</description>
    <macros>
        <import>macros.xml</import>
    </macros>
    <expand macro="requirements" />
    <command detect_errors="exit_code"><![CDATA[
        mkdir -p targets &&
        #for target in $targets
            ln -s '${target}' 'targets/${target.element_identifier}' &&
            echo '${target.element_identifier}' >> 'target_list' &&
        #end for
        #if $input_type.input_type_selector == "yes":
            mkdir -p ./inputs &&
            #for input in $input_type.inputs
                ln -s '${input}' 'inputs/${input.element_identifier}' &&
                echo '${input.element_identifier}' >> 'input_list' &&
            #end for
            spring_minz.py
            -tl target_list
            -tp targets
            -il input_list
            -ip inputs
            -m '$minscore'
            -c '$crossreference'
            -o '$output'
            -l '$log'
        #else
            spring_minz.py
            -tl target_list
            -tp targets
            -m '$minscore'
            -c '$crossreference'
            -o '$output'
            -l '$log'
        #end if
    ]]>    </command>
    <inputs>
        <param name="targets" format="hhr" multiple="true" label="Target profiles" help="Homology search result of target/query profiles in 'hhr' format." />
        <conditional name="input_type">
            <param name="input_type_selector" type="select" label="Identify interactions across sets?">
                <option value="yes" selected="True">yes</option>
                <option value="no">no</option>
            </param>
            <when value="yes">
                <param name="inputs" format="hhr" multiple="true" label="Input profiles" help="Homology search results of input profiles in 'hhr' format." />
            </when>
            <when value="no" />
        </conditional>
        <param name="crossreference" format="tabular" type="data" label="Cross reference" help="Cross reference of interacting proteins `first_id metadata_id second_id`." />
        <param name="minscore" type="integer" value="10" min="1" max="200" label="Score threshold" help="Matching interaction pairs with a score lower than this threshold will be excluded." />
        <expand macro="logfile" />
    </inputs>
    <outputs>
        <data format="tabular" name="output" label="SPRING min-Z Table" />
        <data format="txt" name="log" label="SPRING min-Z Log">
            <filter>logfile</filter>
        </data>
    </outputs>
    <tests>
        <test expect_num_outputs="1">
            <param name="targets" value="minz/NP_000282.1.hhr,minz/NP_000290.2.hhr,minz/NP_000548.2.hhr,minz/NP_000836.2.hhr" ftype="hhr" />
            <conditional name="input_type">
                <param name="input_type_selector" value="no" />
            </conditional>
            <param name="crossreference" value="minz/pdb70_random.txt" />
            <output name="output" file="minz/pdb70_result.0.txt" />
        </test>
        <test expect_num_outputs="1">
            <param name="targets" value="minz/NP_000282.1.hhr" ftype="hhr" />
            <conditional name="input_type">
                <param name="input_type_selector" value="yes" />
                <param name="inputs" value="minz/NP_000282.1.hhr,minz/NP_000290.2.hhr,minz/NP_000548.2.hhr,minz/NP_000836.2.hhr" ftype="hhr" />
            </conditional>
            <param name="crossreference" value="minz/pdb70_random.txt" />
            <output name="output" file="minz/pdb70_result.1.txt" />
        </test>
    </tests>
    <help><![CDATA[

**What it does**

This tool filters HH-search/HH-blits homology results through the protein interaction cross reference generated by SPRING. 
Putative interactions are identified by evaluating the min-Z score. 
The min-Z is the smaller of the two Z-scores for a pair of sequences matching an existing protein-protein complex structure.

    ]]>    </help>
    <expand macro="citations" />
</tool>
