<tool id="spring_cross" name="SPRING Cross" license="MIT" version="@TOOL_VERSION@+galaxy@VERSION_SUFFIX@" profile="20.01">
    <description>reference builder</description>
    <macros>
        <import>macros.xml</import>
    </macros>
    <expand macro="requirements" />
    <command detect_errors="exit_code"><![CDATA[
    spring_cross.py
        @pdb_source@
        -o '$output'
        -g '$log'
    ]]></command>
    <inputs>
        <expand macro="pdb_source" />
        <expand macro="logfile" />
    </inputs>
    <outputs>
        <data format="tabular" name="output" label="SPRING Cross Reference" />
        <data format="txt" name="log" label="SPRING Cross Log">
            <filter>logfile</filter>
        </data>
    </outputs>
    <tests>
        <test expect_num_outputs="1">
            <conditional name="pdb_source">
                <param name="pdb_source_selector" value="history" />
                <param name="ffindex" value="cross/pdb.ffindex" />
                <param name="ffdata" value="cross/pdb.ffdata" />
            </conditional>
            <param name="logfile" value="false" />
            <output name="output" file="cross/reference.tabular" />
        </test>
        <test expect_num_outputs="1">
            <conditional name="pdb_source">
                <param name="pdb_source_selector" value="indexed" />
                <param name="pdb" value="pdb02_cross" />
                <param name="zipped" value="gz" />
            </conditional>
            <param name="logfile" value="false" />
            <output name="output" file="cross/reference.tabular" />
        </test>
        <test expect_num_outputs="2">
            <conditional name="pdb_source">
                <param name="pdb_source_selector" value="indexed" />
                <param name="pdb" value="pdb01_cross" />
            </conditional>
            <param name="logfile" value="true" />
            <output name="output" file="cross/reference.tabular" />
        </test>
    </tests>
    <help><![CDATA[

**What it does**

Creates a 2-column cross reference between a list of input chains and all interacting chains found in the provided PDB database.
This reference is required as input for the SPRING min-Z calculator.

    ]]></help>
    <expand macro="citations" />
</tool>
