<tool id="spring_mcc" name="SPRING MCC" license="MIT" version="@TOOL_VERSION@+galaxy@VERSION_SUFFIX@" profile="20.01">
    <description>plot generator</description>
    <macros>
        <import>macros.xml</import>
    </macros>
    <expand macro="requirements" />
    <command detect_errors="exit_code"><![CDATA[
    spring_mcc.py
        -i '$input'
        -b '$database'
        -e '$experiment'
        -l '$sampling.locations'
        -ra '$sampling.regiona'
        -rb '$sampling.regionb'
        -n '$sampling.negative'
        -o '$output'
    ]]>    </command>
    <inputs>
        <param name="experiment" type="text" label="Title" help="Experiment title" value="Results" />
        <param name="input" type="data" format="tabular" label="Interacting Pairs" help="Prediction input containing UniProt Accession codes (2-columns)." />
        <conditional name="sampling">
            <param name="type" type="select" label="Non-interacting Pairs" display="radio" help="Specify how to determine non-interacting pairs.">
                <option value="random">Random Sampling</option>
                <option value="uniprot">Sampling with UniProt Localization</option>
                <option value="negative">Specify non-interacting pairs</option>
            </param>
            <when value="uniprot">
                <param name="locations" type="data" format="tabular" label="UniProt Localization Database" help="UniProt tabular export with localization column to sample non-interacting pairs." />
                <param name="negative" type="hidden" value="" />
                <param name="regiona" type="select" label="Choose First Subcellular Location">
                    <option value="Cell">Cell</option>
                    <option value="Cytoplasm">Cytoplasm</option>
                    <option value="Membrane" selected="True">Membrane</option>
                    <option value="Mitochondrion" selected="True">Mitochondrion</option>
                    <option value="Nucleus">Nucleus</option>
                    <option value="Periplasm">Periplasm</option>
                    <option value="Secreted">Secreted</option>
                </param>
                <param name="regionb" type="select" label="Choose Second Subcellular Location">
                    <option value="Cell">Cell</option>
                    <option value="Cytoplasm">Cytoplasm</option>
                    <option value="Membrane" selected="True">Membrane</option>
                    <option value="Mitochondrion" selected="True">Mitochondrion</option>
                    <option value="Nucleus">Nucleus</option>
                    <option value="Periplasm">Periplasm</option>
                    <option value="Secreted">Secreted</option>
                </param>
            </when>
            <when value="random">
                <param name="locations" type="hidden" value="" />
                <param name="negative" type="hidden" value="" />
                <param name="regiona" type="hidden" value="" />
                <param name="regionb" type="hidden" value="" />
            </when>
            <when value="negative">
                <param name="locations" type="hidden" value="" />
                <param name="negative" type="data" format="tabular" label="Non-interacting Pairs" help="Tabular file containing non-interacting pairs (2-columns)." />
                <param name="regiona" type="hidden" value="" />
                <param name="regionb" type="hidden" value="" />
            </when>
        </conditional>
        <param name="database" type="data" format="tabular" label="BioGRID Database" help="BioGRID Database in TAB 3.0 format." />
    </inputs>
    <outputs>
        <data format="png" name="output" label="SPRING MCC Image" />
    </outputs>
    <tests>
        <test>
            <param name="input" value="mcc/human_hv1h2.txt" />
            <param name="database" value="mcc/biogrid_fret.txt" />
            <output name="output" file="mcc/human_hv1h2.png" compare="sim_size" />
        </test>
    </tests>
    <help><![CDATA[

**What it does**

This tool generates a MCC plot for a given 2-column tabular prediction file containing UniProt Accession codes. The prediction is compared
to a given BioGRID database file in TAB 3.0 format. Non-interacting protein pairs are randomly sampled.

    ]]>    </help>
    <expand macro="citations" />
</tool>