## Available Databases for SnpEff 
## These are from the list on: http://snpeff.sourceforge.net/download.html
## the Description field in this sample is "Genome : Version" 
#Version	Description
#GRCh37.68	Homo sapiens : GRCh37.68
