# This is a sample file distributed with Galaxy that enables tools
# to use a directory of MALT indexed data files.  The malt_index.loc
# file has this format (longer white space characters are TAB characters):
#
# <unique_build_id>   <dbkey>   <display_name>   <file_path>
#
# So, for example, if you have the phiX indexe stored in 
# /depot/data2/galaxy/phiX/base/, 
# then the malt_index.loc entry would look like this:
#
# phiX   phiX   phiX Pretty   /depot/data2/galaxy/phiX/base/phiX.fa
#
# and your /depot/data2/galaxy/phiX/base/ directory
# would contain phiX.fa.* files:
#
#-rw-r--r--  1 galaxy    universe 830134 2005-09-13 10:12 phiX.fa
#...etc...

#phiX	phiX	Coliphage phiX	/phiX
