#This is a sample file distributed with Galaxy that enables tools
#to use a directory of metagenomics files.  
#file has this format (white space characters are TAB characters)
#deeparg_1.0.4	Files needed for running deepARG (1.0.4)	deeparg_1.0.4-20241010	/path/to/data	1.0.4