#This file lists the locations and dbkeys of all the indexed fasta files
#see here for details: http://bedtools.readthedocs.io/en/latest/content/general-usage.html
#index created using samtools (http://www.htslib.org/doc/faidx.html) are fine
#This file has the format (white space characters are TAB characters):
#
#<unique_build_id>	<dbkey>	<display_name>	<file_path>
#
#So, all_genome_file_bedtools.loc could look something like this:
#
#apiMel3	apiMel3	Honeybee (Apis mellifera): apiMel3	/path/to/genome/apiMel3/apiMel3.fai
#hg19canon	hg19	Human (Homo sapiens): hg19 Canonical	/path/to/genome/hg19/hg19canon.fai
#hg19full	hg19	Human (Homo sapiens): hg19 Full	/path/to/genome/hg19/hg19full.fai
#
