<tables>
    <!-- Locations of all fasta files under genome directory -->
    <table name="all_fasta" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/all_fasta.loc" />
    </table>
    <!-- Locations of all gff files with annotations of genome builds -->
    <table name="all_gff" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/all_gff.loc" />
    </table>	
</tables>
