#This is a sample file distributed with Galaxy that enables tools
#to use a directory of metagenomics files.  
#file has this format (white space characters are TAB characters):
#
# Silva reference files:    http://www.mothur.org/wiki/Silva_reference_files
#
#<taxonomyname>	<file_base>
#
#archaea.gg	/project/db/galaxy/mothur/Silva.archaea/silva.archaea.gg.tax
#archaea.silva	/project/db/galaxy/mothur/Silva.archaea/silva.archaea.silva.tax
#archaea.rdp	/project/db/galaxy/mothur/Silva.archaea/silva.archaea.rdp.tax
#archaea.ncbi	/project/db/galaxy/mothur/Silva.archaea/silva.archaea.ncbi.tax
#bacteria.gg	/project/db/galaxy/mothur/silva.bacteria/silva.bacteria.gg.tax
#bacteria.silva	/project/db/galaxy/mothur/silva.bacteria/silva.bacteria.silva.tax
#bacteria.ncbi	/project/db/galaxy/mothur/silva.bacteria/silva.bacteria.ncbi.tax
#bacteria.rdp	/project/db/galaxy/mothur/silva.bacteria/silva.bacteria.rdp.tax
#bacteria.rdp6	/project/db/galaxy/mothur/silva.bacteria/silva.bacteria.rdp6.tax
#eukarya.silva	/project/db/galaxy/mothur/silva.eukarya.silva.tax
#eukarya.ncbi	/project/db/galaxy/mothur/silva.eukarya.ncbi.tax
#trainset6_032010.rdp.tax	/project/db/galaxy/mothur/RDP/trainset6_032010.rdp.tax
#trainset7_112011.pds.tax	/project/db/galaxy/mothur/RDP/trainset7_112011.pds.tax
#trainset7_112011.rdp.tax	/project/db/galaxy/mothur/RDP/trainset7_112011.rdp.tax
#FungiLSU_train_1400bp_8506_mod.tax	/project/db/galaxy/mothur/RDP/FungiLSU_train_1400bp_8506_mod.tax
#
