## Molecular Signatures Database (MSigDB) for SnpEff.
## You can download MSigDb from http://www.broadinstitute.org/gsea/msigdb
#msigdb_id	msigdb_name path_to_database
#msigdb_08_2014 MSigDB 08-2014	/data/msigdb/08_2014/msigdb.gmt
