## A typical download from https://tbb.bio.uu.nl/bastiaan/CAT_prepare/CAT_prepare_20190719.tar.gz
# ls CAT_prepare_20190719/
#  2019-07-19.CAT_prepare.fresh.log
#  2019-07-19_CAT_database
#  2019-07-19_taxonomy
#value  name    database_folder	taxonomy_folder
#2019-07-19_CAT_database	2019-07-19_CAT_database	/opt/galaxy/tool-data/cat_database/CAT_prepare_20190719/2019-07-19_CAT_database	/opt/galaxy/tool-data/cat_database/CAT_prepare_20190719/2019-07-19_taxonomy
