# homer_preparse.loc
# This is a *.loc file distributed with Galaxy that enables tools
# to use a directory of indexed data files. This one is for promoter DBs distributed by Homer.
# The file should include an one line entry for each set and has 5 text columns seperated by TABS.
#
# <value>	<dbkey>	<organism>	<path>	<organism_version>	<promoter_version>
