<tables>
    <!-- Locations of background sequences for clade analysis -->
    <table name="selection_background" comment_char="#">
        <columns>value, label, path</columns>
        <file path="tool-data/selection_background.loc" />
    </table>
</tables>
