<tables>
    <!-- Locations of dbkeys and len files under genome directory -->
    <table name="bealign_selection" comment_char="#">
        <columns>value, label, path</columns>
        <file path="tool-data/bealign_selection.loc" />
    </table>
</tables>
