#This is a sample file distributed with Galaxy that enables tools
#to use a directory of decontaminator hdf5 model files.  You will need
#to create these data files and then create a decontaminator.loc file
#similar to this one (store it in this directory) that points to
#the directories in which those files are stored. The decontaminator.loc
#file has this format (white space characters are TAB characters):
#
# <value>	<name>	<path>
#
#So, for example, if you had fungi hdf5 model files  stored in
#
# /tool-data/weights/fungi/,
#
#then the decontamintor.loc entry would look like this:
#
#fungi	fungi	${__HERE__}/weights/fungi
#
#and your /tool-data/weights/fungi/ directory
#would contain model_500.h5 and model_1000.h5 files.
#
#Your decontaminator.loc file should include an entry per line for
#each index set you have stored.  The file in the path does actually
#exist, but it should never be directly used. Instead, the name serves
#as a prefix for the index file.  For example:
#

#fungi	fungi	${__HERE__}/weights/fungi
#phage	phage	${__HERE__}/weights/phage
