#This is a sample file distributed with Galaxy that enables tools
#to use a directory of metagenomics files.  
#file has this format (white space characters are TAB characters):
#
# lookup files from:   http://www.mothur.org/wiki/Lookup_files
#
#<name>	<file_base>
#
#GS20	/project/db/galaxy/mothur/lookup/LookUp_GS20.pat
#GSFLX	/project/db/galaxy/mothur/lookup/LookUp_GSFLX.pat
#Titanium	/project/db/galaxy/mothur/lookup/LookUp_Titanium.pat
