<tables>
    <table
        name="ete3_taxonomy_db"
        comment_char="#"
        allow_duplicate_entries="False">
        <columns>value, name, path</columns>
        <file path="tool-data/ete3_taxonomy_db.loc"/>
    </table>
</tables>