# Font data table (use tab-separated values)
SAKURATA    SAKURATA Font    1.0    ${__HERE__}/fonts/SAKURATA.ttf
GermaniaOne-Regular    Germania One Font    1.0    ${__HERE__}/fonts/GermaniaOne-Regular.ttf
Hunting    Hunting Font    1.0    ${__HERE__}/fonts/Hunting.ttf
IranNastaliq    IranNastaliq Font    1.0    ${__HERE__}/fonts/IranNastaliq.ttf
NotoKufiArabic    Noto Kufi Arabic Font    1.0    ${__HERE__}/fonts/NotoKufiArabic-VariableFont_wght.ttf