#This is a sample file distributed with Galaxy that enables tools
#to use a directory of metagenomics files.  
#file has this format (white space characters are TAB characters)
# Tab separated with 6 columns:
# value : unique value used to generate the database path
# name: name of the database generate using the date and version of the mmseqs2 databases 
# type : type of the database (aminoacid, nucleotide...)
# taxonomy : whether or not the database should contain taxonomy information
# path : final path to mmseqs2 databases on galaxy
# version : tool version to filter database version depending of the tool
# value, name, type, taxonomy, path, version
# eg.
#SILVA-15.6f452-10022025	SILVA 10022025	nucleotide	yes	${__HERE__}/mmseqs2/SILVA	15.6f452
