/*Chart*/
.chartDiv {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ffffff;
}
/*This for stacked / bar plot*/
.optionButtons{
    padding-bottom: 8px;
}
.igbtn {
    border-radius: 4px;
    color: white;
    background-color: #0E3163;
    border:1px;
    font-size: 14px;
    font-weight: bold;
    border-color: #0E3163;
    padding: 6px 12px;
    background: -webkit-linear-gradient(#0E3163, #3e6db0);
    background: -o-linear-gradient(#0E3163, #3e6db0);
    background: -moz-linear-gradient(#0E3163, #3e6db0);
    background: linear-gradient(#0E3163, #3e6db0);
}
 #togglePlot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 90px;
    padding: 4px 8px 8px 4px;
}
/*DataTables config*/
div.dt-buttons {
    float: right;
}
th {
    background-color:#3965A4;
    color:#fff;
    border-radius: 2px;
    padding:6px 12px;
    font-size:14px;
    text-align: center;
}
.igtable th {
  background: -webkit-linear-gradient(#0E3163, #3e6db0);
  background: -o-linear-gradient(#0E3163, #3e6db0);
  background: -moz-linear-gradient(#0E3163, #3e6db0);
  background: linear-gradient(#0E3163, #3e6db0)
}
body td {
    max-width: 50px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pctable td {
    max-width: 100px;
}
.dtable td {
    max-width: 50px;
    word-break: break-all;
    word-wrap: break-word;
}
.popt thead {
    display:none;
}
.popt td {
    max-width: 40px;
    word-break: break-all;
    word-wrap: break-word;
}
div.dataTables_wrapper {
    width: 95%;
    margin: 0 auto;
}
/*Opacity widget*/
.widget {
  margin-top: 4px;
  padding: 4px 4px 8px 4px;
  margin-bottom: 10px
  height: 36px;
  line-height: 12px;
  font-size: 12px;
  text-align: center;
 // float: right;
}
/*This section for coordinates plot*/
.table th {
    text-align: center;
    padding: 10px;
}
.table {
    width:100%;
    border:0px solid;
    border-collapse:collapse;
    text-align:center;
    font-size: 14px;
}
svg {
  font: 10px sans-serif;
}
.background path {
  fill: none;
  stroke: #F0F0F0;
  shape-rendering: crispEdges;
}
.foreground path {
  fill: none;
  stroke-opacity: .8;
}
.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}
.axis line,
.axis path {
  fill: none;
  stroke: #000;
  stroke-width: 2;
  shape-rendering: crispEdges;
}
.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
.xlabel {
  font-size: 14px;
  fill: #808080;
}
.ylabel {
  font-size: 16px;
  fill: #808080;
}
/*This section for boxplots*/
.box {
  font: 10px sans-serif;
}
.box line,
.box rect,
.box circle {
   fill: red;
  stroke: #000;
  stroke-width: 1px;
}
.box .center {
  stroke-dasharray: 3,3;
}
.box .outlier {
  fill: none;
  stroke: #000;
}
.axisbp path,
.axisbp line {
  stroke-width: 1px;
  fill:
}
.y.axisbp path {
  stroke-width: 2;
  stroke: #000;
  fill: none;
}
.x.axisbp path {
  fill: none;
  stroke: #C8C8C8;
  stroke-width: 0px;
  shape-rendering: crispEdges;
}
