# See documentation here:
# https://blog.github.com/2017-07-06-introducing-code-owners/

tools/abricate/*                                        @slugger70 @shiltemann @dfornika
tools/abyss/*                                           @nsoranzo @mvdbeek
tools/add_input_name_as_column/*                        @bernt-matthias
tools/aegean/*                                          @gallardoalba
tools/allegro/*                                         @mtekman
tools/anndata/*                                         @bebatut @mtekman @astrovsky01
tools/annotatemyids/*                                   @mblue9
tools/art/*                                             @hexylena
tools/artic/*                                           @dfornika @wm75
tools/augustus/*                                        @abretaud @bgruening
tools/bam_to_scidx/*                                    @gregvonkuster
tools/bamutil/*                                         @bernt-matthias @gregvonkuster
tools/bandage/*                                         @shiltemann @willemdek11
tools/barcode_splitter/*                                @hepcat72
tools/barrnap/*                                         @slugger70 @bgruening
tools/basil/*                                           @hepcat72
tools/bax2bam/*                                         @stephanflemming @bgruening
tools/bayescan/*                                        @cmonjeau
tools/bcftools/*                                        @hexylena @pvanheus
tools/bctools/*                                         @bgruening
tools/beagle/*                                          @gallardoalba
tools/bedtools/*                                        @bgruening @mvdbeek
tools/bellerophon/*                                     @astrovsky01
tools/berokka/*                                         @bgruening
tools/bioext/*                                          @davebx
tools/biom_format/*                                     @blankenberg @bernt-matthias @nsoranzo
tools/bioperl/*                                         @hexylena @bgruening
tools/blastxml_to_gapped_gff3/*                         @hexylena @bgruening @nsoranzo
tools/bowtie2/*                                         @mvdbeek
tools/bracken/*                                         @dfornika @nsoranzo @mvdbeek
tools/breseq/*                                          @hepcat72 @bernt-matthias
tools/busco/*                                           @abretaud @bgruening @bernt-matthias
tools/bwa/*                                             @mvdbeek
tools/bwameth/*                                         @nsoranzo @mvdbeek
tools/calculate_contrast_threshold/*                    @PrashantKuntala
tools/calculate_numeric_param/*                         @simonbray
tools/cat/*                                             @jj-umn
tools/cdhit/*                                           @bernt-matthias @nsoranzo
tools/charts/*                                          @bgruening
tools/chira/*                                           @pavanvidem
tools/chromeister/*                                     @estebanpw @bernt-matthias
tools/circos/*                                          @hexylena @shiltemann
tools/codeml/*                                          @shiltemann
tools/colibread/*                                       @abretaud
tools/collection_column_join/*                          @bgruening @mblue9 @abretaud @blankenberg
tools/collection_element_identifiers/*                  @nsoranzo
tools/column_maker/*                                    @mvdbeek @nsoranzo
tools/column_order_header_sort/*                        @blankenberg @mvdbeek
tools/column_remove_by_header/*                         @blankenberg
tools/compose_text_param/*                              @mvdbeek
tools/coverage_report/*                                 @Takadonet
tools/crispr_studio/*                                   @Takadonet
tools/crosscontamination_barcode_filter/*               @mtekman
tools/crossmap/*                                        @yhoogstrate @hexylena
tools/cutadapt/*                                        @mblue9
tools/cutesv/*                                          @npinter
tools/cwpair2/*                                         @nsoranzo @gregvonkuster
tools/dada2/*                                           @bernt-matthias
tools/datamash/*                                        @bgruening @davebx @nsoranzo
tools/data_source_iris_tcga/*                           @blankenberg @nsoranzo
tools/deg_annotate/*                                    @pavanvidem @bgruening
tools/delly/*                                           @stephanflemming
tools/deseq2/*                                          @bgruening @mvdbeek
tools/dexseq/*                                          @mblue9 @bgruening
tools/diamond/*                                         @abretaud
tools/diffbind/*                                        @mblue9
tools/disco/*                                           @bebatut @bernt-matthias @nsoranzo
tools/drep/*                                            @jj-umn @bgruening
tools/dropletutils/*                                    @mtekman
tools/ebi_tools/*                                       @bebatut @nsoranzo
tools/edger/*                                           @mblue9
tools/egsea/*                                           @mblue9
tools/emboss_5/*                                        @nsoranzo @bernt-matthias
tools/enasearch/*                                       @bebatut @mvdbeek
tools/ena_upload/*                                      @bgruening
tools/exomedepth/*                                      @lparsons @bgruening @nsoranzo
tools/exonerate/*                                       @abretaud
tools/export2graphlan/*                                 @bebatut @bgruening
tools/extract_genomic_dna/*                             @gregvonkuster @nsoranzo @mvdbeek
tools/fargene/*                                         @bgruening @bernt-matthias
tools/fastani/*                                         @DarianHole
tools/fasta_nucleotide_color_plot/*                     @gregvonkuster
tools/fasta_stats/*                                     @slugger70 @bgruening
tools/fastp/*                                           @mblue9 @bgruening @mvdbeek
tools/fastqc/*                                          @mvdbeek @nsoranzo @bernt-matthias @yhoogstrate
tools/fastqe/*                                          @hexylena @bgruening @bernt-matthias @mblue9
tools/fasttree/*                                        @bgruening
tools/featurecounts/*                                   @mblue9 @yhoogstrate
tools/feelnc/*                                          @abretaud
tools/fermikit/*                                        @mvdbeek
tools/fgsea/*                                           @mblue9 @bgruening
tools/filtlong/*                                        @willemdek11 @gregvonkuster
tools/flair/*                                           @wm75
tools/flash/*                                           @davebx @hepcat72 @Takadonet
tools/fraggenescan/*                                    @bgruening @bebatut
tools/freebayes/*                                       @davebx @nsoranzo @yhoogstrate
tools/freec/*                                           @npinter
tools/fsd/*                                             @mvdbeek
tools/gatk4/*                                           @davebx @bgruening
tools/gdcwebapp/*                                       @bgruening
tools/gecko/*                                           @estebanpw
tools/gemini/*                                          @wm75 @bgruening
tools/genebed_maf_to_fasta/*                            @davebx
tools/genehunter_modscore/*                             @mtekman
tools/genetrack/*                                       @gregvonkuster @nsoranzo
tools/genomescope/*                                     @davebx
tools/genrich/*                                         @bgruening
tools/get_hrun/*                                        @NatPRoach
tools/gfa_to_fa/*                                       @shiltemann @davebx @mvdbeek
tools/gff3_rebase/*                                     @hexylena @abretaud @nsoranzo
tools/gffcompare/*                                      @bernt-matthias @davebx
tools/gffread/*                                         @bgruening @lparsons
tools/ggplot2/*                                         @bimbam23 @bgruening
tools/glimmer/*                                         @abretaud @nsoranzo
tools/goenrichment/*                                    @DanFaria @dsobral
tools/goseq/*                                           @mblue9 @mvdbeek
tools/gprofiler/*                                       @inkuzmin
tools/graphembed/*                                      @mtekman
tools/graphlan/*                                        @bebatut @mvdbeek
tools/gtfToBed12/*                                      @bgruening @lparsons @mtekman @mblue9
tools/gubbins/*                                         @slugger70 @shiltemann
tools/gvcftools/*                                       @pvanheus
tools/gwastools/*                                       @astrovsky01 @bgruening
tools/hamronization/*                                   @thanhleviet
tools/hansel/*                                          @gregvonkuster @nsoranzo
tools/heatmap2/*                                        @mblue9
tools/heinz/*                                           @bgruening @shiltemann
tools/hicexplorer/*                                     @joachimwolff @bgruening
tools/hisat2/*                                          @davebx
tools/hivclustering/*                                   @davebx
tools/hmmer3/*                                          @hexylena @nsoranzo
tools/htseq_count/*                                     @lparsons @bgruening @mvdbeek @yhoogstrate
tools/humann/*                                          @bebatut
tools/hyphy/*                                           @davebx @rdvelazquez
tools/idba_ud/*                                         @bernt-matthias @pvanheus
tools/idr/*                                             @lparsons @davebx @bgruening @mvdbeek
tools/idr_download/*                                    @wm75
tools/iedb_api/*                                        @jj-umn @bernt-matthias
tools/intermine_galaxy_exchange/*                       @blankenberg
tools/interval2maf/*                                    @davebx
tools/intervene/*                                       @mvdbeek
tools/iqtree/*                                          @mtekman
tools/irissv/*                                          @NatPRoach @bgruening @gregvonkuster
tools/ivar/*                                            @wm75 @pvanheus
tools/iwtomics/*                                        @fabio-cumbo
tools/jasminesv/*                                       @NatPRoach @bgruening @gregvonkuster
tools/jbrowse/*                                         @hexylena @abretaud
tools/jcvi_gff_stats/*                                  @abretaud
tools/jellyfish/*                                       @astrovsky01 @bgruening
tools/join_files_by_id/*                                @bimbam23
tools/jq/*                                              @shiltemann @hexylena @bgruening
tools/jvarkit/*                                         @pvanheus @bgruening
tools/kallisto/*                                        @davebx @mvdbeek
tools/kc-align/*                                        @davebx
tools/khmer/*                                           @mr-c @bgruening
tools/kma/*                                             @dfornika
tools/kobas/*                                           @bgruening @nsoranzo
tools/kofamscan/*                                       @stephanflemming
tools/kraken_taxonomy_report/*                          @blankenberg @nsoranzo
tools/krocus/*                                          @bgruening
tools/last/*                                            @abretaud @bernt-matthias
tools/lastz/*                                           @nekrut @bgruening
tools/length_and_gc_content/*                           @mblue9 @mvdbeek
tools/limma_voom/*                                      @mblue9
tools/lofreq/*                                          @wm75 @davebx @bgruening
tools/lorikeet/*                                        @pvanheus @bgruening
tools/lumpy_sv/*                                        @bernt-matthias
tools/macs2/*                                           @nekrut @bgruening @mblue9
tools/maf_stats/*                                       @davebx
tools/mageck/*                                          @mblue9
tools/maker/*                                           @abretaud @bgruening
tools/mash/*                                            @dfornika
tools/masigpro/*                                        @mvdbeek
tools/maxbin2/*                                         @bernt-matthias
tools/medaka/*                                          @stephanflemming @NatPRoach
tools/megahit/*                                         @cmonjeau @jraysajulga
tools/megahit_contig2fastg/*                            @bernt-matthias
tools/meme/*                                            @michauhl @gregvonkuster @bgruening
tools/meme_chip/*                                       @bgruening
tools/merlin/*                                          @mtekman
tools/merqury/*                                         @gallardoalba
tools/meryl/*                                           @bgruening
tools/metaeuk/*                                         @pvanheus
tools/metagenomeseq/*                                   @blankenberg
tools/metaphlan/*                                       @bebatut
tools/metaspades/*                                      @davebx @bernt-matthias
tools/migmap/*                                          @bgruening @bernt-matthias
tools/minia/*                                           @bgruening @nsoranzo
tools/miniasm/*                                         @shiltemann
tools/minimap2/*                                        @mvdbeek @wm75 @willemdek11
tools/mitobim/*                                         @bernt-matthias
tools/mitos/*                                           @bgruening @bernt-matthias
tools/mixcr/*                                           @jj-umn @bgruening
tools/mlst/*                                            @apetkau
tools/moabs/*                                           @lijinbio
tools/mothur/*                                          @shiltemann
tools/msaboot/*                                         @matthew-fogel
tools/multigps/*                                        @gregvonkuster @bernt-matthias
tools/multiqc/*                                         @mblue9 @bebatut
tools/mummer4/*                                         @nickeener
tools/mykrobe/*                                         @Takadonet
tools/nanocompore/*                                     @stephanflemming @bgruening
tools/nanoplot/*                                        @willemdek11 @shiltemann
tools/nanopolishcomp/*                                  @stephanflemming @willemdek11
tools/ncbi_acc_download/*                               @dfornika @wm75
tools/ncbi_entrez_eutils/*                              @hexylena @hepcat72 @nsoranzo
tools/newick_utils/*                                    @shiltemann
tools/nextclade/*                                       @pvanheus @bgruening
tools/ngmlr/*                                           @davebx
tools/ngsutils/*                                        @bgruening @nsoranzo @mvdbeek
tools/nonpareil/*                                       @bebatut
tools/novoplasty/*                                      @stephanflemming
tools/nugen_nudup/*                                     @lparsons
tools/obitools/*                                        @cmonjeau
tools/ococo/*                                           @Takadonet @bgruening
tools/odgi/*                                            @bgruening @nsoranzo
tools/ont_fast5_api/*                                   @stephanflemming @bgruening
tools/onto_toolkit/*                                    @bgruening @bernt-matthias @mvdbeek
tools/optitype/*                                        @jj-umn
tools/orthofinder/*                                     @abretaud
tools/pangolin/*                                        @pvanheus @bgruening
tools/pathview/*                                        @bebatut @mvdbeek
tools/pear/*                                            @bgruening
tools/pe_histogram/*                                    @gregvonkuster @bernt-matthias
tools/phyml/*                                           @mvdbeek
tools/picard/*                                          @aerijman
tools/picrust/*                                         @shiltemann
tools/pilon/*                                           @pvanheus @lparsons @bgruening
tools/pipelign/*                                        @davebx @bgruening
tools/pizzly/*                                          @mblue9 @bgruening
tools/plasflow/*                                        @willemdek11 @bgruening @shiltemann
tools/plink/*                                           @astrovsky01
tools/porechop/*                                        @willemdek11 @shiltemann
tools/poretools/*                                       @mvdbeek @davebx
tools/presto/*                                          @bgruening
tools/pretext/*                                         @astrovsky01
tools/prinseq/*                                         @bebatut @nsoranzo @mvdbeek
tools/progressivemauve/*                                @hexylena @abretaud
tools/prokka/*                                          @nsoranzo @slugger70
tools/proteinortho/*                                    @pmjklemm
tools/pureclip/*                                        @michauhl
tools/purge_dups/*                                      @astrovsky01 @bgruening
tools/pycoqc/*                                          @bernt-matthias @NatPRoach
tools/pyega3/*                                          @shiltemann
tools/pygenometracks/*                                  @lldelisle
tools/qfilt/*                                           @davebx
tools/qiime/*                                           @bebatut @arbernard
tools/qq_tools/*                                        @astrovsky01
tools/qualimap/*                                        @wm75 @bgruening @mvdbeek
tools/quast/*                                           @nekrut @mvdbeek
tools/query_tabular/*                                   @jj-umn
tools/raceid/*                                          @mtekman
tools/rapidnj/*                                         @davebx
tools/raven/*                                           @bernt-matthias @bgruening @NatPRoach @nsoranzo
tools/raxml/*                                           @bernt-matthias @bgruening @nsoranzo
tools/rcorrector/*                                      @bimbam23
tools/rdavidwebservice/*                                @bimbam23
tools/repeatmasker/*                                    @pvanheus @abretaud @bernt-matthias
tools/repmatch_gff3/*                                   @gregvonkuster @nsoranzo @bernt-matthias
tools/reshape2/*                                        @bgruening
tools/resize_coordinate_window/*                        @gregvonkuster @nsoranzo
tools/rgcca/*                                           @ecamenen
tools/rgrnastar/*                                       @mtekman @yhoogstrate @wm75
tools/rnaquast/*                                        @bgruening
tools/rnaspades/*                                       @davebx @bernt-matthias
tools/roary/*                                           @slugger70 @bgruening
tools/rseqc/*                                           @lparsons
tools/ruvseq/*                                          @bernt-matthias @mvdbeek
tools/salsa2/*                                          @astrovsky01 @bgruening
tools/samblaster/*                                      @mvdbeek
tools/sansa/*                                           @stephanflemming
tools/sarscov2formatter/*                               @bernt-matthias @mvdbeek
tools/sarscov2summary/*                                 @mvdbeek
tools/scanpy/*                                          @bebatut @mtekman @mvdbeek
tools/scater/*                                          @nsoranzo
tools/schicexplorer/*                                   @joachimwolff @bgruening
tools/scikit-bio/*                                      @mvdbeek @nsoranzo @blankenberg
tools/scoary/*                                          @bgruening
tools/scpipe/*                                          @mblue9
tools/seacr/*                                           @stephanflemming
tools/seq2hla/*                                         @bgruening @jj-umn @bernt-matthias
tools/seqtk/*                                           @hexylena @mvdbeek
tools/seqwish/*                                         @nsoranzo @bgruening
tools/seurat/*                                          @mtekman @mblue9 @bgruening @nsoranzo
tools/shasta/*                                          @NatPRoach
tools/shorah/*                                          @davebx
tools/shovill/*                                         @bgruening @wm75 @slugger70
tools/sickle/*                                          @nsoranzo @mvdbeek
tools/simtext/*                                         @dlal-group
tools/sina/*                                            @stephanflemming
tools/slamdunk/*                                        @mblue9
tools/snap/*                                            @abretaud
tools/sniffles/*                                        @slugger70 @bgruening
tools/snippy/*                                          @dfornika @slugger70
tools/snp-dists/*                                       @pvanheus
tools/snpeff-covid19/*                                  @wm75 @bgruening
tools/snpfreqplot/*                                     @wm75 @mtekman
tools/snp-sites/*                                       @pvanheus @bgruening
tools/socru/*                                           @bgruening
tools/spades/*                                          @bernt-matthias @abretaud @bgruening @davebx @wm75
tools/spaln/*                                           @pvanheus @bgruening
tools/spotyping/*                                       @pvanheus
tools/spyboat/*                                         @mvdbeek
tools/sra-tools/*                                       @mvdbeek @lldelisle
tools/stacks/*                                          @abretaud @bgruening
tools/stacks2/*                                         @bernt-matthias @abretaud
tools/star_fusion/*                                     @yhoogstrate
tools/strelka/*                                         @bernt-matthias @stephanflemming
tools/stringtie/*                                       @bgruening @nsoranzo @mblue9
tools/structure/*                                       @lecorguille
tools/structureharvester/*                              @bernt-matthias
tools/swift/*                                           @mtekman @bgruening
tools/table_compute/*                                   @mtekman @wm75
tools/tag_pileup_frequency/*                            @gregvonkuster @mvdbeek
tools/tasmanian_mismatch/*                              @aerijman @bgruening
tools/taxonomy_filter_refseq/*                          @pvanheus
tools/taxonomy_krona_chart/*                            @shiltemann @hexylena @bgruening
tools/tbl2gff3/*                                        @hexylena
tools/tb-profiler/*                                     @pvanheus
tools/tb_variant_filter/*                               @pvanheus @bgruening
tools/tbvcfreport/*                                     @thobalose
tools/telescope/*                                       @mvdbeek @davebx
tools/tetoolkit/*                                       @stephanflemming
tools/tetyper/*                                         @dfornika @bgruening
tools/tn93/*                                            @davebx @bgruening
tools/transdecoder/*                                    @abretaud @nsoranzo @stephanflemming
tools/transit/*                                         @davebx
tools/transtermhp/*                                     @hexylena @bernt-matthias @nsoranzo
tools/TrimNs/*                                          @astrovsky01
tools/trinity/*                                         @abretaud @loraine-gueguen
tools/trinotate/*                                       @abretaud @loraine-gueguen
tools/trycycler/*                                       @bgruening
tools/tsne/*                                            @bgruening
tools/tximport/*                                        @ieguinoa
tools/ucsc_blat/*                                       @yhoogstrate
tools/ucsc_tools/*                                      @bebatut @nsoranzo
tools/umi_tools/*                                       @mtekman
tools/unicycler/*                                       @willemdek11 @dfornika @davebx @bebatut
tools/usher/*                                           @gallardoalba
tools/valet/*                                           @bebatut
tools/vardict/*                                         @npinter @bgruening
tools/variant_analyzer/*                                @bernt-matthias @nsoranzo
tools/varscan/*                                         @wm75 @bgruening
tools/vcfanno/*                                         @NatPRoach
tools/vegan/*                                           @blankenberg @abretaud
tools/velvet/*                                          @bernt-matthias
tools/velvet_optimiser/*                                @abretaud @bgruening @bernt-matthias
tools/vg/*                                              @bgruening @bernt-matthias
tools/volcanoplot/*                                     @mblue9
tools/vsearch/*                                         @bgruening @blankenberg
tools/vsnp/*                                            @gregvonkuster
tools/weather_app/*                                     @nsoranzo @bgruening @mvdbeek
tools/weblogo3/*                                        @abretaud
tools/winnowmap/*                                       @bernt-matthias
tools/xpath/*                                           @hexylena @bgruening @abretaud @nsoranzo
tools/zerone/*                                          @mvdbeek
