# See documentation here:
# https://blog.github.com/2017-07-06-introducing-code-owners/

tools/art/*                      @erasche
tools/circos/*                   @erasche @shiltemann
tools/jbrowse/*                  @erasche @abretaud
tools/blastxml_to_gapped_gff3/*  @erasche
tools/gff3_rebase/*              @erasche
tools/jq/*                       @erasche
tools/hmmer3/*                   @erasche
tools/progressivemauve/*         @erasche
tools/ncbi_entrez_eutils/*       @erasche
