# This is a sample file distributed with Galaxy that is used to define a
# list of bwa-meth indices, using three columns tab separated:
#
# bwameth_index_id\tSome description text\t/path/to/genome.fasta
#
# An index can be created with the following command:
#
# bwameth.py index /some/path/genome.fa
#
# "/some/path/genome.fa" would then be the last column in the line
