# This is a sample file distributed with Galaxy that is used to define a
# list of bwa-meth indices, using three columns tab separated:
#
# <unique_build_id>	<dbkey>	<display_name>	<genome_fasta_file_path>
#
# An index can be created with the following command:
#
# bwameth.py index /some/path/genome.fa
#
# "/some/path/genome.fa" would then be the last column in the line
# If this were for the mm10 mouse genome, the resulting entry would look like:
#
#mm9	mm9	Mouse (mm9)	/some/path/genome.fa
#
#
