<tables>
    <!-- Locations of indexes in salmon mapper format -->
    <table name="salmon_indexes_versioned" comment_char="#" allow_duplicate_entries="False">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/salmon_indexes.loc" />
    </table>
</tables>
