[submodule "tools/staramr/tools/staramr/test-data/resfinder_d1e607b_pointfinder_694919f_plasmidfinder_3e77502/update/resfinder"]
	path = tools/staramr/tools/staramr/test-data/resfinder_d1e607b_pointfinder_694919f_plasmidfinder_3e77502/update/resfinder
	url = https://bitbucket.org/genomicepidemiology/resfinder_db/src/2.4.0/
[submodule "tools/staramr/tools/staramr/test-data/resfinder_d1e607b_pointfinder_694919f_plasmidfinder_3e77502/update/pointfinder"]
	path = tools/staramr/tools/staramr/test-data/resfinder_d1e607b_pointfinder_694919f_plasmidfinder_3e77502/update/pointfinder
	url = https://bitbucket.org/genomicepidemiology/pointfinder_db/src/4.1.1/
[submodule "tools/staramr/tools/staramr/test-data/resfinder_d1e607b_pointfinder_694919f_plasmidfinder_3e77502/update/plasmidfinder"]
	path = tools/staramr/tools/staramr/test-data/resfinder_d1e607b_pointfinder_694919f_plasmidfinder_3e77502/update/plasmidfinder
	url = https://bitbucket.org/genomicepidemiology/plasmidfinder_db/src/3e77502f23c4f0230e0644e47e1b649d2378495f/
[submodule "tools/staramr/test-data/resfinder_d1e607b_pointfinder_694919f_plasmidfinder_3e77502/update/plasmidfinder"]
	path = tools/staramr/test-data/resfinder_d1e607b_pointfinder_694919f_plasmidfinder_3e77502/update/plasmidfinder
	url = https://bitbucket.org/genomicepidemiology/plasmidfinder_db/src/3e77502f23c4f0230e0644e47e1b649d2378495f/
[submodule "tools/staramr/test-data/resfinder_d1e607b_pointfinder_694919f_plasmidfinder_3e77502/update/pointfinder"]
	path = tools/staramr/test-data/resfinder_d1e607b_pointfinder_694919f_plasmidfinder_3e77502/update/pointfinder
	url = https://bitbucket.org/genomicepidemiology/pointfinder_db/src/4.1.1/
[submodule "tools/staramr/test-data/resfinder_d1e607b_pointfinder_694919f_plasmidfinder_3e77502/update/resfinder"]
	path = tools/staramr/test-data/resfinder_d1e607b_pointfinder_694919f_plasmidfinder_3e77502/update/resfinder
	url = https://bitbucket.org/genomicepidemiology/resfinder_db/src/2.4.0/
