sudo: false
language: python
python: 2.7

# This is a big repository so break Travis CI work into 4 CI jobs.
env:
  - CHUNK=0
  - CHUNK=1
  - CHUNK=2
  - CHUNK=3

before_install:
  - export GALAXY_REPO=https://github.com/galaxyproject/galaxy
  - export GALAXY_RELEASE=release_16.07
  - export PLANEMO_CONDA_PREFIX="$HOME/conda"

install:
  - pip install -q flake8
  - pip install -q git+git://github.com/galaxyproject/planemo.git
  - planemo conda_init
  - export PATH="$PLANEMO_CONDA_PREFIX/bin:$PATH"
  - conda create -y -q -c bioconda --name iuc_conda samtools=0.1.19 bcftools
  - . activate iuc_conda
  - planemo --version
  - conda --version
  - echo $TRAVIS_COMMIT_RANGE
  - |
      planemo ci_find_repos --exclude_from .tt_blacklist \
                            --exclude packages --exclude data_managers \
                            --changed_in_commit_range $TRAVIS_COMMIT_RANGE \
                            --chunk_count 4 --chunk ${CHUNK} \
                            --output changed_repositories_chunk.list
  - cat changed_repositories_chunk.list

script:
  - cd "$TRAVIS_BUILD_DIR" && flake8 -v --exclude=.git .
  - |
      cat changed_repositories_chunk.list
      export PLANEMO_TEST_RUN=True
      while read -r DIR; do planemo shed_lint --report_level warn --tools --fail_level error --recursive "$DIR"; done < changed_repositories_chunk.list
      while read -r DIR; do planemo conda_install "$DIR"; done < changed_repositories_chunk.list
      while read -r DIR; do planemo test --conda_dependency_resolution --galaxy_branch $GALAXY_RELEASE --galaxy_source $GALAXY_REPO "$DIR" || exit 1; done < changed_repositories_chunk.list

after_success:
  - |
    if [ "$TRAVIS_PULL_REQUEST" == "false" -a "$TRAVIS_BRANCH" == "master" -a "$PLANEMO_TEST_RUN" == 'True' ]
    then
      while read -r DIR; do planemo shed_update --shed_target testtoolshed --shed_email $SHED_EMAIL --shed_password $SHED_PASSWORD --force_repository_creation "$DIR" || exit 1; done < changed_repositories_chunk.list
      while read -r DIR; do planemo shed_update --shed_target toolshed --shed_email $SHED_EMAIL --shed_password $SHED_PASSWORD --force_repository_creation "$DIR" || exit 1; done < changed_repositories_chunk.list
    fi
