<tables>
    <table name="snpeff_databases" comment_char="#">
        <columns>value, name</columns>
        <file path="tool-data/snpeff_databases.loc" />
    </table>
    <table name="snpeff_genomedb" comment_char="#">
        <columns>value, name, path</columns>
        <file path="tool-data/snpeff_genomedb.loc" />
    </table>
    <table name="snpeff_regulationdb" comment_char="#">
        <columns>genome, value, name</columns>
        <file path="tool-data/snpeff_regulationdb.loc" />
    </table>
    <table name="snpeff_annotations" comment_char="#">
        <columns>genome, value, name</columns>
        <file path="tool-data/snpeff_annotations.loc" />
    </table>
</tables>

