<?xml version="1.0"?>
<tables>
    <!-- Locations of reference fasta files -->
    <table name="all_fasta" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/all_fasta.loc" />
    </table>
    <!-- Locations of indexes in the 2bit format -->
    <table name="twobit" comment_char="#" allow_duplicate_entries="False">
        <columns>value, path</columns>
        <file path="tool-data/twobit.loc" />
    </table>
</tables>
