<?xml version="1.0" encoding="utf-8"?>
<tables>
    <table comment_char="#" name="fasta_indexes">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/fasta_indexes.loc" />
    </table>
</tables>
