<?xml version="1.0"?>
<tables>
    <!-- Locations of primer scheme bedfiles in the required format -->
    <table name="primer_scheme_bedfiles" comment_char="#">
        <columns>value, name, path</columns>
        <file path="tool-data/primer_scheme_bedfiles.loc" />
    </table>
</tables>
