<tables>
    <!-- Location of pharokka DB file -->
    <table name="pharokka_db" comment_char="#">
        <columns>value, dbkey, version, name, path</columns>
        <file path="tool-data/pharokka_db.loc" />
    </table>
</tables>