#This is a sample file distributed with Galaxy that enables tools
#to use a directory of metagenomics files.  
#file has this format (white space characters are TAB characters)
#02_16_2014	Full UniRef50	uniref50_diamond	/path/to/data
#02_16_2014	EC-filtered UniRef50	uniref50_ec_filtered_diamond	/path/to/data
#02_16_2014	GO filtered UniRef50 for rapsearch2	uniref50_GO_filtered_rapsearch2	/path/to/data
#02_16_2014	Full UniRef90	uniref90_diamond	/path/to/data
#02_16_2014	EC-filtered UniRef90	uniref90_ec_filtered_diamond	/path/to/data