#This is a sample file that enables the hmmer tools to find the HMM databases
#You will need to create these data files and then create
#a hmm_database.loc file similar to this one (store it in this directory)
#that points to the directories in which those files are stored.
#The hmm_database_indices.loc file has this format (longer white space characters are TAB characters):
#
#<unique_build_id>   <display_name>   <file_base_path>
#
#So, for example:
#pfam_a	Pfam-a	/data/db/pfam/Pfam-A.hmm
