# mfa_tokenizer.loc.sample
# This is a *.loc.sample file distributed with Galaxy that enables tools
# to use a set of tokenizer model files. This one is for Montreal Forced Aligner (MFA).
# See the wiki: http://wiki.galaxyproject.org/Admin/NGS%20Local%20Setup
# First create these data files and save them in your own data directory structure.
# Then, create a mfa_tokenizer.loc.sample file to use those models with tools.
# Copy this file, save it with the same name (minus the .sample), 
# follow the format examples, and store the result in this directory.
# The file should include an one line entry for each index set.
# The path points to the "basename" for the set, not a specific file.
# It has four text columns seperated by TABS.
# You can download and create the models using auxilary scripts provided in
# "auxiliary_scripts" folder of this tool
#
# <value>	<dbkey>	<name>	<path>
#
# So, for example, if you had english_mfa model stored in:
#
#    /data/db/mfa/pretrained_models/tokenizer/
#
# containing *.zip models, such as:
#
#   -rw-r--r--. 1 armin armin 12521123 Dec  2 14:42 japanese_mfa.zip
#
# then the mfa_tokenizer.loc.sample entry could look like this:
#
#japanese_mfa	default	Japanese (MFA)	/data/db/mfa/pretrained_models/tokenizer/japanese_mfa.zip
#
#Full example:
#
##<value>	<dbkey>	<name>	<path>
#japanese_mfa	default	Japanese (MFA)	/data/db/mfa/pretrained_models/tokenizer/japanese_mfa.zip
