# mfa_dictionary.loc.sample
# This is a *.loc.sample file distributed with Galaxy that enables tools
# to use a set of dictionary model files. This one is for Montreal Forced Aligner (MFA).
# See the wiki: http://wiki.galaxyproject.org/Admin/NGS%20Local%20Setup
# First create these data files and save them in your own data directory structure.
# Then, create a mfa_acoustic.loc.sample file to use those models with tools.
# Copy this file, save it with the same name (minus the .sample), 
# follow the format examples, and store the result in this directory.
# The file should include an one line entry for each index set.
# The path points to the "basename" for the set, not a specific file.
# It has four text columns seperated by TABS.
# You can download and create the models using auxilary scripts provided in
# "auxiliary_scripts" folder of this tool
#
# <value>	<dbkey>	<name>	<path>
#
# So, for example, if you had english_mfa model stored in:
#
#    /data/db/mfa/pretrained_models/dictionary/
#
# containing *.zip models, such as:
#
#   -rw-r--r--. 1 armin armin  1078195 Dec  2 14:29 english_mfa.dict
#   -rw-r--r--. 1 armin armin  3113506 Dec  2 14:29 english_us_mfa.dict
#
# then the mfa_dictionary.loc.sample entry could look like this:
#
#english_mfa	default	English (MFA)	/data/db/mfa/pretrained_models/dictionary/english_mfa.dict
#
#Full example:
#
##<value>	<dbkey>	<name>	<path>
#abkhaz_cv	default	Abkhaz (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/abkhaz_cv.dict
#armenian_cv	default	Armenian (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/armenian_cv.dict
#bashkir_cv	default	Bashkir (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/bashkir_cv.dict
#basque_cv	default	Basque (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/basque_cv.dict
#belarusian_cv	default	Belarusian (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/belarusian_cv.dict
#bulgarian_cv	default	Bulgarian (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/bulgarian_cv.dict
#bulgarian_mfa	default	Bulgarian (MFA)	/data/db/mfa/pretrained_models/dictionary/bulgarian_mfa.dict
#chuvash_cv	default	Chuvash (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/chuvash_cv.dict
#croatian_mfa	default	Croatian (MFA)	/data/db/mfa/pretrained_models/dictionary/croatian_mfa.dict
#czech_cv	default	Czech (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/czech_cv.dict
#czech_mfa	default	Czech (MFA)	/data/db/mfa/pretrained_models/dictionary/czech_mfa.dict
#dutch_cv	default	Dutch (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/dutch_cv.dict
#english_india_mfa	default	English India (MFA)	/data/db/mfa/pretrained_models/dictionary/english_india_mfa.dict
#english_mfa	default	English (MFA)	/data/db/mfa/pretrained_models/dictionary/english_mfa.dict
#english_nigeria_mfa	default	English Nigeria (MFA)	/data/db/mfa/pretrained_models/dictionary/english_nigeria_mfa.dict
#english_nonnative_mfa	default	English Nonnative (MFA)	/data/db/mfa/pretrained_models/dictionary/english_nonnative_mfa.dict
#english_uk_mfa	default	English Uk (MFA)	/data/db/mfa/pretrained_models/dictionary/english_uk_mfa.dict
#english_us_arpa	default	English Us (ARPA)	/data/db/mfa/pretrained_models/dictionary/english_us_arpa.dict
#english_us_mfa	default	English Us (MFA)	/data/db/mfa/pretrained_models/dictionary/english_us_mfa.dict
#french_mfa	default	French (MFA)	/data/db/mfa/pretrained_models/dictionary/french_mfa.dict
#french_prosodylab	default	French Prosodylab	/data/db/mfa/pretrained_models/dictionary/french_prosodylab.dict
#georgian_cv	default	Georgian (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/georgian_cv.dict
#german_mfa	default	German (MFA)	/data/db/mfa/pretrained_models/dictionary/german_mfa.dict
#german_prosodylab	default	German Prosodylab	/data/db/mfa/pretrained_models/dictionary/german_prosodylab.dict
#greek_cv	default	Greek (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/greek_cv.dict
#guarani_cv	default	Guarani (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/guarani_cv.dict
#hausa_mfa	default	Hausa (MFA)	/data/db/mfa/pretrained_models/dictionary/hausa_mfa.dict
#hindi_cv	default	Hindi (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/hindi_cv.dict
#hungarian_cv	default	Hungarian (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/hungarian_cv.dict
#indonesian_cv	default	Indonesian (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/indonesian_cv.dict
#italian_cv	default	Italian (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/italian_cv.dict
#japanese_mfa	default	Japanese (MFA)	/data/db/mfa/pretrained_models/dictionary/japanese_mfa.dict
#kazakh_cv	default	Kazakh (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/kazakh_cv.dict
#korean_jamo_mfa	default	Korean Jamo (MFA)	/data/db/mfa/pretrained_models/dictionary/korean_jamo_mfa.dict
#korean_mfa	default	Korean (MFA)	/data/db/mfa/pretrained_models/dictionary/korean_mfa.dict
#kurmanji_cv	default	Kurmanji (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/kurmanji_cv.dict
#kyrgyz_cv	default	Kyrgyz (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/kyrgyz_cv.dict
#maltese_cv	default	Maltese (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/maltese_cv.dict
#mandarin_china_mfa	default	Mandarin China (MFA)	/data/db/mfa/pretrained_models/dictionary/mandarin_china_mfa.dict
#mandarin_erhua_mfa	default	Mandarin Erhua (MFA)	/data/db/mfa/pretrained_models/dictionary/mandarin_erhua_mfa.dict
#mandarin_mfa	default	Mandarin (MFA)	/data/db/mfa/pretrained_models/dictionary/mandarin_mfa.dict
#mandarin_pinyin	default	Mandarin Pinyin	/data/db/mfa/pretrained_models/dictionary/mandarin_pinyin.dict
#mandarin_taiwan_mfa	default	Mandarin Taiwan (MFA)	/data/db/mfa/pretrained_models/dictionary/mandarin_taiwan_mfa.dict
#polish_cv	default	Polish (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/polish_cv.dict
#polish_mfa	default	Polish (MFA)	/data/db/mfa/pretrained_models/dictionary/polish_mfa.dict
#portuguese_brazil_mfa	default	Portuguese Brazil (MFA)	/data/db/mfa/pretrained_models/dictionary/portuguese_brazil_mfa.dict
#portuguese_cv	default	Portuguese (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/portuguese_cv.dict
#portuguese_mfa	default	Portuguese (MFA)	/data/db/mfa/pretrained_models/dictionary/portuguese_mfa.dict
#portuguese_portugal_mfa	default	Portuguese Portugal (MFA)	/data/db/mfa/pretrained_models/dictionary/portuguese_portugal_mfa.dict
#punjabi_cv	default	Punjabi (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/punjabi_cv.dict
#romanian_cv	default	Romanian (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/romanian_cv.dict
#russian_cv	default	Russian (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/russian_cv.dict
#russian_mfa	default	Russian (MFA)	/data/db/mfa/pretrained_models/dictionary/russian_mfa.dict
#serbocroatian_mfa	default	Serbocroatian (MFA)	/data/db/mfa/pretrained_models/dictionary/serbocroatian_mfa.dict
#sorbian_upper_cv	default	Sorbian Upper (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/sorbian_upper_cv.dict
#spanish_latin_america_mfa	default	Spanish Latin America (MFA)	/data/db/mfa/pretrained_models/dictionary/spanish_latin_america_mfa.dict
#spanish_mfa	default	Spanish (MFA)	/data/db/mfa/pretrained_models/dictionary/spanish_mfa.dict
#spanish_spain_mfa	default	Spanish Spain (MFA)	/data/db/mfa/pretrained_models/dictionary/spanish_spain_mfa.dict
#swahili_mfa	default	Swahili (MFA)	/data/db/mfa/pretrained_models/dictionary/swahili_mfa.dict
#swedish_cv	default	Swedish (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/swedish_cv.dict
#swedish_mfa	default	Swedish (MFA)	/data/db/mfa/pretrained_models/dictionary/swedish_mfa.dict
#tamil_cv	default	Tamil (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/tamil_cv.dict
#tatar_cv	default	Tatar (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/tatar_cv.dict
#thai_cv	default	Thai (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/thai_cv.dict
#thai_mfa	default	Thai (MFA)	/data/db/mfa/pretrained_models/dictionary/thai_mfa.dict
#turkish_cv	default	Turkish (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/turkish_cv.dict
#turkish_mfa	default	Turkish (MFA)	/data/db/mfa/pretrained_models/dictionary/turkish_mfa.dict
#ukrainian_cv	default	Ukrainian (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/ukrainian_cv.dict
#ukrainian_mfa	default	Ukrainian (MFA)	/data/db/mfa/pretrained_models/dictionary/ukrainian_mfa.dict
#urdu_cv	default	Urdu (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/urdu_cv.dict
#uyghur_cv	default	Uyghur (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/uyghur_cv.dict
#uzbek_cv	default	Uzbek (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/uzbek_cv.dict
#vietnamese_cv	default	Vietnamese (CommonVoice)	/data/db/mfa/pretrained_models/dictionary/vietnamese_cv.dict
#vietnamese_hanoi_mfa	default	Vietnamese Hanoi (MFA)	/data/db/mfa/pretrained_models/dictionary/vietnamese_hanoi_mfa.dict
#vietnamese_ho_chi_minh_city_mfa	default	Vietnamese Ho Chi Minh City (MFA)	/data/db/mfa/pretrained_models/dictionary/#vietnamese_ho_chi_minh_city_mfa.dict
#vietnamese_hue_mfa	default	Vietnamese Hue (MFA)	/data/db/mfa/pretrained_models/dictionary/vietnamese_hue_mfa.dict
#vietnamese_mfa	default	Vietnamese (MFA)	/data/db/mfa/pretrained_models/dictionary/vietnamese_mfa.dict
