# mfa_g2p.loc.sample
# This is a *.loc.sample file distributed with Galaxy that enables tools
# to use a set of graph to phone model files. This one is for Montreal Forced Aligner (MFA).
# See the wiki: http://wiki.galaxyproject.org/Admin/NGS%20Local%20Setup
# First create these data files and save them in your own data directory structure.
# Then, create a mfa_g2p.loc.sample file to use those models with tools.
# Copy this file, save it with the same name (minus the .sample), 
# follow the format examples, and store the result in this directory.
# The file should include an one line entry for each index set.
# The path points to the "basename" for the set, not a specific file.
# It has four text columns seperated by TABS.
# You can download and create the models using auxilary scripts provided in
# "auxiliary_scripts" folder of this tool
#
# <value>	<dbkey>	<name>	<path>
#
# So, for example, if you had english_mfa model stored in:
#
#    /data/db/mfa/pretrained_models/g2p/
#
# containing *.zip models, such as:
#
#   -rw-r--r--. 1 armin armin 11094999 Dec  2 14:36 english_us_arpa.zip
#   -rw-r--r--. 1 armin armin 10740410 Dec  2 14:36 english_us_mfa.zip
#
# then the mfa_g2p.loc.sample entry could look like this:
#
#english_us_mfa	default	English Us (MFA)	/data/db/mfa/pretrained_models/g2p/english_us_mfa.zip
#
#Full example:
#
##<value>	<dbkey>	<name>	<path>
#bulgarian_mfa	default	Bulgarian (MFA)	/data/db/mfa/pretrained_models/g2p/bulgarian_mfa.zip
#croatian_mfa	default	Croatian (MFA)	/data/db/mfa/pretrained_models/g2p/croatian_mfa.zip
#czech_mfa	default	Czech (MFA)	/data/db/mfa/pretrained_models/g2p/czech_mfa.zip
#english_india_mfa	default	English India (MFA)	/data/db/mfa/pretrained_models/g2p/english_india_mfa.zip
#english_nigeria_mfa	default	English Nigeria (MFA)	/data/db/mfa/pretrained_models/g2p/english_nigeria_mfa.zip
#english_uk_mfa	default	English Uk (MFA)	/data/db/mfa/pretrained_models/g2p/english_uk_mfa.zip
#english_us_arpa	default	English Us (ARPA)	/data/db/mfa/pretrained_models/g2p/english_us_arpa.zip
#english_us_mfa	default	English Us (MFA)	/data/db/mfa/pretrained_models/g2p/english_us_mfa.zip
#french_mfa	default	French (MFA)	/data/db/mfa/pretrained_models/g2p/french_mfa.zip
#german_mfa	default	German (MFA)	/data/db/mfa/pretrained_models/g2p/german_mfa.zip
#hausa_mfa	default	Hausa (MFA)	/data/db/mfa/pretrained_models/g2p/hausa_mfa.zip
#japanese_katakana_mfa	default	Japanese Katakana (MFA)	/data/db/mfa/pretrained_models/g2p/japanese_katakana_mfa.zip
#japanese_mfa	default	Japanese (MFA)	/data/db/mfa/pretrained_models/g2p/japanese_mfa.zip
#korean_jamo_mfa	default	Korean Jamo (MFA)	/data/db/mfa/pretrained_models/g2p/korean_jamo_mfa.zip
#korean_mfa	default	Korean (MFA)	/data/db/mfa/pretrained_models/g2p/korean_mfa.zip
#mandarin_china_mfa	default	Mandarin China (MFA)	/data/db/mfa/pretrained_models/g2p/mandarin_china_mfa.zip
#mandarin_china_pinyin_mfa	default	Mandarin China Pinyin (MFA)	/data/db/mfa/pretrained_models/g2p/mandarin_china_pinyin_mfa.zip
#mandarin_taiwan_mfa	default	Mandarin Taiwan (MFA)	/data/db/mfa/pretrained_models/g2p/mandarin_taiwan_mfa.zip
#mandarin_taiwan_pinyin_mfa	default	Mandarin Taiwan Pinyin (MFA)	/data/db/mfa/pretrained_models/g2p/mandarin_taiwan_pinyin_mfa.zip
#polish_mfa	default	Polish (MFA)	/data/db/mfa/pretrained_models/g2p/polish_mfa.zip
#portuguese_brazil_mfa	default	Portuguese Brazil (MFA)	/data/db/mfa/pretrained_models/g2p/portuguese_brazil_mfa.zip
#portuguese_portugal_mfa	default	Portuguese Portugal (MFA)	/data/db/mfa/pretrained_models/g2p/portuguese_portugal_mfa.zip
#russian_mfa	default	Russian (MFA)	/data/db/mfa/pretrained_models/g2p/russian_mfa.zip
#serbocroatian_croatian_mfa	default	Serbocroatian Croatian (MFA)	/data/db/mfa/pretrained_models/g2p/serbocroatian_croatian_mfa.zip
#serbocroatian_serbian_mfa	default	Serbocroatian Serbian (MFA)	/data/db/mfa/pretrained_models/g2p/serbocroatian_serbian_mfa.zip
#spanish_latin_america_mfa	default	Spanish Latin America (MFA)	/data/db/mfa/pretrained_models/g2p/spanish_latin_america_mfa.zip
#spanish_spain_mfa	default	Spanish Spain (MFA)	/data/db/mfa/pretrained_models/g2p/spanish_spain_mfa.zip
#swahili_mfa	default	Swahili (MFA)	/data/db/mfa/pretrained_models/g2p/swahili_mfa.zip
#swedish_mfa	default	Swedish (MFA)	/data/db/mfa/pretrained_models/g2p/swedish_mfa.zip
#thai_mfa	default	Thai (MFA)	/data/db/mfa/pretrained_models/g2p/thai_mfa.zip
#turkish_mfa	default	Turkish (MFA)	/data/db/mfa/pretrained_models/g2p/turkish_mfa.zip
#ukrainian_mfa	default	Ukrainian (MFA)	/data/db/mfa/pretrained_models/g2p/ukrainian_mfa.zip
#vietnamese_hanoi_mfa	default	Vietnamese Hanoi (MFA)	/data/db/mfa/pretrained_models/g2p/vietnamese_hanoi_mfa.zip
#vietnamese_ho_chi_minh_city_mfa	default	Vietnamese Ho Chi Minh City (MFA)	/data/db/mfa/pretrained_models/g2p/vietnamese_ho_chi_minh_city_mfa.zip
#vietnamese_hue_mfa	default	Vietnamese Hue (MFA)	/data/db/mfa/pretrained_models/g2p/vietnamese_hue_mfa.zip

