# mfa_language_model.loc.sample
# This is a *.loc.sample file distributed with Galaxy that enables tools
# to use a set of language model files. This one is for Montreal Forced Aligner (MFA).
# See the wiki: http://wiki.galaxyproject.org/Admin/NGS%20Local%20Setup
# First create these data files and save them in your own data directory structure.
# Then, create a mfa_language_model.loc.sample file to use those models with tools.
# Copy this file, save it with the same name (minus the .sample), 
# follow the format examples, and store the result in this directory.
# The file should include an one line entry for each index set.
# The path points to the "basename" for the set, not a specific file.
# It has four text columns seperated by TABS.
# You can download and create the models using auxilary scripts provided in
# "auxiliary_scripts" folder of this tool
#
# <value>	<dbkey>	<name>	<path>
#
# So, for example, if you had english_mfa model stored in:
#
#    /data/db/mfa/pretrained_models/language_model/
#
# containing *.zip models, such as:
#
#   -rw-r--r--. 1 armin armin 186930383 Dec  2 14:39 english_mfa_lm.zip
#
# then the mfa_language_model.loc.sample entry could look like this:
#
#english_mfa_lm	default	English (MFA) Lm	/data/db/mfa/pretrained_models/language_model/english_mfa_lm.zip
#
#Full example:
#
##<value>	<dbkey>	<name>	<path>
#bulgarian_lm	default	Bulgarian Lm	/data/db/mfa/pretrained_models/language_model/bulgarian_lm.zip
#bulgarian_mfa_lm	default	Bulgarian (MFA) Lm	/data/db/mfa/pretrained_models/language_model/bulgarian_mfa_lm.zip
#croatian_mfa_lm	default	Croatian (MFA) Lm	/data/db/mfa/pretrained_models/language_model/croatian_mfa_lm.zip
#czech_mfa_lm	default	Czech (MFA) Lm	/data/db/mfa/pretrained_models/language_model/czech_mfa_lm.zip
#english_mfa_lm	default	English (MFA) Lm	/data/db/mfa/pretrained_models/language_model/english_mfa_lm.zip
#french_mfa_lm	default	French (MFA) Lm	/data/db/mfa/pretrained_models/language_model/french_mfa_lm.zip
#german_mfa_lm	default	German (MFA) Lm	/data/db/mfa/pretrained_models/language_model/german_mfa_lm.zip
#hausa_mfa_lm	default	Hausa (MFA) Lm	/data/db/mfa/pretrained_models/language_model/hausa_mfa_lm.zip
#japanese_mfa_lm	default	Japanese (MFA) Lm	/data/db/mfa/pretrained_models/language_model/japanese_mfa_lm.zip
#korean_mfa_lm	default	Korean (MFA) Lm	/data/db/mfa/pretrained_models/language_model/korean_mfa_lm.zip
#mandarin_mfa_lm	default	Mandarin (MFA) Lm	/data/db/mfa/pretrained_models/language_model/mandarin_mfa_lm.zip
#polish_mfa_lm	default	Polish (MFA) Lm	/data/db/mfa/pretrained_models/language_model/polish_mfa_lm.zip
#portuguese_mfa_lm	default	Portuguese (MFA) Lm	/data/db/mfa/pretrained_models/language_model/portuguese_mfa_lm.zip
#russian_mfa_lm	default	Russian (MFA) Lm	/data/db/mfa/pretrained_models/language_model/russian_mfa_lm.zip
#spanish_mfa_lm	default	Spanish (MFA) Lm	/data/db/mfa/pretrained_models/language_model/spanish_mfa_lm.zip
#swahili_mfa_lm	default	Swahili (MFA) Lm	/data/db/mfa/pretrained_models/language_model/swahili_mfa_lm.zip
#swedish_mfa_lm	default	Swedish (MFA) Lm	/data/db/mfa/pretrained_models/language_model/swedish_mfa_lm.zip
#thai_mfa_lm	default	Thai (MFA) Lm	/data/db/mfa/pretrained_models/language_model/thai_mfa_lm.zip
#turkish_mfa_lm	default	Turkish (MFA) Lm	/data/db/mfa/pretrained_models/language_model/turkish_mfa_lm.zip
#ukrainian_mfa_lm	default	Ukrainian (MFA) Lm	/data/db/mfa/pretrained_models/language_model/ukrainian_mfa_lm.zip
#vietnamese_mfa_lm	default	Vietnamese (MFA) Lm	/data/db/mfa/pretrained_models/language_model/vietnamese_mfa_lm.zip
