# mfa_acoustic.loc.sample
# This is a *.loc.sample file distributed with Galaxy that enables tools
# to use a set of acoustic models. This one is for Montreal Forced Aligner (MFA).
# See the wiki: http://wiki.galaxyproject.org/Admin/NGS%20Local%20Setup
# First create these data files and save them in your own data directory structure.
# Then, create a mfa_acoustic.loc.sample file to use those models with tools.
# Copy this file, save it with the same name (minus the .sample), 
# follow the format examples, and store the result in this directory.
# The file should include an one line entry for each index set.
# The path points to the "basename" for the set, not a specific file.
# It has four text columns seperated by TABS.
# You can download and create the models using auxilary scripts provided in
# "auxiliary_scripts" folder of this tool
#
# <value>	<dbkey>	<name>	<path>
#
# So, for example, if you had english_mfa model stored in:
#
#    /data/db/mfa/pretrained_models/acoustic/
#
# containing *.zip models, such as:
#
#   -rw-r--r--. 1 armin armin 92170811 Dec  2 14:22 english_mfa.zip
#   -rw-r--r--. 1 armin armin 91928208 Dec  2 14:22 english_us_arpa.zip
#
# then the mfa_acoustic.loc.sample entry could look like this:
#
#english_mfa	default	English (MFA)	/data/db/mfa/pretrained_models/acoustic/english_mfa.zip
#
#Full example:
#
##<value>	<dbkey>	<name>	<path>
#abkhaz_cv	default	Abkhaz (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/abkhaz_cv.zip
#armenian_cv	default	Armenian (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/armenian_cv.zip
#bashkir_cv	default	Bashkir (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/bashkir_cv.zip
#basque_cv	default	Basque (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/basque_cv.zip
#belarusian_cv	default	Belarusian (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/belarusian_cv.zip
#bulgarian_cv	default	Bulgarian (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/bulgarian_cv.zip
#bulgarian_mfa	default	Bulgarian (MFA)	/data/db/mfa/pretrained_models/acoustic/bulgarian_mfa.zip
#chuvash_cv	default	Chuvash (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/chuvash_cv.zip
#croatian_mfa	default	Croatian (MFA)	/data/db/mfa/pretrained_models/acoustic/croatian_mfa.zip
#czech_cv	default	Czech (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/czech_cv.zip
#czech_mfa	default	Czech (MFA)	/data/db/mfa/pretrained_models/acoustic/czech_mfa.zip
#dutch_cv	default	Dutch (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/dutch_cv.zip
#english_mfa	default	English (MFA)	/data/db/mfa/pretrained_models/acoustic/english_mfa.zip
#english_us_arpa	default	English Us (ARPA)	/data/db/mfa/pretrained_models/acoustic/english_us_arpa.zip
#french_mfa	default	French (MFA)	/data/db/mfa/pretrained_models/acoustic/french_mfa.zip
#georgian_cv	default	Georgian (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/georgian_cv.zip
#german_mfa	default	German (MFA)	/data/db/mfa/pretrained_models/acoustic/german_mfa.zip
#greek_cv	default	Greek (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/greek_cv.zip
#guarani_cv	default	Guarani (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/guarani_cv.zip
#hausa_cv	default	Hausa (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/hausa_cv.zip
#hausa_mfa	default	Hausa (MFA)	/data/db/mfa/pretrained_models/acoustic/hausa_mfa.zip
#hungarian_cv	default	Hungarian (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/hungarian_cv.zip
#italian_cv	default	Italian (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/italian_cv.zip
#japanese_mfa	default	Japanese (MFA)	/data/db/mfa/pretrained_models/acoustic/japanese_mfa.zip
#kazakh_cv	default	Kazakh (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/kazakh_cv.zip
#korean_mfa	default	Korean (MFA)	/data/db/mfa/pretrained_models/acoustic/korean_mfa.zip
#kurmanji_cv	default	Kurmanji (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/kurmanji_cv.zip
#kyrgyz_cv	default	Kyrgyz (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/kyrgyz_cv.zip
#mandarin_mfa	default	Mandarin (MFA)	/data/db/mfa/pretrained_models/acoustic/mandarin_mfa.zip
#polish_cv	default	Polish (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/polish_cv.zip
#polish_mfa	default	Polish (MFA)	/data/db/mfa/pretrained_models/acoustic/polish_mfa.zip
#portuguese_cv	default	Portuguese (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/portuguese_cv.zip
#portuguese_mfa	default	Portuguese (MFA)	/data/db/mfa/pretrained_models/acoustic/portuguese_mfa.zip
#romanian_cv	default	Romanian (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/romanian_cv.zip
#russian_cv	default	Russian (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/russian_cv.zip
#russian_mfa	default	Russian (MFA)	/data/db/mfa/pretrained_models/acoustic/russian_mfa.zip
#serbocroatian_mfa	default	Serbocroatian (MFA)	/data/db/mfa/pretrained_models/acoustic/serbocroatian_mfa.zip
#sorbian_upper_cv	default	Sorbian Upper (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/sorbian_upper_cv.zip
#spanish_mfa	default	Spanish (MFA)	/data/db/mfa/pretrained_models/acoustic/spanish_mfa.zip
#swahili_mfa	default	Swahili (MFA)	/data/db/mfa/pretrained_models/acoustic/swahili_mfa.zip
#swedish_cv	default	Swedish (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/swedish_cv.zip
#swedish_mfa	default	Swedish (MFA)	/data/db/mfa/pretrained_models/acoustic/swedish_mfa.zip
#tamil_cv	default	Tamil (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/tamil_cv.zip
#tatar_cv	default	Tatar (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/tatar_cv.zip
#thai_cv	default	Thai (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/thai_cv.zip
#thai_mfa	default	Thai (MFA)	/data/db/mfa/pretrained_models/acoustic/thai_mfa.zip
#turkish_cv	default	Turkish (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/turkish_cv.zip
#turkish_mfa	default	Turkish (MFA)	/data/db/mfa/pretrained_models/acoustic/turkish_mfa.zip
#ukrainian_cv	default	Ukrainian (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/ukrainian_cv.zip
#ukrainian_mfa	default	Ukrainian (MFA)	/data/db/mfa/pretrained_models/acoustic/ukrainian_mfa.zip
#uyghur_cv	default	Uyghur (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/uyghur_cv.zip
#uzbek_cv	default	Uzbek (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/uzbek_cv.zip
#vietnamese_cv	default	Vietnamese (CommonVoice)	/data/db/mfa/pretrained_models/acoustic/vietnamese_cv.zip
#vietnamese_mfa	default	Vietnamese (MFA)	/data/db/mfa/pretrained_models/acoustic/vietnamese_mfa.zip
