<?xml version="1.0"?>
<tables>
    <!-- Locations of indexes in the Bowtie mapper format -->
    <table name="metabuli_databases" comment_char="#">
        <columns>value, name, platform, path</columns>
        <file path="tool-data/metabuli_databases.loc" />
    </table>
    <table name="taxanomy" comment_char="#">
        <columns>value, name, path</columns>
        <file path="tool-data/taxanomy.loc" />
    </table>
</tables>
