<!-- Paths are relative to the value of `tool_data_path` in galaxy.ini -->
<tables>
    <!-- Locations of MAF files that have been indexed with bx-python -->
    <table name="maf_indexes">
        <columns>name, value, indexed_for, exists_in_maf, path</columns>
        <file path="maf_indexes.loc" />
    </table>
</tables>
