<tables>
    <!-- Location of tessdata files -->
    <table name="tessdata" comment_char="#">
        <columns>value, name, version, path</columns>
        <file path="tool-data/tessdata.loc" />
    </table>
</tables>