#tag	description	source_manifest	use_source_manifest	phone_home	phone_home_label	local_manifest
#r2022-01-24	r2022-01-24 Database	https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/r2022-01-24/all.manifest	0	0		/big/data/dir/ncbi_fcs_gx_databases_ext/r2022-01-24/all.manifest
#r2022-07-08	r2022-07-08 Database	https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/r2022-07-08/all.manifest	0	0		/big/data/dir/ncbi_fcs_gx_databases_ext/r2022-07-08/all.manifest
#r2023-01-24	r2023-01-24 Database	https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/r2023-01-24/all.manifest	0	0		/big/data/dir/ncbi_fcs_gx_databases_ext/r2023-01-24/all.manifest
#latest	Latest Database	https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/latest/all.manifest	0	1	my galaxy instance	/big/data/dir/ncbi_fcs_gx_databases_ext/latest/all.manifest
#test	Test Database	https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/test-only/test-only.manifest	0	0		/big/data/dir/ncbi_fcs_gx_databases_ext/test-only/test-only.manifest
