#gx_div	tag	description
#anml:amphibians	latest	Animals (Metazoa) - amphibians
#anml:basal metazoans	latest	Animals (Metazoa) - basal metazoans
#anml:birds	latest	Animals (Metazoa) - birds
#anml:brachiopods	latest	Animals (Metazoa) - brachiopods
#anml:crustaceans	latest	Animals (Metazoa) - crustaceans
#anml:echinoderms	latest	Animals (Metazoa) - echinoderms
#anml:fishes	latest	Animals (Metazoa) - fishes
#anml:insects	latest	Animals (Metazoa) - insects
#anml:mammals	latest	Animals (Metazoa) - mammals
#anml:marsupials	latest	Animals (Metazoa) - marsupials
#anml:molluscs	latest	Animals (Metazoa) - molluscs
#anml:nematodes	latest	Animals (Metazoa) - nematodes
#anml:primates	latest	Animals (Metazoa) - primates
#anml:reptiles	latest	Animals (Metazoa) - reptiles
#anml:rodents	latest	Animals (Metazoa) - rodents
#anml:rotifers	latest	Animals (Metazoa) - rotifers
#anml:tardigrades	latest	Animals (Metazoa) - tardigrades
#anml:worms	latest	Animals (Metazoa) - worms
#arch:archaea	latest	Archaea - archaea
#prok:CFB group bacteria	latest	Bacteria - CFB group bacteria
#prok:GNS bacteria	latest	Bacteria - GNS bacteria
#prok:a-proteobacteria	latest	Bacteria - a-proteobacteria
#prok:actinobacteria	latest	Bacteria - actinobacteria
#prok:aquificales	latest	Bacteria - aquificales
#prok:b-proteobacteria	latest	Bacteria - b-proteobacteria
#prok:bacteria	latest	Bacteria - bacteria
#prok:chlamydias	latest	Bacteria - chlamydias
#prok:cyanobacteria	latest	Bacteria - cyanobacteria
#prok:d-proteobacteria	latest	Bacteria - d-proteobacteria
#prok:firmicutes	latest	Bacteria - firmicutes
#prok:fusobacteria	latest	Bacteria - fusobacteria
#prok:g-proteobacteria	latest	Bacteria - g-proteobacteria
#prok:green sulfur bacteria	latest	Bacteria - green sulfur bacteria
#prok:high GC Gram+	latest	Bacteria - high GC Gram+
#prok:mycoplasmas	latest	Bacteria - mycoplasmas
#prok:planctomycetes	latest	Bacteria - planctomycetes
#prok:proteobacteria	latest	Bacteria - proteobacteria
#prok:spirochetes	latest	Bacteria - spirochetes
#prok:thermotogales	latest	Bacteria - thermotogales
#prok:verrucomicrobia	latest	Bacteria - verrucomicrobia
#fung:ascomycetes	latest	Fungi - ascomycetes
#fung:basidiomycetes	latest	Fungi - basidiomycetes
#fung:budding yeasts	latest	Fungi - budding yeasts
#fung:chytrids	latest	Fungi - chytrids
#fung:fungi	latest	Fungi - fungi
#fung:microsporidians	latest	Fungi - microsporidians
#plnt:green algae	latest	Plants (Viridiplantae) - green algae
#plnt:mosses	latest	Plants (Viridiplantae) - mosses
#plnt:plants	latest	Plants (Viridiplantae) - plants
#prst:algae	latest	Protists (other Eukaryota) - algae
#prst:alveolates	latest	Protists (other Eukaryota) - alveolates
#prst:cellular slime molds	latest	Protists (other Eukaryota) - cellular slime molds
#prst:cercozoans	latest	Protists (other Eukaryota) - cercozoans
#prst:choanoflagellates	latest	Protists (other Eukaryota) - choanoflagellates
#prst:euglenoids	latest	Protists (other Eukaryota) - euglenoids
#prst:monads	latest	Protists (other Eukaryota) - monads
#prst:protists	latest	Protists (other Eukaryota) - protists
#prst:slime nets	latest	Protists (other Eukaryota) - slime nets
#synt:synthetic	latest	Synthetic - synthetic
#unkn:unknown	latest	Unknown / Unclassified
#virs:eukaryotic viruses	latest	Virus - eukaryotic viruses
#virs:prokaryotic viruses	latest	Virus - prokaryotic viruses
#virs:viruses	latest	Virus - viruses
