## NCBI FCS GX Tool Configuration
# 
#tag	description	default	phone_home	manifest	path
#all	Complete GX database	1	0	/big/data/dir/all/all.manifest	/dev/shm/gxdb
#test-only	Testing GX database	0	0	/big/data/dir/test-only/test-only.manifest	/dev/shm/gxdb
