## NCBI FCS GX Databases
# 
#tag	manifest	path
#r2022-01-24	https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/r2022-01-24/all.manifest	/big/data/dir
#r2022-07-08	https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/r2022-07-08/all.manifest	/big/data/dir
#r2023-01-24	https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/r2023-01-24/all.manifest	/big/data/dir
#latest	https://ncbi-fcs-gx.s3.amazonaws.com/gxdb/latest/all.manifest	/big/data/dir
#test-only	https://ncbi-fcs-gx.s3.amazonaws.com/gxdb/test-only/test-only.manifest	/big/data/dir
