## NCBI FCS GX Databases
# 
#tag	description	default	phone_home	manifest	local_cache_dir	tool_cache_dir
#all	Complete GX database	0	0	https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/latest/all.manifest	/big/data/dir	/dev/shm/gxdb
#test-only	Testing GX database	1	0	/scratch/rico/galaxy/tool-data/ncbi_fcs_gx/test-only/test-only.manifest	/scratch/rico/galaxy/tool-data/ncbi_fcs_gx/test-only	/dev/shm/gxdb
