## NCBI FCS GX Tool Configuration
# 
#tag	description	use_source_manifest	phone_home	phone_home_tag	node_cache_dir
#all	Complete GX database	0	0		/tmp/gxdb
#test-only	Testing GX database	0	1	usegalaxy.org	/tmp/gxdb
