<tables>
    <!-- Locations of all fasta files under genome directory -->
    <table name="all_fasta" comment_char="#" allow_duplicate_entries="False">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/all_fasta.loc" />
    </table>
    <!-- Locations of STAR indexes -->
    <table name="rnastar_index2_versioned" comment_char="#" allow_duplicate_entries="False">
        <columns>value, dbkey, name, path, with_gene_model, version</columns>
        <file path="tool-data/rnastar_index2_versioned.loc" />
    </table>
</tables>
