# this is a tab separated file describing the location of funannotate databases used for the
# funannotate annotation tool
#
# the columns are:
# value  description format_version	path
#
# for example
# 2021-07-20-120000	Funannotate database 2021-07-20-120000	1.0	/tmp/database/funannotate/funannotate/2021-07-20-120000
