## Dfam FamDB libraries for RepeatMasker, installed by data_manager_repeatmasker.
## Each path is a directory holding a Dfam library in the partitioned FamDB (v3)
## format (a root partition plus selected component partitions).
##
##   <value>	<name>	<version>	<path>
##
#dfam_4_0_curated_consensus_2026-07-22	Dfam 4.0 (curated_consensus) [2026-07-22]	4.0	/depot/repeatmasker_famdb/dfam_4_0_curated_consensus_2026-07-22
