<tables>
    <!-- Locations of RAVmodels for GenomicSuperSignature -->
    <table name="genomic_super_signature_ravmodels" comment_char="#">
        <columns>value, dbkey, version, name, path</columns>
        <file path="tool-data/genomic_super_signature_ravmodels.loc" />
    </table>
</tables>
