<?xml version="1.0"?>
<tables>
    <table name="chromhmm_assemblies" comment_char="#" allow_duplicate_entries="false">
        <columns>value, dbkey, name</columns>
        <file path="tool-data/chromhmm_assemblies.loc"/>
    </table>
</tables>