<tables>
    <!-- Locations of indexes in the HISAT mapper format -->
    <table name="hisat2_indexes" comment_char="#" allow_duplicate_entries="False">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/hisat2_indexes.loc" />
    </table>
</tables>
