#This is a sample file distributed with Galaxy that enables tools
#to use a the deacon dabase.
#
#<unique_build_id>  <dbkey>  <display_name>	<version>	<file_base_path>	<index_format_version>	<note_like_who_did_create_the_db>

#The <version> column indicates the deacon version that generated the database

#
#deacon_db		Deacon_database	0.12.0	/mnt/galaxyIndices/deacon_database/test.idx	3	just for the test
