<tables>
    <table name="snpsift_dbnsfp" comment_char="#">
        <columns>dbkey, build, name, value, annotations</columns>
        <file path="tool-data/snpsift_dbnsfp.loc" />
    </table>
</tables>

