#This is a sample file distributed with Galaxy that enables tools
#to use a directory of GMAPDB indexed sequences data files.  You will need
#to create these data files using gmap_build and then create a gmap_indices.loc file 
#similar to this one (store it in this directory) that points to 
#the directories in which those files are stored. The gmap_indices.loc 
#file has this format (white space characters are TAB characters):
#
#<unique_build_id>   <dbkey>   <display_name>   <kmers> <map,map>       <snp,snp>       <file_base_path>
#hg18   hg18    hg18 (cmet atoi)        12,13,14,15     splicesites,introns     snps    /depot/data2/galaxy/gmap/hg18
#hg19	hg19	hg19 (cmet atoi)	12,13,14,15	splicesites,introns,snps	snps,dbsnp	/depot/data2/galaxy/gmap/hg19
