<tables>
    <table name="gmap_indices" comment_char="#" allow_duplicate_entries="False">
        <columns>uid,dbkey,name,kmers,maps,snps,value</columns>
        <file path="tool-data/gmap_indices.loc" />
    </table>
</tables>
