#This is a sample file distributed with Galaxy that enables tools
#to use fill the select for the available BUSCO lineages
#file has this format (white space characters are TAB characters)
# - value: value used in the options
# - name: name shown to the user in options
# - db_value: the id/value of the busco db (in the busco_database data table)