# This is a sample file distributed with Galaxy that is used to define a
# list of busco datasets, using four columns tab separated:
#
# <unique_build_id>	<display_name>	<genome_fasta_file_path>
#
# Datasets can be retrieved from http://busco.ezlab.org/frame_wget.html
#
# "/some/path/datasets/" would be the last column in the line
# If this were for the /some/path/lineage/cyanobacteria_odb9/ reference dataset:
#
# $ ls /some/path/datasets/cyanobacteria_odb9/
#   ancestral  ancestral_variants  dataset.cfg  hmms  info  lengths_cutoff  prfl  scores_cutoff
#
# the resulting entry would look like:
#
#cyanobacteria_odb9	cyanobacteria	/some/path/datasets/
#
#
