#This is a sample file distributed with Galaxy that enables tools
#to use a pre-built kmindex indexes. You will need to create these
#indexes and then create a kmindex.loc file similar to this
#one (store it in this directory) that points to pre-built indexes.
#The kmindex.loc file has this format 
#(longer white space characters are TAB characters):
#
#<unique_build_id>   <display_name>   <file_path>