#This is a sample file distributed with Galaxy that enables tools
#file has this format (white space characters are TAB characters)
#resfinder.90-v1.1.2	resfinder (90 percent identity)	300524-v1.1.2	${__HERE__}/resfinder.90    1.1.2