<tables>
    <table name="ffindex_indices" comment_char="#" allow_duplicate_entries="False">
        <columns>value, name, path, type</columns>
        <file path="tool-data/ffindex_indices.loc" />
    </table>
</tables>
