<?xml version="1.0"?>
<tables>
    <table name="samestr_db" comment_char="#">
        <columns>value, dbkey, name, path, clade, version_file</columns>
        <file path="tool-data/samestr_db.loc" />
    </table>
    <table name="metaphlan_database_versioned" comment_char="#">
        <columns>value, name, dbkey, path, db_version</columns>
        <file path="tool-data/metaphlan_database_versioned.loc" />
    </table>

    <table name="motus_db_versioned" comment_char="#">
        <columns>value, version, name, path</columns>
        <file path="tool-data/motus_db_versioned.loc" />
    </table>
</tables>