<?xml version="1.0"?>
<tables>
    <!-- Locations of clair3 model folders -->
    <table name="clair3_models" comment_char="#">
        <columns>value, platform, sha256, path, source</columns>
        <file path="tool-data/clair3_models.loc" />
    </table>
    <table name="all_fasta" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/all_fasta.loc" />
    </table>
</tables>
