#This is a sample file distributed with Galaxy that enables tools
#to use a directory of busco files.  
#file has this format (white space characters are TAB characters)
# - db-build-date
# - db-name
# - db-version
# - /path/to/data 
#03_28_2023	 Busco lineage datasets	db_v01	/path/to/data