# This is a sample file distributed with snapatac2 which enables the tool to perform motif enrichment analysis
#
# The meme.loc file syntax is:
#<unique_id>	<display_name>	<path>
#
# Please ensure that the above fields are tab separated.
#
# Currently the files should be downloaded manually
#
#Example:
#
#cisbp cis_bp(unique=True)	/path/to/cisBP_human.meme.gz
#meuleman_2020	Meuleman_2020 /path/to/Meuleman_2020.meme.gz