<?xml version="1.0"?>
<tables>
    <table name="mmseqs2_aminoacid_taxonomy_databases" comment_char="#">
        <columns>value, name, path, version</columns>
        <file path="tool-data/mmseqs2_aminoacid_taxonomy_databases.loc.sample"/>
    </table>
    <table name="mmseqs2_nucleotide_taxonomy_databases" comment_char="#">
        <columns>value, name, path, version</columns>
        <file path="tool-data/mmseqs2_nucleotide_taxonomy_databases.loc.sample"/>
    </table>
</tables>
