<tables>
    <table name="mmseqs2_databases" comment_char="#">
        <columns>value, name, dbkey, path, version</columns>
        <file path="tool-data/mmseqs2_database_versioned.loc"/>
    </table>
</tables>