<tables>
    <table name="mmseqs2_aminoacid_databases" comment_char="#">
        <columns>value, name, dbkey, path, version</columns>
        <file path="tool-data/mmseqs2_aminoacid_databases.loc"/>
    </table>
    <table name="mmseqs2_aminoacid_taxonomy_databases" comment_char="#">
        <columns>value, name, dbkey, path, version</columns>
        <file path="tool-data/mmseqs2_aminoacid_taxonomy_databases.loc"/>
    </table>
    <table name="mmseqs2_nucleotide_databases" comment_char="#">
        <columns>value, name, dbkey, path, version</columns>
        <file path="tool-data/mmseqs2_nucleotide_databases.loc"/>
    </table>
    <table name="mmseqs2_nucleotide_taxonomy_databases" comment_char="#">
        <columns>value, name, dbkey, path, version</columns>
        <file path="tool-data/mmseqs2_nucleotide_taxonomy_databases.loc"/>
    </table>
    <table name="mmseqs2_profile_databases" comment_char="#">
        <columns>value, name, dbkey, path, version</columns>
        <file path="tool-data/mmseqs2_profile_databases.loc"/>
    </table>
</tables>