## Downloaded Databases for SnpEff 
## These are from the list on: http://snpeff.sourceforge.net/download.html
## the Description field in this sample is "Genome : Version" 
#Version        Description	data_dir path
#GRCh37.68      Homo sapiens : GRCh37.68	/home/galaxy/snpEff/data
