# ffindex collection, you can add multiple indices here and seperate them via the type (last column)
# The path should point to a directory and the file-prefix ('pdb_prefix').
# The folder needs to contain two files pdb_prefix.ffindex and pdb_prefix.ffdata
#
#identifer	description from the PDB set	/mnt/pdb_indices/pdb/pdb_prefix	pdb
#identifer	description from the HHR set	/mnt/hhr/hhr_prefix	hhr

