# this is a tab separated file describing the location of OMAmer databases used for the
# OMAmer annotation tool
#
# the columns are:
# value name version path
#
# for example
# Primates-v2.0.0	Primates	2.0.2	/tmp/database/omamer/database_omamer/Primates-v2.0.0