# this is a tab separated file describing the location of pangolin_data databases used for the
# pangolin SARS-CoV-2 lineage typing tool
#
# the columns are:
# value  description min_pangolin_version	date	path
#
# min_pangolin_version is the minimum pangolin tool major version that is needed to read the pangolin_data
#
# for example
#v1.11	pangolin-data v1.11	4	2022-06-29T15:57:17	/srv/galaxy/tool-data/pangolin_data/v1.11
