<tables>
    <!-- Locations of indices MALT versions 0.5.3 and higher -->
    <table name="malt_indices" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/malt_indices.loc" />
    </table>
</tables>
