<?xml version="1.0"?>
<tables>
    <!-- Locations of Mash sketches in the required format -->
    <table name="mash_sketches" comment_char="#">
        <columns>value, name, path</columns>
        <file path="tool-data/mash_sketches.loc" />
    </table>
</tables>
