
body{ margin:10 100; background:whitesmoke; }
/*body{ margin:10 100; background:darkslategrey; }*/
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;}

/* matplotlib output at 1600x1200  */
.distr_gallery {
    display: grid;
    margin: 0 auto;
    text-align: center;
    /* border: 1px dashed rgba(4, 4, 4, 0.35);     */
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 20vw;    
    grid-gap: 0px;
    column-gap: 0px
}
.distr_gallery__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* matplotlib output at 1600x1200  */
.snapshot_gallery {
    display: grid;
    margin: 0 auto;
    border: 1px dashed rgba(4, 4, 4, 0.35);
    text-align: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,20vw);
    grid-gap: 5px;
}
.snapshot_gallery__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#areaA {
  background-color: lime;
}

#areaB {
  background-color: yellow;
}
