# Expect three columns, tab separated, as follows:
# - value (Galaxy records this in the Galaxy DB, must be unique, suggest using a UUID)
# - name (Galaxy shows this in the UI)
# - path to sketch.msh file
#
# e.g.
# 75913ffd-ed54-4691-ba75-159ab901835e<tab>Example sketch<tab>/path/to/mash_sketches/75913ffd-ed54-4691-ba75-159ab901835e/sketch.msh
