# This file defines databases and their folder location. Each database is a line with 
# three columns: value{tab}{name}{/path/to/database-folder} 
# E.g. card{tab}card{tab}/home/user/ariba_databases/card
# The database folder is created by the command ariba preparef