<tables>
  <table name="mothur_aligndb" comment_char="#" allow_duplicate_entries="False">
    <columns>name, value</columns>
    <file path="tool-data/mothur_aligndb.loc" />
  </table>
  <table name="mothur_lookup" comment_char="#" allow_duplicate_entries="False">
    <columns>name, value</columns>
    <file path="tool-data/mothur_lookup.loc" />
  </table>
  <table name="mothur_map" comment_char="#" allow_duplicate_entries="False">
    <columns>name, value</columns>
    <file path="tool-data/mothur_map.loc" />
  </table>
  <table name="mothur_taxonomy" comment_char="#" allow_duplicate_entries="False">
    <columns>name, value</columns>
    <file path="tool-data/mothur_taxonomy.loc" />
  </table>
</tables>