# Expect three columns, tab separated, as follows:
# - value (Galaxy records this in the Galaxy DB, must be unique, suggest using a UUID)
# - name (Galaxy shows this in the UI)
# - path to struct_profiles.txt file
#
# e.g.
# e6987a4f-c54b-490e-a32d-67e91e0c2328<tab>Structural Variant Profiles<tab>/path/to/tetyper/struct_profiles.txt
