# Expect three columns, tab separated, as follows:
# - value (Galaxy records this in the Galaxy DB, must be unique, suggest using a UUID)
# - name (Galaxy shows this in the UI)
# - path to snp_profiles.txt file
#
# e.g.
# c4269788-80f0-4ed5-9ff4-5fe30484678d<tab>SNP Profiles<tab>/path/to/tetyper/snp_profiles.txt
