<tables>
    <table name="snpsift_dbnsfps" comment_char="#" allow_duplicate_entries="False">
        <columns>key, build, name, value, annotations</columns>
        <file path="tool-data/snpsift_dbnsfps.loc" />
    </table>
</tables>

