<tables>
    <table
        name="perseus_taxonomy_db"
        comment_char="#"
        allow_duplicate_entries="False">
        <columns>value, name, path</columns>
        <file path="tool-data/perseus_taxonomy_db.loc" />
    </table>
</tables>