<tables>
    <!-- Locations of mirdp2 database in the required format -->
    <table name="mirdp2_databases" comment_char="#" allow_duplicate_entries="False">
        <columns>value, name, path</columns>
        <file path="tool-data/mirdp2_databases.loc" />
    </table>
</tables>
