test*.fa
crosby_491_paper_draft-blx.bib
crosby_491_paper_draft.aux
crosby_491_paper_draft.bbl
crosby_491_paper_draft.blg
crosby_491_paper_draft.log
crosby_491_paper_draft.out
crosby_491_paper_draft.run.xml
crosby_491_paper_draft.tex.blg

*.pyc
.venv
