# consists of 4 tab separated columns:
# - value identifier
# - name the name shown in the tool form
# - type mitos/mitos2
# - path the directory containing the reference data
# 
# example:
# mitos1-refdata	RefSeq39 + MiTFi tRNA models	mitos	/tmp/tmpSp4v2Y/tmpR7DRNf/tmp53wbgs/database/data_manager_tool-dataWhw0Ns/mitos/mitos1-refdata
