# all_fasta.loc: reference genomes available to the PyEuk cached-genome option.
# Columns are <unique id> <dbkey> <display name> <path to FASTA>, tab-separated. e.g.:
# hg38  hg38  Human (hg38)  /depot/data/genomes/hg38/seq/hg38.fa
