#This is a sample file distributed with Galaxy that enables tools
#to use a tessdata model folder. The tessdata.loc 
#file needs this format (longer white space is the TAB character):

#<unique_build_id>	<display_name>	<version>	<DB_folder_path>

# for example:

# tessdata	name 0.1	0.1	/data/tessdata