#<unique_id>  <name>  <database_caption>  <fasta_file_path>
#
#For each reference database, you need to download the fasta file in qiime path
#
#List of useful db for qiime: http://qiime.org/home_static/dataFiles.html
#