<tables>
    <table name="snpeff_msigdb_database" comment_char="#" allow_duplicate_entries="False">
        <columns>value, name, path</columns>
        <file path="tool-data/snpeff_msigdb_database.loc" />
    </table>
</tables>

