#This is a sample file distributed with Galaxy that enables tools
#to use a directory of rna-star indexed sequences data files. You will
#need to create these data files and then create a bowtie_indices.loc
#file similar to this one (store it in this directory) that points to
#the directories in which those files are stored. The bowtie2_indices.loc
#file has this format (longer white space characters are TAB characters):
#
#<unique_build_id>   <dbkey>   <display_name>   <file_base_path>
#
#hg19   hg19    hg19 full   /mnt/galaxyIndices/genomes/hg19/rnastar

