<tables>
    <table name="deacon" comment_char="#" allow_duplicate_entries="False">
        <columns>value, dbkey, name, version, path, format_version, note</columns>
        <file path="tool-data/deacon.loc" />
    </table>
</tables>