<?xml version="1.0"?>
<tables>
    <!-- Locations of gene annotation data -->
    <table name="gff_gene_annotations" comment_char="#">
        <columns>value, name, path</columns>
        <file path="tool-data/gene_annotation.loc" />
    </table>
</tables>