<tables>
    <table name="spacy_models" comment_char="#" allow_duplicate_entries="False">
        <columns>value, name, model, lang, version, model_path</columns>
        <file path="tool-data/spacy_models.loc" />
    </table>
</tables>
