# This is a sample file distributed with Galaxy that enables tools
# to use a directory of GTDB-Tk databases.  The gtdbtk_databases.loc
# file has this format (longer white space characters are TAB characters):
#
# <unique_build_id> <display_name>  <directory_path>
#
# So, for example, if you have the gtdbtk 202 stored in 
# /depot/data2/galaxy/gtdbtk/202/, 
# then the gtdbtk_databases.loc entry would look like this:
#
# release202    gtdbtk database release 202 /depot/data2/galaxy/gtdbtk/release202
#
# and your /depot/data2/galaxy/gtdbtk/release202 directory
# would contain GTDB-Tk database files for release 202, sommething like this:
#
#drwxr-sr-x  3 gvk G-824019    4096 Apr 20  2021 fastani/
#-rw-r--r--  1 gvk G-824019 4810764 Apr 22  2021 manifest.tsv
#drwxr-sr-x  4 gvk G-824019    4096 Apr 21  2021 markers/
#drwxr-sr-x  2 gvk G-824019    4096 Apr 20  2021 masks/
#drwxr-sr-x  2 gvk G-824019    4096 Apr 20  2021 metadata/
#drwxr-sr-x  2 gvk G-824019    4096 Apr 21  2021 mrca_red/
#drwxr-sr-x  2 gvk G-824019    4096 Apr 20  2021 msa/
#drwxr-sr-x  4 gvk G-824019    4096 Apr 21  2021 pplacer/
#drwxr-sr-x  2 gvk G-824019    4096 Apr 20  2021 radii/
#drwxr-sr-x  2 gvk G-824019    4096 Apr 20  2021 taxonomy/
