#This is a sample file that enables the diamind to find the protein databases
#You will need to create these data files and then create 
#a diamond_database.loc file similar to this one (store it in this directory) 
#that points to the directories in which those files are stored. 
#The diamond_database_indices.loc file has this format (longer white space characters are TAB characters):
#
#<unique_build_id>   <display_name>   <file_base_path>
#
#So, for example:
#ncbi_nr	NCBI NR database (1-1-2015)	/data/db/diamond/1-1-2015/nr.dmnd
