#This is a sample file distributed with Galaxy.
#
# PICRUSt supplied files: http://kronos.pharmacology.dal.ca/public_files/picrust/picrust_precalculated_v1.1.1/13_5/
#
# files may be in gzipped format or unzipped
#
#<dbname>	<file_base>
#16S 13_5	/path/to/file/16S_13_5_precalculated.tab.gz
#cog 13_5	/path/to/file/cog_13_5_precalculated.tab
#ko 13_5	/path/to/file/ko_13_5_precalculated.tab.gz
#rfam 13_5	/path/to/file/rfam_13_5_precalculated.tab.gz
