#This file lists the locations and dbkeys of all the gff files
#under the "genome" directory (a directory that contains a directory
#for each build). 
#This file has the format (white space characters are TAB characters):
#
#<unique_build_id>	<dbkey>		<display_name>	<file_path>
#
#So, all_gff.loc could look something like this:
#
#apiMel3	apiMel3	Honeybee (Apis mellifera): apiMel3		/path/to/genome/apiMel3/apiMel3_annotation.gff3
#hg19canon	hg19		Human (Homo sapiens): hg19 Canonical		/path/to/genome/hg19/hg19canon_annotation.gff
#hg19full	hg19		Human (Homo sapiens): hg19 Full			/path/to/genome/hg19/hg19full_annotation.gff
#
#Your all_gff.loc file should contain an entry for each individual
#gff file. So there will be multiple fasta files for each build,
#such as with hg19 above.
#
