<tables>
    <!-- Locations of all transcriptome fasta files -->
    <table name="all_trans" comment_char="#" allow_duplicate_entries="False">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/all_trans.loc" />
    </table>
    <!-- Locations of all gtf files with annotations of genome builds -->
    <table name="all_gtf" comment_char="#" allow_duplicate_entries="False">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/all_gtf.loc" />
    </table>	
</tables>
