<tables>
    <!-- Location of MGnify database files -->
    <table name="mapseq_db" comment_char="#">
        <columns>value, dbkey, version, name, path</columns>
        <file path="tool-data/mapseq_db.loc" />
    </table>
</tables>