<tables>
    <table name="bwameth_indexes" comment_char="#" allow_duplicate_entries="False">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/bwameth_indexes.loc" />
    </table>
</tables>
