# this is a tab separated file describing the location of EnzBert models used for the
# EnzBert tool
#
# the columns are:
# value name path
#
# for example
# Enzbert_model   Enzbert_model   path/to/enzbert