<tables>
    <table name="life_taxons" comment_char="#">
        <columns>value, name</columns>
        <file path="tool-data/life.loc" />
    </table>
    <table name="domain_taxons" comment_char="#">
        <columns>value, name</columns>
        <file path="tool-data/domain.loc" />
    </table>
    <table name="phylum_taxons" comment_char="#">
        <columns>value, name</columns>
        <file path="tool-data/phylum.loc" />
    </table>
    <table name="order_taxons" comment_char="#">
        <columns>value, name</columns>
        <file path="tool-data/order.loc" />
    </table>
    <table name="family_taxons" comment_char="#">
        <columns>value, name</columns>
        <file path="tool-data/family.loc" />
    </table>
    <table name="genus_taxons" comment_char="#">
        <columns>value, name</columns>
        <file path="tool-data/genus.loc" />
    </table>
    <table name="species_taxons" comment_char="#">
        <columns>value, name</columns>
        <file path="tool-data/species.loc" />
    </table>
</tables>