# id: db name + date
# name: what is shown to the user in the select
# path: of the reference data must contain database.fmi, names.dmp and nodes.dmp
# version: version used for constructing the DB (or just the current version at the time when pre-computed indices were downloaded)
#id	name	path	version