
#This is a sample file distributed with Galaxy that enables tools
#to use a directory of OMAMer databases. 
#
# the columns are:
#value  description version /path/to/data
#
#for example
#Primates-v2.0.0	Primates	2.0.0	${__HERE__}/db/
