#unique_id	name	gatk_value	tools_valid_for
AlleleBalance	AlleleBalance	AlleleBalance	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator,HaplotypeCaller
AlleleBalanceBySample	AlleleBalanceBySample	AlleleBalanceBySample	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator,HaplotypeCaller
BaseCounts	BaseCounts	BaseCounts	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator,HaplotypeCaller
BaseQualityRankSumTest	BaseQualityRankSumTest	BaseQualityRankSumTest	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator,HaplotypeCaller
ChromosomeCounts	ChromosomeCounts	ChromosomeCounts	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator,HaplotypeCaller
Coverage	Coverage	Coverage	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator,HaplotypeCaller
DepthPerAlleleBySample	DepthPerAlleleBySample	DepthPerAlleleBySample	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator,HaplotypeCaller
FisherStrand	FisherStrand	FisherStrand	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator,HaplotypeCaller
GCContent	GCContent	GCContent	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator,HaplotypeCaller
HaplotypeScore	HaplotypeScore	HaplotypeScore	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator,HaplotypeCaller
HardyWeinberg	HardyWeinberg	HardyWeinberg	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator,HaplotypeCaller
HomopolymerRun	HomopolymerRun	HomopolymerRun	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator,HaplotypeCaller
InbreedingCoeff	InbreedingCoeff	InbreedingCoeff	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator,HaplotypeCaller
LowMQ	LowMQ	LowMQ	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator,HaplotypeCaller
MVLikelihoodRatio	MVLikelihoodRatio	MVLikelihoodRatio	VariantAnnotator,VariantRecalibrator,HaplotypeCaller
MappingQualityRankSumTest	MappingQualityRankSumTest	MappingQualityRankSumTest	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator,HaplotypeCaller
MappingQualityZero	MappingQualityZero	MappingQualityZero	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator,HaplotypeCaller
MappingQualityZeroBySample	MappingQualityZeroBySample	MappingQualityZeroBySample	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator,HaplotypeCaller
NBaseCount	NBaseCount	NBaseCount	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator,HaplotypeCaller
QualByDepth	QualByDepth	QualByDepth	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator,HaplotypeCaller
RMSMappingQuality	RMSMappingQuality	RMSMappingQuality	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator,HaplotypeCaller
ReadPosRankSumTest	ReadPosRankSumTest	ReadPosRankSumTest	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator,HaplotypeCaller
SampleList	SampleList	SampleList	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator,HaplotypeCaller
SnpEff	SnpEff	SnpEff	VariantAnnotator,VariantRecalibrator,HaplotypeCaller
SpanningDeletions	SpanningDeletions	SpanningDeletions	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator,HaplotypeCaller
