<?xml version="1.0"?>
<tables>
    <!-- Locations of the reference genomes offered by the "cached genome" option of
         define-windows, call-haplotypes and derive-panel. -->
    <table name="all_fasta" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/all_fasta.loc" />
    </table>
</tables>
