<tables>
    <table name="gemini_versioned_databases" comment_char="#" allow_duplicate_entries="False">
        <columns>value, dbkey, version, name, path</columns>
        <file path="tool-data/gemini_versioned_databases.loc" />
    </table>
</tables>

