<tables>
    <table name="gemini_databases" comment_char="#" allow_duplicate_entries="False">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/gemini_databases.loc" />
    </table>
</tables>

