<tables>
    <table name="blastdb_p" comment_char="#" allow_duplicate_entries="False">
        <columns>value, name, path</columns>
        <file path="tool-data/blastdb_p.loc" />
    </table>
</tables>
