#This is a sample file distributed with Galaxy that enables tools
#to use a directory of metagenomics files.
#file has this format (white space characters are TAB characters)
test-db-2022	"Test Database"  ${__HERE__}/test-db
