<tables>
    <!-- Locations of bakta database in the required format -->
    <table name="bakta_database" comment_char="#">
        <columns>value, dbkey, database_record, bakta_version, path</columns>
        <file path="tool-data/bakta_database.loc" />
    </table>
</tables>
