{
  "configuration": {
    "rpc": {
      "defaultDriver": "WebWorkerRpcDriver",
      "drivers": {
        "MainThreadRpcDriver": {},
        "WebWorkerRpcDriver": {}
      }
    },
    "logoPath": {
      "locationType": "UriLocation",
      "uri": ""
    }
  },
  "plugins": [],
  "assemblies": [],
  "tracks": [],
  "internetAccounts": [],
  "aggregateTextSearchAdapters": [],
  "connections": [],
  "defaultSession": {}
}
