#This is a sample file distributed with Galaxy that enables tools
#to use a directory of metagenomics files.  
#file has this format (white space characters are TAB characters):
#
# Reference Alignments:  http://www.mothur.org/wiki/Alignment_database
#
#<dbname>	<file_base>	<type>
#
#greengenes	/project/db/galaxy/mothur/core_set_aligned.imputed.fasta	TODO
#silva archaea	/project/db/galaxy/mothur/Silva.archaea/silva.archaea.fasta	TODO
#silva bacteria	/project/db/galaxy/mothur/silva.bacteria/silva.bacteria.fasta	TODO
#silva eukarya	/project/db/galaxy/mothur/silva.eukarya.fasta	TODO
#silva archaea nogap	/project/db/galaxy/mothur/Silva.archaea/nogap.archaea.fasta	TODO
#silva bacteria nogap	/project/db/galaxy/mothur/silva.bacteria/nogap.bacteria.fasta	TODO
#silva eukarya nogap	/project/db/galaxy/mothur/nogap.eukarya.fasta	TODO
#FungiLSU_train_1400bp_8506_mod.fasta	/project/db/galaxy/mothur/RDP/FungiLSU_train_1400bp_8506_mod.fasta	TODO
#trainset6_032010.rdp.fasta	/project/db/galaxy/mothur/RDP/trainset6_032010.rdp.fasta	TODO
#trainset7_112011.pds.fasta	/project/db/galaxy/mothur/RDP/trainset7_112011.pds.fasta	TODO
#trainset7_112011.rdp.fasta	/project/db/galaxy/mothur/RDP/trainset7_112011.rdp.fasta	TODO
