<tables>
    <table name="lexicmap_index" comment_char="#" allow_duplicate_entries="False">
        <columns>value, name, path</columns>
        <file path="tool-data/lexicmap_index.loc"/>
    </table>    
</tables>
