#This file lists the locations and dbkeys of all the genome and transcriptome fasta files
#under the "genome" directory (a directory that contains a directory
#for each build. This file has the format (white space characters are
#TAB characters):
#
#<unique_build_id>	<dbkey>	<display_name>	<file_path>
#
#So, all_fasta.loc could look something like this:
#
#apiMel4.5	apiMel4.5	Honeybee (Apis mellifera): apiMel4.5	/path/to/genome/apiMel4.5/apiMel4.5.fa
#hg38canon	hg38	Human (Homo sapiens): hg38 Canonical	/path/to/genome/hg38/hg38canon.fa
#hg38full	hg38	Human (Homo sapiens): hg38 Full	/path/to/genome/hg38/hg38full.fa
#hg38full.90	hg38    Human (Homo sapiens): hg38 Full Trans v90	/path/to/genome/hg38/hg38fulltrans.fa

#Your all_fasta.loc file should contain an entry for each individual
#fasta file. So there will be multiple fasta files for each build,
#such as with hg38 above.

