#A sample file that contains models provided by celltypist
#
# the columns are:
#value   name    date    /path/to/data
#
#An example
#Immune_All_Low_v2	Model for testing. Actual model used is Immune_All_Low.pkl (v2).	2022-07-16 00:20:42.927778	/path/to/Immune_All_Low_v2.pkl