#This is a sample file distributed with Galaxy that enables tools
#to use a directory of metagenomics files.  
#file has this format (white space characters are TAB characters):
#
# Secondary structure maps:    http://www.mothur.org/wiki/Secondary_structure_map
#
#<name>	<file_base>
#
#greengenes	/project/db/galaxy/mothur/gg.ss.map
#silva	/project/db/galaxy/mothur/silva.ss.map
