## Molecular Signatures Database (MSigDB) for SnpEff 
## These are from the list on: http://snpeff.sourceforge.net/download.html
#genome	msigdb_name path_to_database
#GRCh37.70	MSigDB 08-2014	/data/msigdb/08_2014/msigdb.gmt
