<?xml version="1.0"?>
<tables>
    <!-- LIANA Ligand-Receptor Resources -->
    <table name="liana_resources" comment_char="#">
        <columns>value, name, description, path</columns>
        <file path="liana-db/liana_resources.loc" />
    </table>
</tables>
