<tables>
    <table name="transvar_annotations" comment_char="#" allow_duplicate_entries="False">
        <columns>value, dbkey, refversion, name, sources, path</columns>
        <file path="tool-data/transvar_annotations.loc"/>
    </table>
</tables>
