<tables>
    <!-- Locations of RAVs for GenomicSuperSignature -->
    <table name="genomic_super_signature_ravs" comment_char="#">
        <columns>value, dbkey, version, name, path</columns>
        <file path="tool-data/genomic_super_signature_ravs.loc" />
    </table>
</tables>
