<tables>
    <!-- Locations of all gtf files with annotations of genome builds -->
    <table name="gene_sets" comment_char="#" allow_duplicate_entries="False">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/gene_sets.loc" />
    </table>	
</tables>
