<tables>
    <table name="celltypist_models" comment_char="#" allow_duplicate_entries="False">
        <columns>vamodel, details, date, path</columns>
        <file path="tool-data/celltypist_models.loc" />
    </table>
</tables>
