<!-- Use the file tool_data_table_conf.xml.oldlocstyle if you don't want to update your loc files as changed in revision 4550:535d276c92bc-->
<tables>
    <table name="rnastar_index2" comment_char="#" allow_duplicate_entries="False">
        <columns>value, dbkey, name, path, with-gtf</columns>
        <file path="tool-data/rnastar_index2.loc" />
    </table>
</tables>
