<tables>
    <table name="rnastar_index2_versioned" comment_char="#" allow_duplicate_entries="False">
        <columns>value, dbkey, name, path, with_gene_model, version</columns>
        <file path="tool-data/rnastar_index2_versioned.loc" />
    </table>
</tables>
