<!-- Use the file tool_data_table_conf.xml.oldlocstyle if you don't want to update your loc files as changed in revision 4550:535d276c92bc-->
<tables>
    <table name="rnastar_index" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/rnastar_index.loc" />
    </table>
</tables>
