#This is a sample file distributed with Galaxy that enables tools
#to use a mapseq DB folder. The mapseq_db.loc 
#file needs this format (longer white space is the TAB character):

#<unique_build_id>	<dbkey>	<version>	<display_name>	<DB_folder_path>

# for example:

# mapseq_db	mapseq_db	0.1	MGnify LSU Reference Database	/data/lsu_db

