#This is a sample file distributed with Galaxy that enables tools
#to use a mapseq DB folder. The mapseq_db.loc 
#file needs this format (longer white space is the TAB character):

<value>	<name>	<version>	<path>

# for example:

#mapseq_db	MGnify LSU Reference Database 0.1	0.1	/data/lsu_db

