<tables>
    <!-- Locations of ariba database in the required format -->
    <table name="amrfinder_databases" comment_char="#" allow_duplicate_entries="False">
        <columns>value, name, path</columns>
        <file path="tool-data/amrfinder_databases.loc" />
    </table>
</tables>