# This file has the format (white space characters are TAB characters):
#
#<value>	<name>	<path>	<description>
#
#So, meme_motif_databases.loc could look something like this:
#
#2017_12	2017_12	/meme_motif_databases/2017_12	December 2017
