<tables>
    <!-- Location of meme_motif_databases -->
    <table name="meme_motif_databases" comment_char="#" allow_duplicate_entries="False">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/meme_motif_databases.loc" />
    </table>
</tables>
