<tables>
    <table name="pangolin_data" comment_char="#" allow_duplicate_entries="False">
        <!-- min_pangolin_version is the minimum pangolin tool major version that is needed to read the pangolin_data -->
        <columns>value, description, min_pangolin_version, path</columns>
        <file path="tool-data/pangolin_data.loc" />
    </table>
</tables>
