#This is a sample file distributed with Galaxy that enables tools
#to use metaphlan reference data.
#
#file has this format (white space characters are TAB characters)
# - db-build-version-date
# - db-name
# - build
# - /path/to/data
# - db_version: "legacy" for metaphlan<4; SGB otherwise
#
# previously this was metaphlan_database which missed the db_version
# column data from this data table could be included here by adding a column
# with content "legacy", and for usability it is suggested to add some info
# in column 2 (which is visible to the user) that metaphlan3 will be used
# if this data is selected
#
# Example:
#02_16_2014	 MetaPhlAn clade-specific marker genes	db_v20	/path/to/data	SGB