<tables>
    <table name="kaiju" comment_char="#" allow_duplicate_entries="False">
        <columns>value, name, path, version</columns>
        <file path="tool-data/kaiju.loc" />
    </table>
</tables>
