# This is a sample file distributed with Galaxy that enables tools
# to use a directory of MALT indexed data files.  The malt_index.loc
# file has this format (longer white space characters are TAB characters):
#
# <unique_build_id>   <dbkey>   <display_name>   <directory_path>
#
# So, for example, if you have the phiX indexe stored in 
# /depot/data2/galaxy/phiX/base/, 
# then the malt_index.loc entry would look like this:
#
# phiX174   phiX   phiX Pretty   /depot/data2/galaxy/phiX/base
#
# and your /depot/data2/galaxy/phiX/base/ directory
# would contain MALT index files for phiX174, sommething like this:
#
# -rw-r----- 1 galaxy galaxy    69 Oct 15 09:51 index0.idx
# -rw-r----- 1 galaxy galaxy  5442 Oct 15 09:51 ref.db
# -rw-r----- 1 galaxy galaxy     8 Oct 15 09:51 ref.idx
# -rw-r----- 1 galaxy galaxy    25 Oct 15 09:51 ref.inf
# -rw-r----- 1 galaxy galaxy 24952 Oct 15 09:51 table0.db
# -rw-r----- 1 galaxy galaxy 65536 Oct 15 09:51 table0.idx
#
phiX174	NC_001422	Coliphage phiX174	/depot/data2/galaxy/tool-data/malt_index/phiX174
