#This file lists the locations and dbkeys of all the GFF files
#This file has the format (white space characters are
#TAB characters):
#
#<unique_build_id>	<dbkey>	<display_name>	<file_path>
#
#So, all_gff.loc could look something like this:
#
#apiMel3	apiMel3	Honeybee (Apis mellifera): apiMel3	/path/to/annotation/apiMel3/apiMel3.gff
#hg19canon	hg19	Human (Homo sapiens): hg19 Canonical	/path/to/annotation/hg19/hg19canon.gff
#hg19full	hg19	Human (Homo sapiens): hg19 Representative transcripts	/path/to/annotation/hg19/hg19_representative_tx.gff
#
#Your all_gff.loc file should contain an entry for each different annotation.
#So there can be multiple gff files for each build, such as with hg19 above.
