#This file lists the locations and dbkeys of all the genome files
#See here for details: http://bedtools.readthedocs.io/en/latest/content/general-usage.html#genome-file-format
#You can add elements to this data table using the data_manager_fetch_genome_dbkeys_all_fasta data manager.
#Alternatively, index files created using samtools faidx (http://www.htslib.org/doc/faidx.html) contain 3 extra columns, but work fine.
#This file has the format (white space characters are TAB characters):
#
#<dbkey>	<display_name>	<file_path>
#
#So, dbkeys.loc could look something like this:
#
#apiMel3	Honeybee (Apis mellifera): apiMel3	/path/to/genome/apiMel3/apiMel3.len
#hg19	Human (Homo sapiens): hg19 Canonical	/path/to/genome/hg19/hg19canon.len
#
