<!DOCTYPE html>
<html>
<head lang="en">
<title>Clustergrammer</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<link rel="stylesheet" href="/static/flowtools/bootstrap/css/bootstrap.css"/>
<link rel="stylesheet" href="/static/flowtools/css/clustergrammer_custom.css"/>
<link rel="stylesheet" href="/static/flowtools/css/font-awesome.min.css"/>

<script src="/static/flowtools/d3/d3.min.js" type="text/javascript"></script>
<script src="/static/flowtools/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="/static/flowtools/js/underscore-min.js" type="text/javascript"></script>
<script src="/static/flowtools/bootstrap/js/bootstrap.js" type="text/javascript"></script>

</head>

<body>
<div id='container-id-1'>
    <h1 class='wait_message'>Please wait ...</h1>
</div>

<script src="/static/flowtools/js/clustergrammerIPG.js" type="text/javascript"></script>
<script src="/static/flowtools/js/load_clustergramIPG.js" type="text/javascript"></script>


</body>
</html>
