#This is a sample file distributed with Galaxy that enables tools
#to use a pharokka DB folder. The pharokka_db.loc 
#file needs this format (longer white space is the TAB character):

#<unique_build_id>		<dbkey>		<display_name>		<DB_folder_path>

# for example:

# pharokka_db	pharokka_db	Pharokka Database v1.2.0	/data/pharokka_db

# To retrieve the complete DB look at https://github.com/gbouras13/pharokka or
# use `wget "https://zenodo.org/record/7563578/files/pharokka_v1.2.0_database.tar.gz"` (14.02.2023)