#This is a sample file distributed with Galaxy that enables tools
#to use a directory of metagenomics files.  
#file has this format (white space characters are TAB characters)
#UniRef100-16102024	UniRef100 (MMseqs2)	UniRef100.15.6f452	/path/to/data   15.6f452	