#This file lists the names and locations of all the clair3 model files
#under the "clair3_models" directory (a directory that contains a directory
#for each build). This file has the format (white space characters are
#TAB characters):
#
#<unique_name>	<platform>	<sha256sum>	<file_path>	<source>
#
#So, clair3_models.loc could look something like this:
test_model	ont		$(dirname $(which run_clair3.sh))/models/r941_prom_hac_g360+g422	clair3
