#Enter the model names in the second column, the platform name in the second and the path in the third.
#This file lists the locations and dbkeys of all the model files
#under the "models" directory (a directory that contains a directory
#for each build). This file has the format (white space characters are
#TAB characters):
#
#<unique_build_id>  <display_name>   <platform> <file_path>
#
#So, all_model.loc could look something like this:
#test_model	"the_model_name"	r941_prom_hac_g360+g422	$(dirname $(which run_clair3.sh))/models/r941_prom_hac_g360+g422
