<tables>
    <!-- Locations of bracken database in the required format -->
    <table name="bracken_databases" comment_char="#" allow_duplicate_entries="False">
        <columns>value, name, path</columns>
        <file path="tool-data/bracken_databases.loc" />
    </table>
</tables>
