#This is a sample file distributed with Galaxy that enables tools
# to use cached databases of species-level genome bins (SGBs).
#This file has the following format (fields are separated by TAB characters)
# - unique database id 
# - dbkey (the file is a variant of this database) 
# - display name in Galaxy 
# - /path/to/data (a multi-fasta file with marker sequences) 
#The following url contains download links of the latest releases of the databases
# by the PhyloPhlAn team (checked: 11.07.25). Ordinarily these databases would be
# available for download through the phylophlan_sgb_database cli script:
# - http://cmprod1.cibio.unitn.it/databases/PhyloPhlAn/phylophlan_SGB_databases.txt
# SGB.Jan21 SGB.Jan21   SGB.Jan21   /path/to/SGB.Jan21.tar
# SGB.Oct22 SGB.Oct22   SGB.Oct22   /path/to/SGB.Oct22.tar
# SGB.Jun23 SGB.Jun23   SGB.Jun23   /path/to/SGB.Jun23.tar