#This is a sample file distributed with Galaxy that enables tools
# to use an existing database of markers.
#This file has the following format (fields are separated by TAB characters)
# - unique database id
# - dbkey (the file is a variant of this database)
# - display name in Galaxy
# - /path/to/data (a multi-fasta file with marker sequences)
#Two databases have special behaviour in phylophlan.
# For that to work the first column (database id) must match the example exactly.
# You can download and extract them from here (checked: 11.07.25):
# - http://cmprod1.cibio.unitn.it/databases/PhyloPhlAn/
#phylophlan	phylophlan	PhyloPhlAn: 400 universal markers for prokaryotes	/path/to/phylophlan.faa
#amphora2	amphora2	AMPHORA2: 136 universal markers for prokaryotes	/path/to/amphora2.faa