# this is a tab separated file describing the location of amrfinderplus database
#
# the columns are:
# value, name, db_version, path
#
# for example
#amrfinderplus_V4.2_2026-05-15.1	V4.2-2026-05-15.1	4.2    amrfinderplus-db
