<tool id="ODB-mapper" name="Map to orthology" version="@TOOL_VERSION@+galaxy@VERSION_SUFFIX@" profile="@PROFILE@">
    <description>Map FASTA to OrthoDB orthology</description>
    <macros>
        <import>macros.xml</import>
    </macros>
    <expand macro="requirements"/>
    <expand macro="version_command"/>
    <command detect_errors="exit_code"><![CDATA[
    ## set the number of threads to be used
    export NTHREADS=\${GALAXY_SLOTS:-1} &&
    ODB-mapper SETUP &&
    ODB-mapper MAP odbmap
    odbmap:'$fasta'
    #if '$node':
      '$node'
    #end if
    ##
    ## softlink result files - the directory name depends on OrthoDB version used in the mapping
    && results_path="\$(ODB-mapper CONFIG project)/Results"
    && grep -v '^#' \$results_path/odbmap.og.annotations > odbmap.og.annotations
    && ln -sf \$results_path/odbmap.summary.txt ./
    ]]></command>
    <inputs>
        <param type="data" name="fasta" format="fasta" label="Input FASTA file"/>
        <param type="integer" name="node" label="OrthoDB level as NCBI taxid"/>
    </inputs>
    <outputs>
        <data name="annotations" label="${tool.name} on ${on_string}: mapped genes with annotations and OrthoDB cluster ids" format="tsv" from_work_dir="odbmap.og.annotations">
            <actions>
                <action name="column_names" type="metadata" default="query,odb_og,evalue,score,COG_category,Description,GOs_mf,GOs_bp,EC,KEGG_ko,Interpro" />
            </actions>
        </data>
        <data name="summary" label="${tool.name} on ${on_string}: clustering stats" format="txt" from_work_dir="odbmap.summary.txt" />
    </outputs>
    <tests>
        <test expect_num_outputs="2">
            <param name="fasta" value="example.fs"/>
            <param name="node" value="1489911"/>
            <output name="annotations" file="refannot.og" lines_diff="2"/>
            <output name="summary">
                <assert_contents>
                    <has_text text="Mapping node id"/>
                    <has_n_lines n="16" delta="1"/>
                </assert_contents>
            </output>
        </test>
    </tests>
    <help><![CDATA[

    This tool maps a given fasta file against OrthoDB orthology.
    The level is given as an NCBI taxid (e.g 33208 for Metazoa).
    
    Taxids can be found at `NCBI <https://www.ncbi.nlm.nih.gov/taxonomy>`_ .
    
    For more information
    * `orthologer user manual <https://orthologer.ezlab.org>`_
    
    ]]></help>
    <expand macro="citations"/>
</tool>
