<tool id="ODB-mapper" name="Map to orthology" version="@TOOL_VERSION@+galaxy@VERSION_SUFFIX@" profile="@PROFILE@">
    <description>Map FASTA to OrthoDB orthology</description>
    <macros>
        <import>macros.xml</import>
    </macros>
    <expand macro="requirements"/>
    <expand macro="version_command"/>
    <command detect_errors="exit_code"><![CDATA[
    ## set the number of threads to be used
    ##export NTHREADS=\${GALAXY_SLOTS:-1} &&
    export NTHREADS=1 &&
    ODB-mapper SETUP &&
    ODB-mapper MAP
    '$runlbl'
    '$runlbl':'$fasta'
    #if '$node':
      '$node'
    #end if
    ##
    ## softlink result files - the directory name depends on OrthoDB version used in the mapping
    && results_path="\$(ODB-mapper CONFIG project)/Results"
    && ln -sf \$(ODB-mapper RESULT '$runlbl' what=ann) ./clusters.annotations
    && ln -sf \$(ODB-mapper RESULT '$runlbl' what=odb) ./clusters.odb.og
    && ln -sf \$results_path/'$runlbl'.summary.txt ./clusters.summary.txt
    ]]></command>
    <inputs>
        <param type="text" name="runlbl" label="label for this run"/>
        <param type="data" name="fasta" format="fasta" label="input fasta file"/>
        <param type="integer" name="node" optional="true" label="optional OrthDB node as NCBI taxid - if not given, it uses busco autolineage to establish node"/>
    </inputs>
    <outputs>
        <data name="annotations" label="${tool.name} annot on ${on_string}"    format="txt" from_work_dir="clusters.annotations" />
        <data name="clusters"    label="${tool.name} clusters on ${on_string}" format="txt" from_work_dir="clusters.odb.og" />
        <data name="summary"     label="${tool.name} summary on ${on_string}"  format="txt" from_work_dir="clusters.summary.txt" />
    </outputs>
    <tests>
        <test>
            <param name="runlbl" value="example"/>
            <param name="fasta" value="example.fs"/>
            <param name="node" value="1489911"/>
            <output name="clusters">
                <assert_contents>
                    <has_size value="13877694" delta="1000"/>
                </assert_contents>
            </output>

        </test>
    </tests>
    <help><![CDATA[

    This tool maps a given fasta file against OrthoDB orthology.
    The level is given as an NCBI taxid (e.g 33208 for Metazoa).
    If no level is given, a level is selected using busco autolineage.

    For more information
    * `orthologer user manual <https://orthologer.ezlab.org>`_
    
    ]]></help>
    <expand macro="citations"/>
</tool>
