# This is a sample file distributed with featureCounts that enables it and other# tools to use gene/exon annotations in the GFF/GTF format.
# 
# The gene_sets.loc file syntax is:
#<unique_build_id>	<dbkey>	<display_name>	<path>
# 
# Please ensure that the above fields are tab separated.
# 
# In case you have TWO or MORE providers PER dbkey, the one mentioned
# first in the file, should have the "default" priority.
#
#Example:
#
#Homo_sapiens.GRCh37.74	hg19	GRCh37 (hg19) annotation from Ensembl, release 74	/depot/data2/galaxy/hg19/gene_sets/Homo_sapiens.GRCh37.74.gtf
#Homo_sapiens.NCBI36.54	hg18	hg18 annotation from Ensembl, release 54	/depot/data2/galaxy/hg18/gene_sets/Homo_sapiens.NCBI36.54.gtf
