<tables>
    <table name="phylophlan_marker_database" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/phylophlan_marker_database.loc" />
    </table>
</tables>