#This is a sample file distributed with Galaxy that enables tools
#to use a directory of OrthoDB data files.
#The file has this format (white space characters are TAB characters):
# - value: unique identifier for this database entry
# - name: display name shown to the user
# - version: OrthoDB version (e.g. 11.0)
# - path: /path/to/orthodb/data/directory
#
#orthodb11	OrthoDB v11	11.0	/path/to/orthodb_data
