<?xml version="1.0"?>
<tables>
    <table name="deeparg" comment_char="#">
        <columns>value, name, path, db_version</columns>
        <file path="tool-data/deeparg_database_versioned.loc"/>
    </table>
</tables>
