#This file lists the locations and dbkeys of all the transcriptome fasta files
#This file has the format (white space characters are TAB characters):
#
#<unique_build_id>	<dbkey>	<display_name>	<file_path>
#
#So, all_trans.loc could look something like this:
#
#apiMel3	apiMel3	Honeybee (Apis mellifera): apiMel3	/path/to/genome/apiMel3/apiMel3_trans.fa
#hg38canon	hg38	Human (Homo sapiens): hg38 Canonical	/path/to/genome/hg38/hg38canon_trans.fa
#hg38full	hg38	Human (Homo sapiens): hg38 Full	/path/to/genome/hg38/hg38full_trans.fa
#
#Your all_trans.loc file should contain an entry for each individual transcriptome
#fasta file. So there can be multiple fasta files for each build,
#such as with hg38 above.
#
