#This file lists the locations and dbkeys of all the GTF files
#This file has the format (white space characters are
#TAB characters):
#
#<unique_build_id>	<dbkey>	<display_name>	<file_path>
#
#So, all_gtf.loc could look something like this:
#
#apiMel3	apiMel3	Honeybee (Apis mellifera): apiMel3	/path/to/annotation/apiMel3/apiMel3.gtf
#hg38canon	hg38	Human (Homo sapiens): hg38 Canonical	/path/to/annotation/hg38/hg38canon.gtf
#hg38full	hg38	Human (Homo sapiens): hg38 Representative transcripts	/path/to/annotation/hg38/hg38_representative_tx.gtf
#
#Your all_gtf.loc file should contain an entry for each different annotation.
#So there can be multiple gtf files for each build, such as with hg38 above.
