#This is a sample file distributed with Galaxy that enables tools
#to use a directory of metagenomics files.  
#file has this format (white space characters are TAB characters)
#02_16_2014	 MetaPhlAn2 clade-specific marker genes	db_v20	/path/to/data