<tables>
    <!-- Locations of pima plasmids_and_vectors.fasta files -->
    <table name="pima_pv" comment_char="#">
        <columns>value, name, path</columns>
        <file path="tool-data/pima_pv.loc" />
    </table>
</tables>

