<?xml version="1.0"?>
<tables>
    <table name="coreprofiler_scheme" comment_char="#">
        <columns>value, name, path, database, scheme</columns>
        <file path="${__HERE__}/tool-data/coreprofiler_scheme.loc.sample"/>
    </table>
</tables>