<tables>
    <table name="coreprofiler_versioned_scheme" comment_char="#">
        <columns>value, name, tool_version, database, path, db_path, scheme_path</columns>
        <file path="tool-data/coreprofiler_versioned_scheme.loc"/>
    </table>
</tables>