# Expect three columns, tab separated, as follows:
# - value (Galaxy records this in the Galaxy DB)
# - name (Galaxy shows this in the UI)
# - path (folder name containing the Kraken DB)
#
# e.g.
# plants2018<tab>Plant genomes (2018)<tab>/path/to/krakenDB/plants_2018
#
# For backward compatibility the Kraken wrapper also accepts:
# - value (Galaxy records this in the Galaxy DB)
# - name (Final part of folder name, Galaxy shows this in the UI)
# - path (Parent folder name, where $path/$name contains the Kraken DB)
#
# e.g.
# plants2018<tab>plants_2018<tab>/path/to/krakenDB
#
# Please avoid this legacy usage, as not all tools using
# the kraken_databases.loc file will understand it.
