#This is a sample file distributed with Galaxy that lists the TransVar
#transcript annotation databases downloaded by the TransVar data manager.
#The transvar_annotations.loc file has this format (white space characters
#are TAB characters):
#
#<value>	<dbkey>	<refversion>	<name>	<sources>	<path>
#
#The <sources> column lists, comma separated, the "transvar {g,c,p}anno"
#command line flags whose database is present in <path>. The corresponding
#files are named after the flag, e.g. a "ucsc" entry means <path>/ucsc.transvardb
#exists alongside its index files.
#
#So, for example, if you had downloaded the UCSC RefGene and RefSeq
#annotations for hg38 into /depot/transvar/hg38_refseq-ucsc, the entry would
#look like this:
#
#hg38_refseq-ucsc	hg38	hg38	hg38 (RefSeq, UCSC RefGene)	refseq,ucsc	/depot/transvar/hg38_refseq-ucsc
