#clamsa	container_version	date	model_cfg	softmasking	target_species	tiberius_version	value
False	2.0.5	2025-11-10	vertebrates.yaml	False	Vertebrata	1.1.7	Vertebrata version 1.1.7
False	2.0.5	2025-05-12	mammalia_softmasking_v2.yaml	True	Mammalia	1.1.5	Mammalia version 1.1.5 (Soft-masked)
False	2.0.5	2025-05-12	mammalia_nosofttmasking_v2.yaml	False	Mammalia	1.1.5	Mammalia version 1.1.5
True	2.0.5	2025-05-12	mammalia_clamsa_v2.yaml	True	Mammalia	1.1.5	Mammalia version 1.1.5 (Soft-masked, ClaMSA)
False	2.0.5	2026-02-15	insecta.yaml	False	Insecta	1.1.7	Insecta version 1.1.7
False	2.0.5	2026-02-06	fungi.yaml	False	Fungi	1.1.7	Fungi version 1.1.7
False	2.0.5	2026-02-06	diatoms.yaml	False	Bacillariophyta	1.1.8	Bacillariophyta version 1.1.8
False	2.0.5	2026-01-26	chlorophyta.yaml	False	Chlorophyta	1.1.7	Chlorophyta version 1.1.7
False	2.0.5	2026-04-15	angiosperms.yaml	False	Mesangiospermae	1.1.6	Mesangiospermae version 1.1.6
