#clamsa	container_version	date	model_cfg	name	softmasking	target_species	tiberius_version
False	2.0.3	2025-11-10	vertebrates.yaml	Vertebrata version 1.1.7	False	Vertebrata	1.1.7
False	2.0.3	2025-05-12	mammalia_softmasking_v2.yaml	Mammalia version 1.1.5 (Soft-masked)	True	Mammalia	1.1.5
False	2.0.3	2025-05-12	mammalia_nosofttmasking_v2.yaml	Mammalia version 1.1.5	False	Mammalia	1.1.5
True	2.0.3	2025-05-12	mammalia_clamsa_v2.yaml	Mammalia version 1.1.5 (Soft-masked, ClaMSA)	True	Mammalia	1.1.5
False	2.0.3	2026-02-15	insecta.yaml	Insecta version 1.1.7	False	Insecta	1.1.7
False	2.0.3	2026-02-06	fungi.yaml	Fungi version 1.1.7	False	Fungi	1.1.7
False	2.0.3	2026-02-06	diatoms.yaml	Bacillariophyta version 1.1.8	False	Bacillariophyta	1.1.8
False	2.0.3	2026-01-26	chlorophyta.yaml	Chlorophyta version 1.1.7	False	Chlorophyta	1.1.7
False	2.0.3	2025-04-15	angiosperms.yaml	Mesangiospermae version 1.1.6	False	Mesangiospermae	1.1.6
