<tables>
    <table name="marker_discovery_neighbors_db" comment_char="#">
        <columns>value, description, version, path</columns>
        <file path="tool-data/neighbors.loc" />
    </table>
</tables>
