#<unique_id>    <database_caption>  <fasta_file_path>
#
#For each reference database, you need to download the fasta file in qiime path
#
#List of useful db for qiime: http://qiime.org/home_static/dataFiles.html
#
#silva-119-90	SILVA v.119 90%	$QIIME_ROOT_PATH/reference_db/Silva_119_rep_set90_aligned.fna
#silva-119-90-16S	SILVA v.119 90% (16S only)	$QIIME_ROOT_PATH/reference_db/Silva_119_rep_set90_aligned_16S_only.fna
#silva-119-90-18S	SILVA v.119 90% (18S only)	$QIIME_ROOT_PATH/reference_db/Silva_119_rep_set90_aligned_18S_only.fna
#silva-119-94	SILVA v.119 94%	$QIIME_ROOT_PATH/reference_db/Silva_119_rep_set94_aligned.fna
#silva-119-94-16S	SILVA v.119 94% (16S only)	$QIIME_ROOT_PATH/reference_db/Silva_119_rep_set94_aligned_16S_only.fna
#silva-119-94-18S	SILVA v.119 94% (18S only)	$QIIME_ROOT_PATH/reference_db/Silva_119_rep_set94_aligned_18S_only.fna
#silva-119-97	SILVA v.119 97%	$QIIME_ROOT_PATH/reference_db/Silva_119_rep_set97_aligned.fna
#silva-119-97-16S	SILVA v.119 97% (16S only)	$QIIME_ROOT_PATH/reference_db/Silva_119_rep_set97_aligned_16S_only.fna
#silva-119-97-18S	SILVA v.119 97% (18S only)	$QIIME_ROOT_PATH/reference_db/Silva_119_rep_set97_aligned_18S_only.fna
#silva-119-99	SILVA v.119 99%	$QIIME_ROOT_PATH/reference_db/Silva_119_rep_set99_aligned.fna
#silva-119-99-16S	SILVA v.119 99% (16S only)	$QIIME_ROOT_PATH/reference_db/Silva_119_rep_set99_aligned_16S_only.fna
#silva-119-99-18S	SILVA v.119 99% (18S only)	$QIIME_ROOT_PATH/reference_db/Silva_119_rep_set99_aligned_18S_only.fna
#gg-13-8-61	Greengenes v.13.8 61%	$QIIME_ROOT_PATH/reference_db/gg_13_8_rep_61.fasta
#gg-13-8-64	Greengenes v.13.8 64%	$QIIME_ROOT_PATH/reference_db/gg_13_8_rep_64.fasta
#gg-13-8-67	Greengenes v.13.8 67%	$QIIME_ROOT_PATH/reference_db/gg_13_8_rep_67.fasta
#gg-13-8-70	Greengenes v.13.8 70%	$QIIME_ROOT_PATH/reference_db/gg_13_8_rep_70.fasta
#gg-13-8-73	Greengenes v.13.8 73%	$QIIME_ROOT_PATH/reference_db/gg_13_8_rep_73.fasta
#gg-13-8-76	Greengenes v.13.8 76%	$QIIME_ROOT_PATH/reference_db/gg_13_8_rep_76.fasta
#gg-13-8-79	Greengenes v.13.8 79%	$QIIME_ROOT_PATH/reference_db/gg_13_8_rep_79.fasta
#gg-13-8-82	Greengenes v.13.8 82%	$QIIME_ROOT_PATH/reference_db/gg_13_8_rep_82.fasta
#gg-13-8-85	Greengenes v.13.8 85%	$QIIME_ROOT_PATH/reference_db/gg_13_8_rep_85.fasta
#gg-13-8-88	Greengenes v.13.8 88%	$QIIME_ROOT_PATH/reference_db/gg_13_8_rep_88.fasta
#gg-13-8-91	Greengenes v.13.8 91%	$QIIME_ROOT_PATH/reference_db/gg_13_8_rep_91.fasta
#gg-13-8-94	Greengenes v.13.8 94%	$QIIME_ROOT_PATH/reference_db/gg_13_8_rep_94.fasta
#gg-13-8-97	Greengenes v.13.8 97%	$QIIME_ROOT_PATH/reference_db/gg_13_8_rep_97.fasta
#gg-13-8-99	Greengenes v.13.8 99%	$QIIME_ROOT_PATH/reference_db/gg_13_8_rep_99.fasta