#This is a sample file distributed with Galaxy that enables tools
#to use a directory of busco files.  
#file has this format (white space characters are TAB characters)
# - value
# - name
# - version
# - /path/to/data 
#virus_lineage_1.0  Virus_lineage_1.0	5.4.6	/path/to/data