# This is a sample file distributed with Galaxy that is used to define a
# list of busco datasets, using four columns tab separated:
#
# <unique_build_id>	<display_name>	<genome_fasta_file_path>
#
# Datasets can be retrieved from http://busco.ezlab.org/frame_wget.html
#
# "/some/path/arthropoda/" would be the last column in the line
# If this were for the mm10 mouse genome, the resulting entry would look like:
#
#arthropoda_2.0	arthropoda_2.0	/some/path/arthropoda/
#
#
