<tables>
    <!-- Location of all GFF/GTF files -->
    <table name="gene_sets" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/gene_sets.loc" />
    </table>
    <!-- Location of featureCounts built-in annotation keys-->
    <table name="featurecounts_anno" comment_char="#">
        <columns>value, dbkey</columns>
        <file path="tool-data/featurecounts_anno.loc" />
    </table>
</tables>
