<tables>
    <!-- Locations of NCBI FCS GX databases -->
    <table name="ncbi_fcs_gx_databases_ext" comment_char="#">
        <columns>value, name, source_manifest, use_source_manifest, phone_home, phone_home_label, local_manifest</columns>
        <file path="tool-data/ncbi_fcs_gx_databases_ext.loc" />
    </table>
    <!-- NCBI FCS GX divisions -->
    <table name="ncbi_fcs_gx_divisions" comment_char="#">
        <columns>value, tag, name</columns>
        <file path="tool-data/ncbi_fcs_gx_divisions.tsv" />
    </table>
</tables>
