<tables>
    <!-- Locations of NCBI FCS GX databases -->
    <table name="ncbi_fcs_gx_databases" comment_char="#">
        <columns>value, name, default, phone_home, manifest, local_cache_dir, tool_cache_dir</columns>
        <file path="tool-data/ncbi_fcs_gx_databases.loc" />
    </table>
</tables>
