<tables>
    <!--  Adapter sequences -->
    <table name="adapters" comment_char="#" allow_duplicate_entries="False">
        <columns>value, name</columns>
        <file path="tool-data/adapters.loc" />
    </table>
</tables>
