#This is a sample file distributed with Galaxy that enables tools
#to use a directory of virhunter hdf5 model files.  You will need
#to create these data files and then create a virhunter.loc file
#similar to this one (store it in this directory) that points to
#the directories in which those files are stored. The virhunter.loc
#file has this format (white space characters are TAB characters):
#
# <value>	<name>	<path>
#
#So, for example, if you had fungi hdf5 model files  stored in
#
# /tool-data/weights/peach/,
#
#then the virhunter.loc entry would look like this:
#
#peach	peach	${__HERE__}/weights/peach
#
#and your /tool-data/weights/peach/ directory
#would contain model_5_500.h5,model_7_500.h5,model_10_500.h5 and model_5_1000.h5, model_7_1000.h5, model_10_1000.h5 files.
#
#Your virhunter.loc file should include an entry per line for
#each index set you have stored.  The file in the path does actually
#exist, but it should never be directly used. Instead, the name serves
#as a prefix for the index file.  For example:
#
#peach	peach	${__HERE__}/weights/peach
#grapevine	grapevine	${__HERE__}/weights/peach
