# This is a tab separated file describing the location of Savont reference
# databases used by the Savont classify and Savont SINTAX tools.
#
# The file has this format (white space characters are TAB characters):
#
# value	name	tool_version	path
#
# Databases are installed by the "Savont reference databases"
# data manager (savont download).
