<tables>
    <table name="interproscan" comment_char="#" allow_duplicate_entries="False">
        <columns>value, description, interproscan_version, path</columns>
        <file path="tool-data/interproscan.loc" />
    </table>
</tables>
