.alertfield{
	font-family:'Helvetica Neue',sans-serif;
	color: #ff4c4c;
	padding: 1px 10px;
	border: 0;
	height: 25px;
	width: 100%;
	font-weight: bold;
}

.textbox {
	padding: 1px 10px;
    border: 0;
    height: 25px;
    width: 100%;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #E0DADA inset;
    -moz-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #E0DADA inset;
    -webkit-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #E0DADA inset;
    -webkit-background-clip: padding-box;
    outline: 0;
    font-family: monospace;
}

.button {
	background: #f6f6f6;
    background: -moz-linear-gradient(top,#f6f6f6 0%,#E0DADA 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f6f6f6),color-stop(100%,#E0DADA));
    background: -webkit-linear-gradient(top,#f6f6f6 0%,#E0DADA 100%);
    background: -o-linear-gradient(top,#f6f6f6 0%,#E0DADA 100%);
    background: -ms-linear-gradient(top,#f6f6f6 0%,#E0DADA 100%);
    background: linear-gradient(top,#f6f6f6 0%,#E0DADA 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
    padding:8px 13px;
    color:#524D4D;
    font-family:'Helvetica Neue',sans-serif;
    font-size:17px;
    text-align: center;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #756D6D;
    cursor: pointer;
    width: 80%;
    margin-bottom: 5px;
}

p {
	font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    margin-top: 0em;
    color: #666;
    text-align: left;
    padding-top: 8px;
}

.cy {
  position: absolute;
  width: 100%;
  height: 100%;
}

.lasso path {
  stroke: rgb(80,80,80);
  stroke-width:2px;
}

.lasso .drawn {
  fill-opacity:.05 ;
}

.lasso .loop_close {
  fill:none;
  stroke-dasharray: 4,4;
}

.lasso .origin {
  fill:#3399FF;
  fill-opacity:.5;
}

.mode {
	width:25%;
}
.icon {
	width: 25%;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 15px;
	background-color: #f6f6f6;
	border-radius: 5px;
}
button:focus {
	outline: none;
	box-shadow: inset 0 0 0 1px #D6D1D1,inset 0 5px 30px #C1BCBC;
}
#opts {
	width: 30%;
	float: right;
	padding-right: 0px;
}
#seqinput {
	padding-left: 0px;
	padding-right: 0px;
}
.res {
	font-weight: bold;
	text-align: center;
	margin-bottom: 5px;
}
#perform {
	margin-top: 24.5px;
	width: 100%;
	height: 50px;
	border-radius: 0px;
}
#center {
	margin-top: 25px;
}
.colsel {
	margin-top: 15px;
}
.seqin {
	padding: 0px;
}
.cntrl {
	text-align: center;
	margin-top: 30px;
}
