<!-- Use the file tool_data_table_conf.xml.oldlocstyle if you don't want to update your loc files as changed in revision 4550:535d276c92bc-->
<tables>
    <!-- Locations of all fasta files under genome directory -->
    <table name="all_fasta" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/all_fasta.loc" />
    </table>
    <!-- Locations of 2bit sequence files for use in Lastz -->
    <table name="lastz_seqs" comment_char="#">
        <columns>value, name, path</columns>
        <file path="tool-data/lastz_seqs.loc" />
    </table>
    <table name="twobit" comment_char="#">
        <columns>value, path</columns>
        <file path="tool-data/twobit.loc" />
    </table>
    <table name="alignseq_seq" comment_char="#">
        <columns>type, value, path</columns>
        <file path="tool-data/alignseq.loc" />
    </table>
</tables>
