# Expect three columns, tab separated, as follows:
# - value (Galaxy records this in the Galaxy DB)
# - name (Galaxy shows this in the UI)
# - path (folder name containing the KMA index)
#
# e.g.
# senterica_cgmlst<tab>Salmonella cgMLST<tab>/path/to/kma_index/senterica
