#This is a sample file distributed with Galaxy that enables tools
#to use a directory of minibwa indexed sequences data files. You will need
#to create these data files and then create a minibwa_index.loc file
#similar to this one (store it in this directory) that points to
#the directories in which those files are stored. The minibwa_index.loc
#file has this format (longer white space characters are TAB characters):
#
#<unique_build_id>   <dbkey>   <display_name>   <file_path>   <minibwa_version>
#
#So, for example, if you had phiX indexed stored in
#/depot/data2/galaxy/phiX/base/,
#then the minibwa_index.loc entry would look like this:
#
#phiX174   phiX   phiX Pretty   /depot/data2/galaxy/phiX/base/phiX.fa   0.5
#
#The last column records the minibwa version the index was built with. The index
#format may change between minibwa releases, so keeping it makes it possible to
#tell which entries need rebuilding after an upgrade.
#
#and your /depot/data2/galaxy/phiX/base/ directory
#would contain phiX.fa.* files:
#
#-rw-r--r--  1 usr  staff  ...  phiX.fa.l2b
#-rw-r--r--  1 usr  staff  ...  phiX.fa.mbw
#
#Optionally, a BS-seq (methylation) index built with `minibwa index --meth`
#adds a third file, which is required for mapping with the --meth option:
#
#-rw-r--r--  1 usr  staff  ...  phiX.fa.meth.mbw
#
#Your minibwa_index.loc file should include an entry per line for
#each index set you have stored. The "file" in the path does not actually
#exist, but it is the prefix for the other files. For example:
#
#hg18canon        hg18    Human (Homo sapiens): hg18 Canonical    /depot/data2/galaxy/hg18/base/hg18canon.fa
#hg18full         hg18    Human (Homo sapiens): hg18 Full         /depot/data2/galaxy/hg18/base/hg18full.fa
#/orig/path/hg19.fa
