<?xml version="1.0"?>
<tables>
    <!-- Locations of data downloaded for the megan tools -->
    <table name="mitos" comment_char="#">
        <columns>value, name, type, path</columns>
        <file path="tool-data/mitos.loc" />
    </table>
</tables>
