# this is a tab separated file describing the location of amrfinderplus database
#
# the columns are:
# value, name, path
#
# for example
2022-11-10_15:48    2022-10-11.2    ${__HERE__}
amrfinderplus_V3.10_2022-10-11.2	V3.10-2022-10-11.2	/tmp/tmp3as7lw95/galaxy-dev/tool-data/amrfinderplus-db/amrfinderplus_V3.10_2022-10-11.2
amrfinderplus_V3.6_2020-03-20.1	V3.6-2020-03-20.1	/tmp/tmp3as7lw95/galaxy-dev/tool-data/amrfinderplus-db/amrfinderplus_V3.6_2020-03-20.1
amrfinderplus_V3.10_2022-10-11.2	V3.10-2022-10-11.2	/tmp/tmpqjc1v8il/galaxy-dev/tool-data/amrfinderplus-db/amrfinderplus_V3.10_2022-10-11.2
amrfinderplus_V3.6_2020-03-20.1	V3.6-2020-03-20.1	/tmp/tmpqjc1v8il/galaxy-dev/tool-data/amrfinderplus-db/amrfinderplus_V3.6_2020-03-20.1
