# this is a tab separated file describing the location of amrfinderplus database
#
# the columns are:
# value, name, db_version, path
#
# for example
#amrfinderplus_V3.12_2024-05-02.2	V3.12-2024-05-02.2	3.12	path-to-db
