<tables>
    <table name="checkm2_db_versioned" comment_char="#" allow_duplicate_entries="False">
        <columns>value, dbkey, name, path, version</columns>
        <file path="tool-data/checkm2_db_versioned.loc" />
    </table>
</tables>