<tables>
    <table name="checkm2" comment_char="#" allow_duplicate_entries="False">
        <columns>value, dbkey, name, version, path</columns>
        <file path="tool-data/checkm2.loc" />
    </table>
</tables>