<!-- Use the file tool_data_table_conf.xml.oldlocstyle if you don't want to update your loc files as changed in revision 4550:535d276c92bc-->
<tables>
    <!-- Locations of indexes in the Bowtie mapper format -->
    <table name="diamond_database" comment_char="#">
        <columns>value, name, db_path</columns>
        <file path="tool-data/diamond_database.loc" />
    </table>
</tables>
