<!-- Use the file tool_data_table_conf.xml.oldlocstyle if you don't want to update your loc files as changed in revision 4550:535d276c92bc-->
<tables>

    <table name="blastdb_p" comment_char="#" allow_duplicate_entries="False">
        <columns>value, name, path</columns>
        <file path="tool-data/blastdb_p.loc" />
    </table>

    <table name="diamond_database" comment_char="#">
        <columns>value, name, db_path</columns>
        <file path="tool-data/diamond_database.loc" />
    </table>

    <!-- Locations of taxonomy data downloaded from NCBI -->
    <table name="ncbi_taxonomy" comment_char="#">
        <columns>value, name, path</columns>
        <file path="tool-data/ncbi_taxonomy.loc" />
    </table>
</tables>
