<tables>
    <table name="pangolearn" comment_char="#" allow_duplicate_entries="False">
        <columns>value, description, path</columns>
        <file path="tool-data/pangolearn.loc" />
    </table>
</tables>
