<tables>
    <table name="qiime_rep_set" comment_char="#">
        <columns>value, name, dbkey, path</columns>
        <file path="tool-data/qiime_rep_set.loc" />
    </table>
    <table name="qiime_rep_set_aligned" comment_char="#">
        <columns>value, name, dbkey, path</columns>
        <file path="tool-data/qiime_rep_set_aligned.loc" />
    </table>
    <table name="qiime_taxonomy" comment_char="#">
        <columns>value, name, dbkey, path</columns>
        <file path="tool-data/qiime_taxonomy.loc" />
    </table>
    <table name="qiime_trees" comment_char="#">
        <columns>value, name, dbkey, path</columns>
        <file path="tool-data/qiime_trees.loc" />
    </table>
</tables>