<tables>
    <!-- Table of installed structured annotation data -->
    <table name="packaged_annotation_data" comment_char="#">
        <columns>value, dbkey, data_name, data_id, data_format, package_id, package_name, path</columns>
        <file path="tool-data/packaged_annotation_data.loc" />
    </table>
</tables>
