/*
** DataTables config
*/
div.dt-buttons {
    float: right;
}

th {
    font-size:16px;
    text-align: left;
}

body td {
    max-width: 50px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.cltable thead {
    display:none;
}

.cltable td {
    max-width: 40px;
    word-break: break-all;
    word-wrap: break-word;
}

.firstcol {
    width: 160px;
}

.smallcols {
    width: 100px;
}

div.dataTables_wrapper {
    width: 95%;
    margin: 0 auto;
}


