<?xml version="1.0"?>
<tables>
    <!-- LIANA Ligand-Receptor Resources (populated by data_manager_liana_resources) -->
    <table name="liana_resources" comment_char="#">
        <columns>value, name, description, path</columns>
        <file path="tool-data/liana_resources.loc.sample" />
    </table>
</tables>
