<?xml version="1.0"?>
<tables>
    <table name="deacon" comment_char="#">
        <columns>value, dbkey, name, version, path, format_version, note</columns>
        <file path="tool-data/deacon.loc" />
    </table>
</tables>
