# This is a sample file distributed with fgsea that enables it and other# tools to use gene sets in the Broad's GMT format.
# 
# The all_gmt.loc file syntax is:
#<unique_build_id>	<display_name>	<path>
# 
# Please ensure that the above fields are tab separated.
#
#Example:
#

#msig.h.5.2	H: hallmark gene sets	/path/to/file/h.all.v5.2.symbols.gmt
#msig.c2.5.2	C2: curated gene sets	/path/to/file/c2.all.v5.2.symbols.gmt
