# This data table has records in the format
# value    name    path
# where paths point to folders with kma index files but include the common prefix (always index) of these files.
# A record could look like this:
# 2025-10-10_abbf9e73ffdc7e46450db9781b23e605    an_example_index      /tool-data/kma_index/2025-10-10_abbf9e73ffdc7e46450db9781b23e605/index
# with the following files inside /tool-data/kma_index/2025-10-10_abbf9e73ffdc7e46450db9781b23e605/:
# index.comp.b  index.length.b  index.name  index.seq.b
# The entire recorded path (including the /index) can be passed to kma unaltered and it will discover the index files from it.
