# this is a tab separated file describing the location of compleasm databases used for the
# compleasm annotation tool
#
# the columns are:
# value name version path
#
# for example
# mb_downloads	eukaryota	1.0	/path/to/compleasm/data/