<tables>
    <!-- Locations of all fasta files under genome directory -->
    <table name="all_fasta" comment_char="#" allow_duplicate_entries="False">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/all_fasta.loc" />
    </table>
    <!-- Locations of all gff files with annotations of genome builds -->
    <table name="gene_sets" comment_char="#" allow_duplicate_entries="False">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/gene_sets.loc" />
    </table>
    <!-- Locations of all meme files -->
    <table name="meme" comment_char="#" allow_duplicate_entries="False">
        <columns>value, name, path</columns>
        <file path="tool-data/meme.loc" />
    </table>
</tables>