# liana_resources.loc.sample
# This is a *.loc.sample file distributed with Galaxy that enables tools
# to use cached LIANA resources (ligand-receptor interactions, orthologs, metalinks).
# See the Galaxy Admin documentation for data managers.
# First download the LIANA resources using the data manager.
# Then, this file will be automatically updated with the resource locations.
# The file has four tab-separated columns:
#
# <value>	<name>	<description>	<file_path>
#
# Where:
#  <value> is the unique identifier used in LIANA tools (e.g., 'consensus', 'cellphonedb')
#  <name> is the display name in Galaxy
#  <description> is a brief description of the resource
#  <file_path> is the absolute path to the cached resource directory

# Example entries (these will be added automatically by the data manager):
# consensus	Consensus (L-R)	Consensus ligand-receptor database	/galaxy/data/liana-db/consensus
# cellphonedb	CellPhoneDB (L-R)	CellPhoneDB ligand-receptor database	/galaxy/data/liana-db/cellphonedb
# hcop_human_mouse	HCOP Human-Mouse	HCOP ortholog mappings (Human to Mouse)	/galaxy/data/liana-db/hcop_human_mouse
# metalinks_all	Metalinks (all)	Metabolite-protein interactions (all biospecimens)	/galaxy/data/liana-db/metalinks_all
