<?xml version="1.0"?>
<tables>
    <!-- Locations of MetaSBT databases in the required format -->
    <table name="metasbt_databases" comment_char="#" allow_duplicate_entries="False">
        <columns>value, version, name, path</columns>
        <file path="tool-data/metasbt_databases.loc" />
    </table>
</tables>