<?xml version="1.0"?>
<tables>
    <!-- versioned data can be downloaded from
        ftp://ftp.genome.jp/pub/db/kofam/ or https://www.genome.jp/ftp/db/kofam/
        see also https://www.genome.jp/tools/kofamkoala/.
        
        the downloads contain ko_list.gz and profiles.tar.gz for each version
        the ko_list entry should point to the file extracted from ko_list.gz
        the profile_dir entry should point to the directory extracted from profiles.tar.gz
        
         -->
    <table name="kofam" comment_char="#">
        <columns>value, name, profile_dir, ko_list</columns>
        <file path="tool-data/kofam.loc" />
    </table>
    <!-- 
        the profile dir contains many K....hmm files and usually two .hal files
        the .hal files are simple text files listing a set of K files (one per line)
        which allow to specify subsets of K files easily

        this data table allows to specify these subset files for each entry in
        the kofam datatabe
        - value should be a .hal file in the profiles dir (could also be a K file)
        - name the name shown to the user in the select 
        - kofam_value should be equal to the value of the corresoponding entry in kofam
        -->
    <table name="kofam_subset" comment_char="#">
        <columns>value, name, kofam_value</columns>
        <file path="tool-data/kofam_subset.loc" />
    </table>
</tables>
