#This is a sample file distributed with Galaxy that enables tools
#to use a the kMetaShot database.
#You will need to create these data files using the following command

#wget [selected version] [url_from_donwlaod]

#The <version> column indicates the version from the kMetaShot ref data was downloaded

#25-05-22	kMetaShot-25-05-22	kMetaShot reference data 2025-05-22	2	/mnt/galaxyIndices/kMetaShot_database/kMetaShot_bacteria_archaea_2025-05-22.h5
