#This is a sample file distributed with Galaxy that enables tools
#to use a directory of STAR indexed sequences data files. You will need
#to create these data files and then create a rna_star_index.loc file
#similar to this one (store it in this directory) that points to
#the directories in which those files are stored. The rna_star_index.loc
#file has this format (longer white space characters are TAB characters):
#
#<unique_build_id>	<dbkey>	<display_name>	<directory_path>
#
#So, for example, if you had phiX indexed stored in 
#/depot/data2/galaxy/phiX/base/, 
#then the bwa_index.loc entry would look like this:
#
#phiX174   phiX   phiX Pretty   /depot/data/galaxy/phiX/base/RNA_STAR_index/phiX/
