#This is a sample file distributed with Galaxy that enables tools
#to use a directory of rna-star indexed sequences data files. You will
#need to create these data files and then create a rnastar_index2.loc
#file similar to this one (store it in this directory) that points to
#the directories in which those files are stored. The rnastar_index2.loc
#file has this format (longer white space characters are TAB characters):
#
#<unique_build_id>   <dbkey>   <display_name>   <file_base_path>	<with_gene_model>	<version>
#
#The <with_gene_model> column should be 1 or 0, indicating whether the index
#was built with annotations (i.e., --sjdbGTFfile and --sjdbOverhang were used)
#or not.
#
#The <version> column indicates the STAR version that introduced the format of
#the index, i.e., the oldest STAR version that could make use of the index.
#
#Note that STAR indices can become quite large. Consequently, it is only
#advisable to create indices with annotations if it's known ahead of time that
#(A) the annotations won't be frequently updated and (B) the read lengths used
#will also rarely vary. If either of these is not the case, it's advisable to
#create indices without annotations and then specify an annotation file and
#maximum read length (minus 1) when running STAR.
#
#hg19   hg19    hg19 full   /mnt/galaxyIndices/genomes/hg19/rnastar	0	2.7.1a
#hg19Ensembl   hg19Ensembl    hg19 full with Ensembl annotation   /mnt/galaxyIndices/genomes/hg19Ensembl/rnastar	1	2.7.1a

