female
hermaphrodite
male
missing: control sample
missing: data agreement established pre-2023
missing: endangered species
missing: human-identifiable
missing: lab stock
missing: sample group
missing: synthetic construct
missing: third party data
neuter
not applicable
not collected
not provided
other
restricted access
