454 GS
454 GS 20
454 GS FLX
454 GS FLX Titanium
454 GS FLX+
454 GS Junior
AB 310 Genetic Analyzer
AB 3130 Genetic Analyzer
AB 3130xL Genetic Analyzer
AB 3500 Genetic Analyzer
AB 3500xL Genetic Analyzer
AB 3730 Genetic Analyzer
AB 3730xL Genetic Analyzer
AB 5500 Genetic Analyzer
AB 5500xl Genetic Analyzer
AB 5500xl-W Genetic Analysis System
AB SOLiD 3 Plus System
AB SOLiD 4 System
AB SOLiD 4hq System
AB SOLiD PI System
AB SOLiD System
AB SOLiD System 2.0
AB SOLiD System 3.0
BGISEQ-50
BGISEQ-500
Complete Genomics
DNBSEQ-G400
DNBSEQ-G400 FAST
DNBSEQ-G50
DNBSEQ-T7
Element AVITI
GridION
Helicos HeliScope
HiSeq X Five
HiSeq X Ten
Illumina Genome Analyzer
Illumina Genome Analyzer II
Illumina Genome Analyzer IIx
Illumina HiScanSQ
Illumina HiSeq 1000
Illumina HiSeq 1500
Illumina HiSeq 2000
Illumina HiSeq 2500
Illumina HiSeq 3000
Illumina HiSeq 4000
Illumina HiSeq X
Illumina MiSeq
Illumina MiniSeq
Illumina NovaSeq 6000
Illumina NovaSeq X
Illumina iSeq 100
Ion GeneStudio S5
Ion GeneStudio S5 Plus
Ion GeneStudio S5 Prime
Ion Torrent Genexus
Ion Torrent PGM
Ion Torrent Proton
Ion Torrent S5
Ion Torrent S5 XL
MGISEQ-2000RS
MinION
NextSeq 1000
NextSeq 2000
NextSeq 500
NextSeq 550
Onso
PacBio RS
PacBio RS II
PromethION
Revio
Sequel
Sequel II
Sequel IIe
UG 100
unspecified