RANDOM
PCR
RANDOM PCR
RT-PCR
HMPR
MF
repeat fractionation
size fractionation
MSLL
cDNA
cDNA_randomPriming
cDNA_oligo_dT
PolyA
Oligo-dT
Inverse rRNA
Inverse rRNA selection
ChIP
ChIP-Seq
MNase
DNase
Hybrid Selection
Reduced Representation
Restriction Digest
5-methylcytidine antibody
MBD2 protein methyl-CpG binding domain
CAGE
RACE
MDA
padlock probes capture method
other
unspecified