\{"data_tables": \{"primer_scheme_bedfiles": \[\{"amplicon_info_path": "[^"]*/SARS-CoV-2-ARTICv1_info.tsv", "description": "SARS-CoV-2-ARTIC v1 primer set", "path": "[^"]*/SARS-CoV-2-ARTICv1.bed", "value": "SARS-CoV-2-ARTICv1"\}, \{"amplicon_info_path": "[^"]*/SARS-CoV-2-ARTICv2_info.tsv", "description": "SARS-CoV-2-ARTIC v2 primer set", "path": "[^"]*/SARS-CoV-2-ARTICv2.bed", "value": "SARS-CoV-2-ARTICv2"\}, \{"amplicon_info_path": "[^"]*/SARS-CoV-2-ARTICv3_info.tsv", "description": "SARS-CoV-2-ARTIC v3 primer set", "path": "[^"]*/SARS-CoV-2-ARTICv3.bed", "value": "SARS-CoV-2-ARTICv3"\}, \{"amplicon_info_path": "[^"]*/SARS-CoV-2-ARTICv4_info.tsv", "description": "SARS-CoV-2-ARTIC v4 primer set", "path": "[^"]*/SARS-CoV-2-ARTICv4.bed", "value": "SARS-CoV-2-ARTICv4"\}\]\}\}