#This is a sample file distributed with Galaxy that enables tools
#to use a the checkm2 dabase.
#You will need to create these data files using the following command

#checkm2 database --download --path /custom/path/

#and then create a checkm2_db_versioned.loc file similar to this one (store it in this
#directory) that points to the directories in which those files are stored.

#The checkm2_db_versioned.loc file has this format (longer white space
#characters are TAB characters):
#
#<unique_build_id>  <dbkey>  <display_name>	<version>	<file_base_path>

#The <version> column indicates the checkm2 version that generated the database

#
#diamond_db_1.0.2   1.0.2	Diamond database	1.0.2	/mnt/galaxyIndices/Checkm2_database/uniref100.KO.1.dmnd
