<?xml version="1.0"?>
    <tables>
        <table name="study_type" comment_char="#" allow_duplicate_entries="False"><columns>value</columns><file path="tool-data/study_type.loc" /></table>
        <table name="library_layout" comment_char="#" allow_duplicate_entries="False"><columns>value</columns><file path="tool-data/library_layout.loc" /></table>
        <table name="library_selection" comment_char="#" allow_duplicate_entries="False"><columns>value</columns><file path="tool-data/library_selection.loc" /></table>
        <table name="instrument_model" comment_char="#" allow_duplicate_entries="False"><columns>value</columns><file path="tool-data/instrument_model.loc" /></table>
        <table name="library_source" comment_char="#" allow_duplicate_entries="False"><columns>value</columns><file path="tool-data/library_source.loc" /></table>
        <table name="library_strategy" comment_char="#" allow_duplicate_entries="False"><columns>value</columns><file path="tool-data/library_strategy.loc" /></table>
        <table name="geographic_location_1" comment_char="#" allow_duplicate_entries="False"><columns>value</columns><file path="tool-data/geographic_location_1.loc" /></table>
        <table name="host_sex_1" comment_char="#" allow_duplicate_entries="False"><columns>value</columns><file path="tool-data/host_sex_1.loc" /></table>
        <table name="host_health_state_1" comment_char="#" allow_duplicate_entries="False"><columns>value</columns><file path="tool-data/host_health_state_1.loc" /></table>
    </tables>

