# this is a tab separated file describing the location of gapseq sequence databases
#
# the columns are:
# value, name, version, path
#
# for example
#Bacteria 16908828	Bacteria 16908828   16908828	${__HERE__}