<?xml version="1.0"?>
<tables>
    <!-- Locations of ARIBA database in the required format -->
    <table name="krocus_mlst_databases" comment_char="#" allow_duplicate_entries="False">
        <columns>value, name, path</columns>
        <file path="tool-data/krocus_mlst_databases.loc" />
    </table>
</tables>
