<tables>
    <!-- Locations of DRAM databases version 1.3.5 and higher -->
    <table name="dram_databases" comment_char="#">
        <columns>value, name, path</columns>
        <file path="tool-data/dram_databases.loc" />
    </table>
</tables>

