<tables>
    <!-- Locations of all fasta files under genome directory -->
    <table name="all_fasta" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/all_fasta.loc" />
    </table>
    <!-- Locations of preparsed genomes -->
    <table name="homer_preparse" comment_char="#">
        <columns>value, dbkey, mask, size, name, path, path_fasta, version</columns>
        <file path="tool-data/homer_preparse.loc" />
    </table>
</tables>
