# MiST database .loc file
#
# Column 1: Scheme name (as displayed in Galaxy)
# Column 1: Scheme id
# Column 2: Path to the corresponding indexed MiST database
#
# To create and index a scheme, follow the instructions:
# - Downloading schemes:
#   https://github.com/BioinformaticsPlatformWIV-ISP/MiST/wiki/downloading-schemes
# - Indexing schemes:
#   https://github.com/BioinformaticsPlatformWIV-ISP/MiST/wiki/indexing-schemes
#
# The specified path must contain:
# - loci.txt
# - loci_repr.fasta
# - One directory per locus in the scheme
#
# Example entry
# Escherichia coli      MLST    ecoli_mlst /path/to/mist_index/
