#tag	description	source_manifest	use_source_manifest	phone_home	phone_home_label	node_cache_dir	local_manifest
#latest	Full GX Database	https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/latest/all.manifest	0	1	usegalaxy.org	/dev/shm	/big/data/dir/ncbi_fcs_gx_databases/latest/all.manifest
#test	Test GX Database	https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/test-only/test-only.manifest	0	1	usegalaxy.org	/dev/shm	/big/data/dir/ncbi_fcs_gx_databases/test/test-only.manifest
