#tag	gx_div	description
#latest	anml:amphibians	Animals (Metazoa) - amphibians
#latest	anml:basal metazoans	Animals (Metazoa) - basal metazoans
#latest	anml:birds	Animals (Metazoa) - birds
#latest	anml:brachiopods	Animals (Metazoa) - brachiopods
#latest	anml:crustaceans	Animals (Metazoa) - crustaceans
#latest	anml:echinoderms	Animals (Metazoa) - echinoderms
#latest	anml:fishes	Animals (Metazoa) - fishes
#latest	anml:insects	Animals (Metazoa) - insects
#latest	anml:mammals	Animals (Metazoa) - mammals
#latest	anml:marsupials	Animals (Metazoa) - marsupials
#latest	anml:molluscs	Animals (Metazoa) - molluscs
#latest	anml:nematodes	Animals (Metazoa) - nematodes
#latest	anml:primates	Animals (Metazoa) - primates
#latest	anml:reptiles	Animals (Metazoa) - reptiles
#latest	anml:rodents	Animals (Metazoa) - rodents
#latest	anml:rotifers	Animals (Metazoa) - rotifers
#latest	anml:tardigrades	Animals (Metazoa) - tardigrades
#latest	anml:worms	Animals (Metazoa) - worms
#latest	arch:archaea	Archaea - archaea
#latest	prok:CFB group bacteria	Bacteria - CFB group bacteria
#latest	prok:GNS bacteria	Bacteria - GNS bacteria
#latest	prok:a-proteobacteria	Bacteria - a-proteobacteria
#latest	prok:actinobacteria	Bacteria - actinobacteria
#latest	prok:aquificales	Bacteria - aquificales
#latest	prok:b-proteobacteria	Bacteria - b-proteobacteria
#latest	prok:bacteria	Bacteria - bacteria
#latest	prok:chlamydias	Bacteria - chlamydias
#latest	prok:cyanobacteria	Bacteria - cyanobacteria
#latest	prok:d-proteobacteria	Bacteria - d-proteobacteria
#latest	prok:firmicutes	Bacteria - firmicutes
#latest	prok:fusobacteria	Bacteria - fusobacteria
#latest	prok:g-proteobacteria	Bacteria - g-proteobacteria
#latest	prok:green sulfur bacteria	Bacteria - green sulfur bacteria
#latest	prok:high GC Gram+	Bacteria - high GC Gram+
#latest	prok:mycoplasmas	Bacteria - mycoplasmas
#latest	prok:planctomycetes	Bacteria - planctomycetes
#latest	prok:proteobacteria	Bacteria - proteobacteria
#latest	prok:spirochetes	Bacteria - spirochetes
#latest	prok:thermotogales	Bacteria - thermotogales
#latest	prok:verrucomicrobia	Bacteria - verrucomicrobia
#latest	fung:ascomycetes	Fungi - ascomycetes
#latest	fung:basidiomycetes	Fungi - basidiomycetes
#latest	fung:budding yeasts	Fungi - budding yeasts
#latest	fung:chytrids	Fungi - chytrids
#latest	fung:fungi	Fungi - fungi
#latest	fung:microsporidians	Fungi - microsporidians
#latest	plnt:green algae	Plants (Viridiplantae) - green algae
#latest	plnt:mosses	Plants (Viridiplantae) - mosses
#latest	plnt:plants	Plants (Viridiplantae) - plants
#latest	prst:algae	Protists (other Eukaryota) - algae
#latest	prst:alveolates	Protists (other Eukaryota) - alveolates
#latest	prst:cellular slime molds	Protists (other Eukaryota) - cellular slime molds
#latest	prst:cercozoans	Protists (other Eukaryota) - cercozoans
#latest	prst:choanoflagellates	Protists (other Eukaryota) - choanoflagellates
#latest	prst:euglenoids	Protists (other Eukaryota) - euglenoids
#latest	prst:monads	Protists (other Eukaryota) - monads
#latest	prst:protists	Protists (other Eukaryota) - protists
#latest	prst:slime nets	Protists (other Eukaryota) - slime nets
#latest	synt:synthetic	Synthetic - synthetic
#latest	unkn:unknown	Unknown / Unclassified
#latest	virs:eukaryotic viruses	Virus - eukaryotic viruses
#latest	virs:prokaryotic viruses	Virus - prokaryotic viruses
#latest	virs:viruses	Virus - viruses
