#tag|description|source_manifest|use_source_manifest|phone_home|phone_home_label|local_manifest
#latest|Full GX Database|https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/latest/all.manifest|0|1|usegalaxy.org|/big/data/dir/ncbi_fcs_gx_databases_ext/latest/all.manifest
#test|Test GX Database|https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/test-only/test-only.manifest|0|1|usegalaxy.org|/big/data/dir/ncbi_fcs_gx_databases_ext/test/test-only.manifest
