## NCBI FCS GX Databases
# 
#tag	description	default	phone_home	manifest	local_cache_dir	tool_cache_dir
all	Complete GX database	1	1	https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/latest/all.manifest	/scratch/rico/data	/dev/shm/gxdb
test-only	Testing GX database	0	0	https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/test-only/test-only.manifest	/scratch/rico/data	/dev/shm/gxdb
