# When phone_home is set to "1", the NCBI FCS GX tool will send analytics
# to NCBI about the run.  The following information is sent:
#
#  1. version of the gx executable
#  2. build date of the GX database
#  3. the platform the software is running on
#  4. the version of the Python interpreter
#  5. the size of physical memory in GiB
#  6. the duration of the run
#  7. the run’s exit status (0 for success, otherwise 1)
#  8. phone_home_label
#
# The phone_home_label is an arbitrary string send to NCBI to identify
# data. For instance, all NCBI FCS GX runs on usegalaxy.org use the
# phone_home_label "usegalaxy.org"
#
#tag	description	source_manifest	use_source_manifest	phone_home	phone_home_label	local_manifest
#latest	Full GX Database	https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/latest/all.manifest	0	1	usegalaxy.org	/big/data/dir/ncbi_fcs_gx_databases_ext/latest/all.manifest
#test	Test GX Database	https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/test-only/test-only.manifest	0	1	usegalaxy.org	/big/data/dir/ncbi_fcs_gx_databases_ext/test/test-only.manifest
