#
anml:amphibians	Animals (Metazoa) - amphibians
anml:basal metazoans	Animals (Metazoa) - basal metazoans
anml:birds	Animals (Metazoa) - birds
anml:brachiopods	Animals (Metazoa) - brachiopods
anml:crustaceans	Animals (Metazoa) - crustaceans
anml:echinoderms	Animals (Metazoa) - echinoderms
anml:fishes	Animals (Metazoa) - fishes
anml:insects	Animals (Metazoa) - insects
anml:mammals	Animals (Metazoa) - mammals
anml:marsupials	Animals (Metazoa) - marsupials
anml:molluscs	Animals (Metazoa) - molluscs
anml:nematodes	Animals (Metazoa) - nematodes
anml:primates	Animals (Metazoa) - primates
anml:reptiles	Animals (Metazoa) - reptiles
anml:rodents	Animals (Metazoa) - rodents
anml:rotifers	Animals (Metazoa) - rotifers
anml:tardigrades	Animals (Metazoa) - tardigrades
anml:worms	Animals (Metazoa) - worms
arch:archaea	Archaea - archaea
prok:CFB group bacteria	Bacteria - CFB group bacteria
prok:GNS bacteria	Bacteria - GNS bacteria
prok:a-proteobacteria	Bacteria - a-proteobacteria
prok:actinobacteria	Bacteria - actinobacteria
prok:aquificales	Bacteria - aquificales
prok:b-proteobacteria	Bacteria - b-proteobacteria
prok:bacteria	Bacteria - bacteria
prok:chlamydias	Bacteria - chlamydias
prok:cyanobacteria	Bacteria - cyanobacteria
prok:d-proteobacteria	Bacteria - d-proteobacteria
prok:firmicutes	Bacteria - firmicutes
prok:fusobacteria	Bacteria - fusobacteria
prok:g-proteobacteria	Bacteria - g-proteobacteria
prok:green sulfur bacteria	Bacteria - green sulfur bacteria
prok:high GC Gram+	Bacteria - high GC Gram+
prok:mycoplasmas	Bacteria - mycoplasmas
prok:planctomycetes	Bacteria - planctomycetes
prok:proteobacteria	Bacteria - proteobacteria
prok:spirochetes	Bacteria - spirochetes
prok:thermotogales	Bacteria - thermotogales
prok:verrucomicrobia	Bacteria - verrucomicrobia
fung:ascomycetes	Fungi - ascomycetes
fung:basidiomycetes	Fungi - basidiomycetes
fung:budding yeasts	Fungi - budding yeasts
fung:chytrids	Fungi - chytrids
fung:fungi	Fungi - fungi
fung:microsporidians	Fungi - microsporidians
plnt:green algae	Plants (Viridiplantae) - green algae
plnt:mosses	Plants (Viridiplantae) - mosses
plnt:plants	Plants (Viridiplantae) - plants
prst:algae	Protists (other Eukaryota) - algae
prst:alveolates	Protists (other Eukaryota) - alveolates
prst:cellular slime molds	Protists (other Eukaryota) - cellular slime molds
prst:cercozoans	Protists (other Eukaryota) - cercozoans
prst:choanoflagellates	Protists (other Eukaryota) - choanoflagellates
prst:euglenoids	Protists (other Eukaryota) - euglenoids
prst:monads	Protists (other Eukaryota) - monads
prst:protists	Protists (other Eukaryota) - protists
prst:slime nets	Protists (other Eukaryota) - slime nets
synt:synthetic	Synthetic - synthetic
unkn:unknown	Unknown / Unclassified
virs:eukaryotic viruses	Virus - eukaryotic viruses
virs:prokaryotic viruses	Virus - prokaryotic viruses
virs:viruses	Virus - viruses
