## NCBI FCS GX Databases
# 
#tag|manifest|path
#r2022-01-24|https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/r2022-01-24/all.manifest|/big/data/dir/ncbi_fcs_gx_databases/r2022-01-24/all.manifest
#r2022-07-08|https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/r2022-07-08/all.manifest|/big/data/dir/ncbi_fcs_gx_databases/r2022-07-08/all.manifest
#r2023-01-24|https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/r2023-01-24/all.manifest|/big/data/dir/ncbi_fcs_gx_databases/r2023-01-24/all.manifest
#latest|https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/latest/all.manifest|/big/data/dir/ncbi_fcs_gx_databases/latest/all.manifest
#test-only|https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/test-only/test-only.manifest|/big/data/dir/ncbi_fcs_gx_databases/test-only/test-only.manifest
