#This file describes vep cache data and its metadata available on the server.
#The data table has the format (white space characters are TAB characters):
#
#<value>									<dbkey>			<version>		<cachetype>		<name>								<species>			<path>
#
#So, vep_versioned_annotation_cache.loc tables could look like this:
#
#homo_sapiens_vep_105_GRCh38				hg38			105				default			Homo sapiens hg38 (V105)			homo_sapiens		/path/to/vep_versioned_annotation_cache/105/hg38/default
#homo_sapiens_refseq_vep_105_GRCh38			hg38			105				refseq			Homo sapiens hg38 (V105, Refseq)	homo_sapiens		/path/to/vep_versioned_annotation_cache/105/hg38/refseq
#homo_sapiens_merged_vep_105_GRCh38			hg38			105				merged			Homo sapiens hg38 (V105, Merged)	homo_sapiens		/path/to/vep_versioned_annotation_cache/105/hg38/merged
#