#This configures genbank files available for specific galaxy tools (eg. breseq)
#<unique_build_id>\t<dbkey>\t<display_name>\t<file_path>
#ecoliMC4100	ecoliMC4100	E. coli MC4100	/afs/igc.gulbenkian.pt/folders/UBI/PROJECTS/GALAXY/genomes/genbank/NC_012759.1_BW2952.gb
#ecoliMG1655	ecoliMG1655	E. coli MG1655	/afs/igc.gulbenkian.pt/folders/UBI/PROJECTS/GALAXY/genomes/genbank/NC_012759.1_BW2952.gb
