<tables>
    <table name="kmetashot" comment_char="#" allow_duplicate_entries="False">
        <columns>value, dbkey, name, version, path</columns>
        <file path="tool-data/kmetashot.loc" />
    </table>
</tables>