<tables>
    <!-- Locations of all fasta files under genome directory -->
    <table name="all_fasta" comment_char="#" allow_duplicate_entries="False">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/all_fasta.loc" />
    </table>
    <table name="nextclade2" comment_char="#" allow_duplicate_entries="False">
        <!-- min_nextclade_version and max_nextclade_version are the minimum and maximum nextclade tool versions compatible with the dataset -->
        <columns>value, dataset_name, description, date, min_nextclade_version, max_nextclade_version, path</columns>
        <file path="tool-data/nextclade.loc" />
    </table>
</tables>
