# this is a table separated file describing the locations of Clair3 models (which are download from Oxford Nanopore's Rerio site and provided as directories)
#
# the columns are:
# 1. value
# 2. platform
# 3. sha256sum (sha256 hash of the downloaded model, before unpacking)
# 4. path (path to directory containing model)
# 5. source (where the model came from. rerio means Oxford Nanopore's https://github.com/nanoporetech/rerio with its associated license)
# for example
#
# r1041_e82_400bps_hac_v500	ont	a1b998a80bc94ba4f5babc811d62e83a61bba3819188c488daee1c698bb72ae5	/data/galaxy/tool_data/clair3_models/r1041_e82_400bps_hac_v500	rerio
