# this is a table separated file describing the locations of Clair3 models (which are download from Oxford Nanopore's Revio site and provided as directories)
#
# the columns are:
# 1. value
# 2. path (path to directory containing model)
# for example
#
# r1041_e82_400bps_hac_v500	/data/galaxy/tool_data/clair3_models/r1041_e82_400bps_hac_v500
