#This is a sample file distributed with Galaxy that enables tools
#to use a directory of metagenomics files.  
#file has this format (white space characters are TAB characters)
# Tab separated with 4 columns:
# - db-build-version-date
# - db-name
# - build
# - /path/to/data 
#utility_mapping-full-20210421	Full mapping	full	/path/to/data