<?xml version="1.0"?>
<tables>
    <table name="bakta_database" comment_char="#">
        <columns>name, dbkey, bakta_version, path</columns>
        <file path="tool-data/bakta_database.loc.sample" />
    </table>
</tables>
