# kallisto_indexes.loc.sample
# This is a *.loc.sample file distributed with Galaxy that enables tools
# to use a directory of indexed data files. This one is for kallisto.
# See the wiki: http://wiki.galaxyproject.org/Admin/NGS%20Local%20Setup
# First create these data files and save them in your own data directory structure.
# Then, create a kallisto_indexes.loc file to use those indexes with tools.
# Copy this file, save it with the same name (minus the .sample), 
# follow the format examples, and store the result in this directory.
# The file should include an one line entry for each index set.
# The path points to the "basename" for the set, not a specific file.
# It has four text columns seperated by TABS.
#
# <unique_build_id>	<dbkey>	<display_name>	<file_base_path>
#
# So, for example, if you had sacCer3 indexes stored in:
#
#    /depot/data2/galaxy/sacCer3/kallisto_indexes/
#
# containing sacCer3 genome and sacCer3.*.ht2 files, such as:
#
#   -rw-rw-r-- 1 dave dave  12M Sep 23 13:57 sacCer3.fa
#   -rw-rw-r-- 1 dave dave 2.9M Sep 23 13:57 sacCer3.kallisto
#
# then the kallisto_indexes.loc entry could look like this:
#
#sacCer3	sacCer3	S. cerevisiae Apr. 2011 (SacCer_Apr2011/sacCer3) (sacCer3)	/depot/data2/galaxy/sacCer3/kallisto_indexes/sacCer3.kallisto
#
#More examples:
#
#mm10	mm10	Mouse (mm10)	/depot/data2/galaxy/kallisto_indexes/mm10
#dm3	dm3		D. melanogaster (dm3)	/depot/data2/galaxy/kallisto_indexes/dm3
#
#
