name: Weekly autoupdate of tools
on:
  schedule:
    # Run at midnight every monday
    - cron: '0 0 * * 1'
  repository_dispatch:
    types: [run-autoupdate-command]
jobs:
  setup:
    name: Setup cache and determine changed repositories
    uses: bernt-matthias/tools-iuc/.github/workflows/wf_setup.yaml@master
    with:
      # default-galaxy-fork: galaxyproject
      # default-galaxy-branch: release_22.05
      max-chunks: 40
    secrets:
      PAT: ${{ secrets.PAT }}
  autoupdate:
    name: Autoupdate
    needs: setup
    uses: bernt-matthias/tools-iuc/.github/workflows/wf_autoupdate.yaml@master
    with:
  #     galaxy-fork: ${{ needs.setup.outputs.galaxy-fork }}
  #     galaxy-branch: ${{ needs.setup.outputs.galaxy-branch }}
      repository-list: ${{ needs.setup.outputs.repository-list }}
  #     chunk-count: ${{ needs.setup.outputs.chunk-count }}
  #     chunk-list: ${{ needs.setup.outputs.chunk-list }}
      galaxy-head-sha: ${{ needs.setup.outputs.galaxy-head-sha }}
  #     test-timeout: 900
    # secrets:
    #   PAT: ${{ secrets.PAT_AU }}
