name: Weekly global Tool Linting and Tests
on:
  schedule:
    # Run at midnight every monday
    - cron: '0 0 * * 1'
  repository_dispatch:
    types: [run-all-tool-tests-command]
jobs:
  setup:
    name: Setup cache and determine changed repositories
    # adapt the owner name
    if: ${{ github.repository_owner == 'galaxyproject' }}
    uses: galaxyproject/tools-iuc/.github/workflows/wf_setup.yaml@master
    with:
      # default-galaxy-fork: galaxyproject
      # default-galaxy-branch: release_22.05
      max-chunks: 40
    secrets:
      PAT: ${{ secrets.PAT }}

  test:
    name: Test tools
    needs: setup
    uses: galaxyproject/tools-iuc/.github/workflows/wf_test.yaml@master
    with:
      galaxy-fork: ${{ needs.setup.outputs.galaxy-fork }}
      galaxy-branch: ${{ needs.setup.outputs.galaxy-branch }}
      planemo-version: ${{ needs.setup.outputs.planemo-version }}
      repository-list: ${{ needs.setup.outputs.repository-list }}
      chunk-count: ${{ needs.setup.outputs.chunk-count }}
      chunk-list: ${{ needs.setup.outputs.chunk-list }}
      galaxy-head-sha: ${{ needs.setup.outputs.galaxy-head-sha }}
      # test-timeout: 900
    secrets:
      PAT: ${{ secrets.PAT }}
