name: Slash Command Dispatch
on:
  issue_comment:
    types: [created]
jobs:
  slashCommandDispatch:
    runs-on: ubuntu-latest
    steps:
      - name: Slash Command Dispatch
        # workaround for checking availablity of secret https://github.com/actions/runner/issues/520
        env:
          PAT: ${{ secrets.PAT }}
        if: github.repository_owner == 'galaxyproject' and env.PAT != ''
        uses: peter-evans/slash-command-dispatch@v3
        with:
          token: ${{ secrets.PAT }}
          commands: |
            run-all-tool-tests
