# this is a tab separated file describing the location of nextclade databases used for the
# nextclade viral lineage typing tool
#
# the columns are:
# value    dataset_name    description    date    min_nextclade_version    max_nextclade_version    path
#
# min_nextclade_version and max_nextclade_version are the minimum and maximum nextclade tool versions compatible with the dataset; max_nextclade_version will often be an empty string if at the time of installing the dataset the last version of nextclade compatible with it is not known yet. In this case, an admin can prevent the record from showing up in incompatible later nextclade wrapper versions by adding the then known value manually.
#
# value is a unique identifier of a dataset version composed of the dataset name (roughly corresponding to a species name), the reference sequence the dataset is based on, and the dataset version tag.
# For more details see the output of "nextclade dataset list" and https://docs.nextstrain.org/projects/nextclade/en/latest/user/datasets.html
#
# for example
#sars-cov-2_MN908947_2022-06-14T12:00:00Z    sars-cov-2    2022-06-14T12:00:00Z/MN908947    2022-06-14T12:00:00    1.10.0        /srv/galaxy/tool-data/nextclade/sars-cov-2_2022-06-14T12-00-00Z
